@import "~style/mixins";
@import "~style/vars";

.mini-news {
    position: relative;

    max-width: 100%;;
    padding-bottom: rem(15);
    overflow: hidden;

    @include below($mobile) {
        padding-top: rem(25);
    }

    @include above($tablet) {
        padding-top: rem(25);
    }

    @include above($tabletLandscape) {
        padding-top: rem(22);
    }

    &:not(:last-child) {
        border-bottom: 1px solid $gray;
    }

    &__info {
        position: relative;
        z-index: 1;

        max-width: 100%;
        padding-right: rem(10);

        transition: all .5s ease-in-out;

        @include below($mobile) {
            padding-right: rem(15);
        }
    }

    &__img {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;

        display: block;
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;

        opacity: 0;
        transform: translate(-50%, -50%);
        visibility: hidden;

        transition: all .5s ease-in-out;
    }

    &__title {
        // font: #{rem(18)}/#{rem(22)} $stemBold;
        color: $dark;
        text-decoration: none;
        font: #{rem(16)}/#{rem(21)} $stemBold;
        transition: color .5s ease-in-out;

        @include above($tablet) {
            font: #{rem(16)}/#{rem(21)} $stemBold;
        }
    }

    &__date {
        margin-top: rem(3);

        font-size: rem(12);
        line-height: 1;
        color: $gray-date;
    }

    &_about {

        &:first-child {

            .mini-news__title {
                line-height: rem(21) !important;
            }
        }

        .mini-news__title {
            line-height: rem(18) !important;
            // letter-spacing: rem(-.3);
        }
    }
}
