@import "~style/mixins";
@import "~style/vars";

.per-day {

    &__title {
        line-height: rem(32);

        border-bottom: none;
    }

    &__wrapper {
       display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include below($mobile) {
            flex-wrap: wrap;
            width: 100%;

            .block-square:not(:first-child) {
                margin-top: rem(14);
            }
        }
    }

    &__wrapper_margin {
        margin-top: rem(17);
    }
}
