@import "~style/mixins";
@import "~style/vars";

.per-day {

    &__title {
        line-height: rem(32);

        border-bottom: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        @include margin_x(#{rem(-8)});

        @include below($mobile) {
            flex-wrap: wrap;

            .block-square:not(:first-child) {
                margin-top: rem(14);
            }
        }

        .block-square {
            @include margin_x(#{rem(8)});
        }
    }

    &__wrapper_margin {
        margin-top: rem(17);
    }
}
