@import "~style/mixins";
@import "~style/vars";

.burger {

    &__element {
        position: relative;

        display: block;
        width: rem(20);
        height: rem(2);

        background-color: $white;
        cursor: pointer;

        &::before,
        &::after {
            content: '';

            position: absolute;
            left: 0;

            display: block;
            width: inherit;
            height: inherit;

            background-color: $white;
        }

        &::before {
            top: rem(-7);
        }

        &::after {
            bottom: rem(-7);
        }
    }
}
