@import "~style/mixins";
@import "~style/vars";

.burger {

    &__element {
        position: relative;

        display: block;
        width: rem(20);
        height: rem(2);

        background-color: $white;
        cursor: pointer;

        transition: background .2s ease-in-out;

        &::before,
        &::after {
            content: '';

            position: absolute;
            left: 0;

            display: block;
            width: inherit;
            height: inherit;

            background-color: $white;
        }

        &::before {
            top: rem(-7);
            transition: transform .3s ease-in-out, top .2s ease-in-out;
        }

        &::after {
            transition: transform .3s ease-in-out, top .2s ease-in-out;
            bottom: rem(-7);
        }
    }

    &-active &__element {
        background: transparent;
        
        &::before {
            top: rem(-1);
            transform: rotate(45deg);
        }

        &::after {
            top: rem(-1);
            transform: rotate(-45deg);
        }
    }
}
