mixin p-ready(data)
    +b.working.working--ready()&attributes(attributes)
        each item in data.items
            +e.item
                +e.wrap
                    +e.col-l

                        +b.time-publish
                            +e.TIME.date 15 января 2017,
                            +e.TIME.hours  15:18

                        .user__name= item.author

                    +e.col-r

                        +e.article

                            +e.HEADER.header
                                +b.rating
                                    +e.SPAN.item.is-active(class= item.ratingClass)
                                        input(type="radio", name="rating", id= item.ratingClass, disabled)
                                        label(for= item.ratingClass)= item.rating

                                +e.P.tag= item.tag

                            +e.cnt(class= item.cntClass)
                                p(class= item.ratingClass)= item.cnt

                            +b.working-d-tag
                                +e.SPAN.item #внешняя политика
                                +e.SPAN.item #США

                        +b.working__btns

                            button.btn.btn-md.btn-primary
                                | Предпросмотр

                            button.btn.btn-md.btn-success
                                +icon({ icon: 'arrowRight', class: 'arrowRight' })
                                | Редактировать
                    i.icon.icon-delete-reverse
        block
