.ready {


}

.header-ready {

    .header-l {

    }

    form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .input-icon {
        width: 61.6%;
        margin-right: 28px;
    }

    .toggle-btn {
        margin-top: 2px;
        &__item {
            margin-right: 0;
        }
    }

}

.working {

    &--ready {

        margin-top: -9px;

        .working__wrap {
            position: relative;

            align-items: center;
            padding-top: 14px;
            padding-right: 24px;
            padding-bottom: 14px;

        }
        
        .working__item {
            &:hover {
                .working__btns {
                    visibility: visible;
                }
                .icon-delete-reverse {
                    display: block;
                }
            }
        }

        .working__cnt {
            margin-top: 2px;
        }

        .working__col-l {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            flex-basis: 16.85%;
            // margin-top: 27px;

            border-right: 0;
        }
        .working__col-r {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // position: relative;
            margin-top: 2px;
            margin-left: 5px;
        }

        .working__ignore {
            position: absolute;
            top: 50%;
            right: 20px;

            display: none;

            transform: translateY(-50%);
        }

        .working__work {
            position: absolute;
            top: 50%;
            right: -10px;

            display: none;

            transform: translateY(-50%);
        }

        .working__btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
            flex-basis: 364px;
            width: 364px;
            padding-left: 40px;
            margin-right: 21px;

            visibility: hidden;

            .btn-primary {
                font-weight: 400;

                border: 0;
                background-color: #fff;
            }

            .btn-success {
                margin-left: 8px;

                border: 0;
                background-color: #fff;

                .icon {

                    position: relative;
                    top: 1px;

                    margin-left: -6px;

                }

            }

        }

        .time-publish {
            display: flex;
        }

        .user__name {
            margin-top: 5px;

            letter-spacing: 0.1px;
        }

        .icon-delete-reverse {
            position: absolute;
            top: 13px;
            right: 12px;

            display: none;

        }

    }

    &__article {
        flex-grow: 1;
    }

}
