include ../block-rectangle/block-rectangle
include ../block-square/block-square
include ../more-goods/more-goods

mixin random-news(data)
    - params = data
    +b.random-news()&attributes(attributes)
        block
        +e.row
            +block-rectangle(params.news_one)(class="random-news__block-rectangle random-news__block")

            +block-square(params.news_two)(class="random-news__block-square random-news__block")

            +block-square(params.news_three)(class="random-news__block-square random-news__block")

            +block-square(params.news_four)(class="random-news__block-square random-news__block")

            +block-square(random_news.more_news)(class="random-news__block-square random-news__block-square_list random-news__block")

        if (params.catalog)
            +more-goods(class="random-news__more-goods")

