@import "~style/mixins";
@import "~style/vars";

.header {
    position: fixed;
    z-index: 666;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: $bg-gray;

    .icon_info {
        display: block;
        width: rem(18);
        height: rem(18);

        @include below($mobile) {
            margin-right: rem(3);
        }

        @include above($tablet) {
            margin-top: 0;
            margin-left: rem(-11);
        }

        @include above($desktop) {
            //margin-top: rem(5);
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(5);
        padding-bottom: rem(5);

        &_alarm {
            @include padding_y(0);
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            min-height: inherit;
        }
    }

    &__right-part {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include below($mobile) {
            width: 50%;
        }
    }

    &__part-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        @include below($mobile) {
            width: 50%;


            .icon_info {
                display: none;
            }
        }
    }

    &__burger {
        margin-top: rem(-19);
        padding-top: rem(15);

        cursor: pointer;
    }

    &__logo {
        position: relative;

        width: rem(138);
        margin-right: rem(15);
        margin-top: rem(-23);

        @include below($mobile) {
            margin-left: rem(30);
        }

        @include above($tablet) {
            margin-left: rem(13);
        }

        @include above($desktop) {
            margin-left: rem(38);
        }
    }

    &__rss {
        order: 2;
    }

    &__rss {
        margin-left: rem(27);
    }

    &__alarm-block {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: rem(70);

        text-decoration: none;

        cursor: pointer;

    }

    &__when,
    &__event-link {
        font-size: rem(18);
        line-height: rem(40);
        color: $white;
    }

    &__when {
        margin-right: rem(17);
    }

    &__event-link {
        flex-grow: 2;

        text-align: right;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }

    &__event {
        font: #{rem(24)} / #{rem(40)} $stemBold;
        color: $white;
    }

    &_war:before {
        content: '';

        display: block;
        width: 100%;
        height: rem(70);

        background-color: $war;
    }

    &_margin + main {
        margin-top: 2.6875rem;
    }

    &_open-search {

        @include below($mobile) {

            .logo__img {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

}
