mixin popups(data)
    +b.popups()&attributes(attributes)
        h2 Справка
        +popup-help
        h2 Просмотр новости
        +popup-news-view
        h2 Динамика
        +popup-dynamic
        h2 Пуш уведомления
        +popup-push