@import "~style/mixins";
@import "~style/vars";

.block-square {
    position: relative;

    width: rem(301);
    height: rem(245);

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: rem(301);
        height: rem(245);

        background-color: rgba(0, 0, 0, .5);
    }

    &__img {
        width: rem(301);
    }

    &__link {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        display: block;
        width: rem(301);
        height: rem(245);
    }

    &__info {
        position: absolute;
        z-index: 1;
        bottom: 9px;
        left: 0;

        width: rem(252);
        padding-left: rem(20);
    }

    &__title {
        font: #{rem(18)}/#{rem(21)} $stemBold;
        color: $white;
    }

    &__title_font_small {
        font-size: rem(18);
        line-height: rem(21);
    }

    &__time-add {
        font-size: rem(12);
        line-height: rem(32);
        color: $gray;
    }

    &__time-update {
        color: $purple;
    }

    &__time-keeping {
        position: relative;

        margin-bottom: rem(5);
    }

    &__ico {
        width: rem(30);
        height: rem(30);
    }

    &__keeping {
        position: absolute;
        top: calc(50% - #{rem(10)});
        left: rem(25);

        font-size: rem(12);
        line-height: rem(18);
        color: $white;
    }
}

.block-rectangle {
    position: relative;

    width: rem(617);
    height: rem(250);

    &::before {
        content: '';

        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        display: block;
        width: rem(617);
        height: rem(141);

        background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
    }

    &__time-keeping {
        position: relative;

        margin-top: rem(9);
    }

    &__ico {
        width: rem(30);
        height: rem(30);
    }

    &__keeping {
        position: absolute;
        top: calc(50% - #{rem(10)});
        left: rem(25);

        font-size: rem(12);
        line-height: rem(18);
        color: $white;
    }

    &__link {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        display: block;
        width: rem(617);
        height: rem(250);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        width: rem(617);
        height: rem(250);
    }

    &__info {
        position: absolute;
        z-index: 1;
        bottom: 5px;
        left: 0;

        width: rem(310);
        padding-left: rem(19);
    }

    &__title {
        font: #{rem(24)}/#{rem(26)} $stemBold;
        color: $white;
    }

    &__title_font_small {
        font-size: rem(18);
        line-height: rem(21);
    }

    &__time-add {
        font-size: rem(12);
        line-height: rem(42);
        color: $gray;
    }

    &__time-upadate {
        color: $purple;
    }
}
