// Form elements

// textarea
.textarea {
    height: 109px;
    padding: 10px 13px;
    border: 1px solid rgba(204, 204, 204, 0.74);

    color: #000000;
    font-family: $opensans;
    font-size: rem(21);
    font-weight: bold;
    line-height: rem(26);
    letter-spacing: -0.6px;
    text-align: left;

    resize: none;
    overflow: hidden;

    &--light {
        min-height: 91px;

        color: #666666;
        font-family: $opensans;
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(21);
    }
}

.form-horizontal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-group {
    margin-bottom: 20px;
    @include clearfix;
    &:last-child {
        margin-bottom: 0;
    }

    &-sm {
        margin-bottom: 15px;
    }

    &--horizontal {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__label {

        margin-bottom: 2px;
        padding-right: 2px;

        font-family: $opensans;
        font-size: 12px;
        font-weight: 400;
        color: #999999;

        &--right {
            text-align: right;
        }

        span {

            color: #333333;

        }

        .form-group__label--out {

            color: #a03761;

        }

    }

}

// input
.input {
    display: inline-block;
    height: $el-height;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 6px;
    border: 1px solid rgba(204, 204, 204, 0.74);

    color: #666666;
    font-family: $opensans;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    appearance: none;
    outline: 0;
    border-radius: 0;
    // line-height: $el-height;


    &-success {
        border-color: $cl-success;
    }

    &-error {
        border-color: $cl-danger;
    }

    &[disabled] {
        color: #cccccc;
    }

    // sizing
    &-md {
        width: 247px;
    }

    &-full {
        width: 100%;
    }

    &-block {
        display: block;
        width: 100%;
    }

    // style font
    &-title {
        height: 119px;
        padding-left: 16px;
        padding-right: 16px;

        font-family: $opensans;
        font-weight: 400;
        color: #333333;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: -0.7px;
    }

    &-subtitle {
        height: 96px;
        padding-left: 19px;
        padding-right: 19px;

        color: #666666;
        font-family: $opensans;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
    }

    &-thesis {
        height: 95px;
        padding-left: 19px;
        padding-right: 19px;

        color: #666666;
        font-family: $opensans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;

        resize: vertical; 
    }

    // input with icon
    &-icon {
        position: relative;

        input {
            padding-left: 35px;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 9px;
            transform: translateY(-50%);
        }

    }

    &-icon--right {
        position: relative;
        input {
            padding-right: 35px;
        }

        .icon {
            position: absolute;
            top: 50%;
            right: 9px;
            transform: translateY(-50%);
        }

    }

}

// label
.label {
    display: block;
    margin-bottom: 5px;

    letter-spacing: -0.1px;

    &__bold {
        color: #333333;
        font-family: $opensans;
        font-size: rem(13);
        font-weight: 700;
        line-height: rem(18);
    }

    &__light {
        color: #999999;
        font-family: $opensans;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.1px;
    }

    &__right {
        float: right;
    }

}