.user {
    display: flex;
    align-items: center;
    margin-right: rem(11);
    // margin-left: rem(20);
    &__pic {
        display: block;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-right: rem(12);
        img {
            max-width: 100%;
            height: 100%;

            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__name {
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;

        color: #666;
        text-decoration: none;
        letter-spacing: 0.25px;
    }

}