mixin breadcrumbs(data)
    +b.breadcrumbs()&attributes(attributes)
        block
        +e.NAV.nav
            +e.UL.ul
                each li, idx in data
                    +e.item(class={'__item_active': idx == 1})
                        +e.A(href=jv0).link #{li}
