APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

FILESPOT_USER_ID=K_Wez1z049KpWxEmmh0vka_oKUqGjNSXojSRXjLfju8=
FILESPOT_USER_KEY=Zd2sdNZnG3thc8PaCtqCzXvX73CGYCfFbBkl2Rr8-tM=