// Common styles of the project

@import "~style/mixins";
@import "~style/vars";
@import "~style/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: #{rem(14)}/ #{rem(21)} $stemReg;
}

html {
    font-size: 16px;

    @include below($mobile) {
        //font-size: 5vw;
    }

    @include above($tablet) {
        //font-size: 2.222222222222222vw;
    }

    @include above($tabletLandscape) {
        //font-size: 1.544401544401544vw;
    }

    @include above($desktop) {
        font-size: 16px;
    }
}

h1 {
    font: #{rem(36)}/ #{rem(48)} $stemBold;
    // letter-spacing: rem(-.9);
    color: $enter;

    @include below($mobile) {
        font-size: rem(24);
        line-height: rem(24);
    }
}

h2 {
    font: #{rem(24)}/ #{rem(40)} $stemBold;
    color: $enter;
}

a {
    outline: none;
    cursor: pointer;
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $blue;
    }
}

main {
    margin-top: 1px;
    flex: 1 0 auto;

    @include below($mobile) {
        padding-top: rem(43);
    }

    @include above($tablet) {
        padding-top: rem(54);
    }

    @include above($tabletLandscape) {
        padding-top: rem(43);
    }
}
.war {

    main {
        padding-top: rem(113);
    }
}

#app {
    height: 100%;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-height: 100%;
    }
}

.br {
    display: block;
}

.wrapper-header {
    flex-shrink: 0;
}

.container {
    @include margin_x(auto);

    @include below($mobile) {
        width: rem(320);
        @include padding_x(#{rem(10)});
    }

    @include above($tablet) {
        width: rem(617);
    }

    @include above($tabletLandscape) {
        width: rem(932);
    }

    @include above($desktop) {
        width: rem(1248);
    }

}

.section-title {
    position: relative;
    padding-left: rem(24);
    font-size: rem(16);
    line-height: rem(30);
    text-transform: uppercase;
    // letter-spacing: rem(-.7);
    color: $black;
    border-bottom: 1px solid $gray;

    &::after,
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
    }

    &::before {
        z-index: 1;
        left: 0;
        top: calc(50% - #{rem(6)});
        border-bottom: rem(11) solid $blue;
        border-left: rem(20) solid transparent;
    }

    &::after {
        z-index: 0;
        left: 0;
        top: calc(50% - #{rem(8)});
        border-top: rem(11) solid $purple;
        border-left: rem(20) solid transparent;
    }

    &_no-border {
        border-bottom: none;
    }
}

.left-col {

    @include below($mobile) {
        width: 100%;
    }

    @include above($tablet) {
        width: 100%;
    }

    @include above($tabletLandscape) {
        width: rem(598);
    }

    @include above($desktop) {
        width: rem(865);
    }

    &_position_relative {
        position: relative;
    }

    &_width_inner {
        width: rem(932);

        @include below($tabletLandscapeMax) {
            width: rem(617);
        }

        @include below($tabletMax) {
            width: 100%;
        }
    }

}

.middle-col {
    width: 100%;

    &_size {

        @include between($tabletLandscape, $tabletLandscapeMax) {
            width: rem(617);
        }
    }
}

.right-col {
    width: rem(300);

    .enter-one {
        margin-top: rem(30);
        width: 100%;
        object-fit: cover;

        @include below($tabletLandscapeMax) {
            margin-top: rem(12);
        }
    }
    .info-noize {
        margin-top: rem(30);
    }
}

.inner-wrapper {
    margin-top: 2.6875rem;

    position: relative;

    .general-video {

        &::before,
        & > span,
        .general-video__img,
        .general-video__link {
            height: inherit;
        }
    }

    .general-video__img {
        // height: rem(396);
    }

    &_play {
        &:before {
            content: '';
            display: block;
            background: rgba(0,0,0,.7);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            right: 0px;
            top:0px;
            bottom: 0px;
        }
    }

    .text-bg-gray {
        width: rem(1040);

        @include below($mobile) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(720);
        }

        @include above($tablet) {
            width: rem(740) ;
        }

        @include above($desktop) {
            width: rem(1040);
        }
    }
}

.inner-default {

    h1 {
        margin-top: rem(4);
        line-height: rem(39);
    }

    .inner-about__content {
        position: relative;
        z-index: 0;
        margin-top: rem(30);
        font-family: $openSans;
        font-size: rem(16);
        line-height: rem(24);

        > p {

        }

    }


    .social-links {
        position: absolute;
        top: 100%;
        left: rem(180);

        margin-top: rem(-32);
    }
    .social-links--pad {
        left: rem(196);

        @include below($mobile) {
            left: 0;
        }

        @include above($tablet) {
            left: rem(120);
        }
    }

    .inner-about__date {
        margin-top: rem(2);

        font-family: $stemReg;
        font-size: rem(12);

        color: $gray-date;
    }
}

.text-bg-gray {
    position: relative;
    z-index: 1;

    background-color: $bg-text;

    &:before {
        content: ' ';

        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(-900);

        width: rem(900);

        background: $bg-text;
    }

    @include below($mobile) {
        width: 100%;
    }

    @include above($tabletLandscape) {
        width: rem(720);
        min-height: 0;
    }

    @include above($tablet) {
        width: rem(740);
        min-height: 0;
    }

    @include above($desktop) {
        min-height: rem(386);
        width: rem(1039);
    }

    &.inner-about__text-bg-gray_play:before {

        background-color: rgba(36, 55, 70, 0.2);
        /*@include above($mobile) {
            visibility: hidden;
        }*/
    }

    &__block-text {
        position: absolute;
        bottom: rem(-72);
        left: 17%;

        width: rem(427);
        padding: #{rem(24)} 0 #{rem(30)} #{rem(41)};

        text-align: right;
        // letter-spacing: rem(-.8);

        background-color: #a13461;
        background-image: url(/content/text-bg-gray/text-block.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include below($mobile) {
            background-color: transparent;
            background-image: linear-gradient(to left, #a13461 rem(275), transparent rem(25)) !important;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
        }

        &::before {
            top: 0;
            left: 100%;

            width: rem(32);
            height: 100%;
            margin-left: rem(-1);

            background-image: linear-gradient(-110deg, transparent rem(25), #a13461 rem(26));

            @include below($mobile) {
                left: rem(-1);
                background-image: linear-gradient(110deg, transparent rem(25), #a13461 rem(26));
            }
        }

        &::after {
            top: 100%;
            left: 0;

            width: calc(100% + #{rem(31)});
            height: rem(32);
            margin-top: rem(-1);

            background-image: linear-gradient(15deg, transparent rem(25), #a13461 rem(26));

            @include below($mobile) {
                left: rem(-2);
                width: calc(100% + #{rem(2)});
                background-image: linear-gradient(-10deg, transparent rem(25), #a13461 rem(26));
            }
        }

        @include below($mobile) {
            position: relative;
            left: 0;
            top: 0;
        }
    }

    &__text {
        font: #{rem(18)}/ #{rem(24)} $stemReg;

        color: $white;
    }

    &__text-lite {
        font: #{rem(15)}/ #{rem(24)} $stemReg;
        color: $white;
    }

    &__title {
        margin-bottom: rem(24);

        font-family: $stemBold;
        font-size: rem(24);
        line-height: rem(21);
        color: $purple;
    }

    &__update {
        position: absolute;
        right: rem(-32);
        bottom: rem(-22);
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(155);
        height: rem(75);
        padding-top: rem(8);

        font-family: $stemBold;
        font-size: rem(16);
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        background: url('/general/geometry/ice-cube.png');
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            color: $white;
        }
    }

}

.text-bg-gray--news {

    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: rem(7);
    margin-bottom: 0;

    @include below($mobile) {
        flex-wrap: wrap;
        height: auto;
        justify-content: flex-start;
        //flex-direction: column;
        padding-bottom: rem(50);
    }

    @include above($tablet) {
        height: auto;
        margin-top: rem(14);
    }

    &.text-bg-gray .text-bg-gray {

        &__block-text {
            z-index: 9;
            top: rem(26);
            bottom: auto;

            width: rem(317);
            padding: rem(43) rem(29) 0 rem(24);

            text-align: left;
            transition: left .3s;

            background-image: url(/content/text-bg-gray/text-block2.png);

            @include below($mobile) {
                top: rem(19);
                width: rem(300);
                padding-left: rem(38);
                padding-top: rem(31);
                text-align: right;
            }

            @include above($tablet) {
                top: rem(26);
                width: rem(281);
            }

            @include above($tabletLandscape) {
                width: rem(268);
            }

            &_play {

                @include above($tablet) {
                    left: calc(100% - #{rem(227)});

                    &:before {
                        left: rem(-31);
                        transform: scale(-1, 1);
                    }

                    &:after {
                        left: rem(-31.7);
                        transform: scale(-1, 1);
                        width: calc(100% + 1.94375rem);
                    }
                }

                @include above($tabletLandscape) {
                    left: calc(100% - #{rem(230)});
                }

                @include above($desktop) {
                    left: calc(100% - #{rem(319)});
                }

            }

        }
        &__block-text_play {
            padding: rem(43) rem(24) 0 0;

            @include below($mobile) {
                padding-left: rem(38);
            }
        }
        &__text {
            margin-bottom: rem(18);

            font-size: rem(15);
            line-height: rem(18);
        }

    }

    .general-video {
        height: rem(573);
        margin-right: rem(24);

        @include below($mobile) {
            width: rem(300);
        }

        @include above($tablet) {
            width: rem(300);
            margin-top: rem(100);
            margin-right: rem(20);
        }

        @include above($tabletLandscape) {
            //margin-top: auto;
            margin-right: rem(24);
        }

        @include above($desktop) {
            width: rem(320);
        }

        &:before {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        &__link {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        &__img {
            display: block;
            max-width: 100%;
            height: 100%;
            width: auto;
            object-fit: cover;

            @include above($tablet) {
                margin-top: 0;
            }
        }

        &__ico {
            display: inline;

            @include below($mobile) {
                width: rem(96);
                height: rem(96);
            }

            @include above($tablet) {
                width: rem(96);
                height: rem(96);
            }
        }

        &__date {
            margin-bottom: rem(29);

            @include below($mobile) {
                padding-right: rem(44);
                margin-bottom: rem(8);
                text-align: right;
            }

            @include above($tablet) {
                padding-right: rem(44);
                margin-bottom: rem(8);
                text-align: right;
            }

            @include above($desktop) {
                padding-right: rem(64);
                margin-bottom: rem(9);
                text-align: right;
            }
        }

        &__info {
            right: 0;

            width: auto;
        }

        &__span {
            left: rem(33);

            font-family: $stemReg;
            font-size: rem(14);

            @include below($mobile) {
                left: auto;
                right: rem(9);
            }

            @include above($tablet) {
                left: auto;
                right: rem(9);
            }

            @include above($desktop) {
                left: auto;
                top: calc(50% - #{rem(13)});
                right: rem(18);
            }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            min-height: rem(60);
            padding-right: rem(8);
            padding-left: rem(108);
            margin-left: rem(38);

            background-color: $gray-dirty;
        }

    }

}

.text-bg-gray--primary {
    height: auto;
    min-height: unset;
    padding-top: rem(26);
    padding-bottom: rem(68);
    padding-left: rem(195);
    margin-bottom: rem(30);
}

.inner-about {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(60);
    }

    &__enter-one {
        margin-top: rem(31);
    }

    &__info-noize {
        margin-top: rem(22);
    }

    &__enter-one--nopad .from-enter__info {
        width: 100%;
        padding-right: 6.7%;
        padding-left: 0;
    }

    &__text-bg-gray {
        position: relative;

        margin-top: rem(20);

        transform: translateX(-17%);
    }

    &__left {
        margin-top: rem(-15);
    }

    &__content {
        margin-top: rem(30);

        @include below($tabletMax) {
            padding-left: rem(67);
            margin-top: rem(26);
        }

        color: $enter;

        p {
            margin-bottom: rem(21);

            // letter-spacing: rem(-.35);
        }
    }

    &__figure-title {
        padding-left: rem(20);
        margin-top: rem(51);
        margin-bottom: rem(15);

        // letter-spacing: rem(-.5);
    }

    &__box-preview {
        width: rem(782);
        height: rem(289);
        margin-left: rem(81);

        background-color: $box;

        &_position {
            position: relative;
        }
    }

    &__box-img {
        width: inherit;
        height: inherit;
    }

    &__box-text {
        width: rem(356);
        height: rem(172);
        padding: #{rem(50)} #{rem(48) #{rem(28)} #{rem(25)}};

        font: #{rem(16)}/ #{rem(24)} $stemBold;
        color: $white;
        // letter-spacing: rem(-.8);

        background-image: url(/content/about/box-text.png);
        background-position: center;
        background-size: cover;

        &_position {
            position: absolute;
            top: rem(-72);
            right: rem(-36);
        }
    }

    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-right: rem(30);
    }

    &__copy {
        margin-top: rem(22);

        font-family: $stemReg;
        font-size: rem(12);
        color: $blue;
        text-decoration: none;
    }

    &__new-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(5);
        &__message {
            margin-right: rem(22);

            font-family: $stemReg;
            font-size: rem(12);
            line-height: rem(14);
            color: $gray-date;
        }
    }

    .inner-about__enter-one--no-category {
        .from-enter__category-link {
            display: none;
        }
    }

    &_margin {
        margin-top: rem(54);
    }

}

.list-default {
    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: rem(17);
        list-style: none;
        &:before {
            margin-right: rem(5);
            content: '—';
            color: #cc0000;
            font-family: $stemReg;
            font-size: rem(14);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.radio-round,
.checkbox-round {
    position: relative;
    input {
      &[type='radio'], &[type='checkbox'] {
        display: none;
      }
      &[type='radio'] + label, &[type='checkbox'] + label {
        position: relative;
        display: block;
        padding-left: rem(24);
        cursor: pointer;
      }
      &[type='checkbox'] + label:before, &[type='radio'] + label:before {
        width: rem(20);
        height: rem(20);
        position: absolute;
        top: 0;
        left: 0;
      }
      &[type='radio'],
      &[type='checkbox'] {
        + label:before {
          content: '';
          background-image: url('/general/round-unchecked.svg');
          background-size: 100%;
        }
        &:checked + label:before {
          content: '';
          background-image: url('/general/round-checked.svg');
          background-size: 100%;
        }
      }

    }

}

.breadcrumb-named {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    border-bottom: 1px solid #cccccc;

    &__sort {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: rem(14);

        &-by {
            font-family: $stemReg;
            font-size: rem(16);
            color: $enter;
        }
    }

    .breadcrumb {
        margin-top: rem(3);
        margin-left: rem(13);
        &:after {
            display: none;
        }
        &__ul {
            justify-content: flex-start;
            margin-top: 0;
        }
        &__item {
            margin-right: rem(19);
            &:before {
                bottom: rem(0);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            line-height: 1;
        }
        &__item_active a {
            color: $enter;
        }
    }

}
