// Common styles of the project

@import "~style/mixins";
@import "~style/vars";
@import "~style/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: #{rem(14)}/ #{rem(21)} $stemReg;
}

html {

    @include below($mobile) {
        font-size: 5vw;
    }

    @include above($tablet) {
        font-size: 2.222222222222222vw;
    }

    @include above($tabletLandscape) {
        font-size: 1.544401544401544vw;
    }

    @include above($desktop) {
        font-size: 16px;
    }
}

h1 {
    font: #{rem(36)}/ #{rem(48)} $stemBold;
    letter-spacing: rem(-.9);
    color: $enter;

    @include below($mobile) {
        font-size: rem(24);
        line-height: rem(24);
    }
}

h2 {
    font: #{rem(24)}/ #{rem(40)} $stemBold;
    color: $enter;
}

a {
    outline: none;
}

main {
    margin-top: 1px;
    flex: 1;

    @include below($mobile) {
        padding-top: rem(43);
    }

    @include above($tablet) {
        padding-top: rem(54);
    }

    @include above($tabletLandscape) {
        padding-top: rem(43);
    }
}
.war {
    main {
        padding-top: rem(113);
    }
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    @include margin_x(auto);

    @include below($mobile) {
        width: 100%;
        @include padding_x(#{rem(10)});
    }

    @include above($tablet) {
        width: rem(615);
    }

    @include above($tabletLandscape) {
        width: rem(930);
    }

    @include above($desktop) {
        width: rem(1250);
    }

}

.section-title {
    position: relative;
    padding-left: rem(24);
    font-size: rem(16);
    line-height: rem(30);
    text-transform: uppercase;
    letter-spacing: rem(-.7);
    color: $black;
    border-bottom: 1px solid $gray;

    &::after,
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
    }

    &::before {
        z-index: 1;
        left: 0;
        top: calc(50% - #{rem(6)});
        border-bottom: rem(11) solid $blue;
        border-left: rem(20) solid transparent;
    }

    &::after {
        z-index: 0;
        left: 0;
        top: calc(50% - #{rem(8)});
        border-top: rem(11) solid $purple;
        border-left: rem(20) solid transparent;
    }

    &_no-border {
      border-bottom: none;
    }
}

.left-col {

    @include below($mobile) {
        width: 100%;
    }

    @include above($tablet) {
        width: 100%;
    }

    @include above($tabletLandscape) {
        width: rem(598);
    }

    @include above($desktop) {
        width: rem(865);
    }

    &_position_relative {
        position: relative;
    }

    &_width_inner {
        width: rem(930);

        @include below($tabletLandscapeMax) {
            width: rem(613);
        }

        @include below($tabletMax) {
            width: 100%;
        }
    }

}

.middle-col {
    width: 100%;
}

.right-col {
    width: rem(300);

    .enter-one {
        margin-top: rem(30);
    }
    .info-noize {
        margin-top: rem(30);
    }
}

.inner-wrapper {
    margin-top: 2.6875rem;

    position: relative;

    // .general-video {
        // height: rem(396);

    //     &::before,
    //     .general-video__img,
    //     .general-video__link {
    //         height: rem(396);
    //     }
    // }

    &_play {
        &:before {
            content: '';
            display: block;
            background: rgba(0,0,0,.7);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            right: 0px;
            top:0px;
            bottom: 0px;
        }
    }

    .text-bg-gray {

        @include below($mobile) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(720);
        }

        @include above($tablet) {
            width: rem(740) ;
        }
    }
}
.inner-default {

    h1 {
        margin-top: rem(4);
        line-height: rem(39);
    }

    .inner-about__content {
        position: relative;
        z-index: 0;

        margin-top: rem(30);

        > p {
            letter-spacing: rem(-0.35);
        }

    }


    .social-links {
        position: absolute;
        top: 100%;
        left: rem(180);

        margin-top: rem(-32);
    }
    .social-links--pad {
        left: rem(196);
    }

    .inner-about__date {
        margin-top: rem(2);

        font-family: $stemReg;
        font-size: rem(12);

        color: $gray-date;
    }


    .text-bg-gray {
        position: relative;
        z-index: 1;

        background-color: $bg-text;

        &:before {
            content: ' ';

            position: absolute;
            top: 0;
            bottom: 0;
            left: rem(-900);

            width: rem(900);

            background: $bg-text;
        }

        @include below($mobile) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(720);
            min-height: 0;
        }

        @include above($tablet) {
            width: rem(740);
            min-height: 0;
        }

        @include above($desktop) {
            min-height: rem(386);
            width: rem(1039);
        }

        &.inner-about__text-bg-gray_play:before {
            visibility: hidden;
        }

        &__block-text {
            position: absolute;
            bottom: rem(-72);
            left: 17%;

            width: rem(427);
            padding: #{rem(24)} 0 #{rem(30)} #{rem(41)};

            text-align: right;
            letter-spacing: rem(-.8);

            background-color: #a13461;
            background-image: url(/content/text-bg-gray/text-block.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include below($mobile) {
                background-color: transparent;
                background-image: linear-gradient(to left, #a13461 rem(275), transparent rem(25)) !important;
            }

            &::after,
            &::before {
                content: '';
                position: absolute;
            }

            &::before {
                top: 0;
                left: 100%;

                width: rem(32);
                height: 100%;
                margin-left: rem(-1);

                background-image: linear-gradient(-110deg, transparent rem(25), #a13461 rem(26));

                @include below($mobile) {
                    left: rem(-1);
                    background-image: linear-gradient(110deg, transparent rem(25), #a13461 rem(26));
                }
            }

            &::after {
                top: 100%;
                left: 0;

                width: calc(100% + #{rem(31)});
                height: rem(32);
                margin-top: rem(-1);

                background-image: linear-gradient(15deg, transparent rem(25), #a13461 rem(26));

                @include below($mobile) {
                    left: rem(-2);
                    width: calc(100% + #{rem(2)});
                    background-image: linear-gradient(-10deg, transparent rem(25), #a13461 rem(26));
                }
            }

            @include below($mobile) {
                position: relative;
                left: 0;
                top: 0;
            }
        }

        &__text {
            font: #{rem(18)}/ #{rem(24)} $stemBold;

            color: $white;
        }

        &__text-lite {
            font: #{rem(15)}/ #{rem(24)} $stemBold;
            color: $white;
        }

        &__title {
            margin-bottom: 24px;

            font-family: $stemBold;
            font-size: 24px;
            line-height: 21px;
            color: $purple;
        }

        &__update {
            position: absolute;
            right: rem(-32);
            bottom: rem(-22);

            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(155);
            height: rem(75);
            padding-top: rem(8);

            font-family: $stemBold;
            font-size: 16px;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;

            background: url('/general/geometry/ice-cube.png');
            background-repeat: no-repeat;
            background-size: cover;
            &:hover {
                color: $white;
            }
        }

    }

    .text-bg-gray--news {

        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-top: rem(7);
        margin-bottom: 0;

        @include below($mobile) {
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: column;
            padding-bottom: rem(50);
        }

        @include above($tablet) {
            height: auto;
            margin-top: rem(14);
        }

        @include above($tabletLandscape) {
            height: rem(673);
        }

        &.text-bg-gray .text-bg-gray {

            &__block-text {
                z-index: 9;
                top: rem(23);
                bottom: auto;

                width: rem(317);
                padding: rem(23) rem(29) rem(33) rem(24);

                text-align: left;
                transition: left .3s;

                background-image: url(/content/text-bg-gray/text-block2.png);

                @include below($mobile) {
                    top: rem(19);
                    width: 100%;
                    padding-left: rem(38);
                    padding-top: rem(31);
                    text-align: right;
                }

                @include above($tablet) {
                    top: rem(20);
                    width: rem(281);
                }

                @include above($tabletLandscape) {
                    width: rem(225);
                }

                &_play {
                    opacity: .5;
                    left: 69.4%;

                    &:before {
                        left: -31px;
                        transform: scale(-1, 1);
                    }

                    &:after {
                        left: -31.7px;
                        transform: scale(-1, 1);
                        width: calc(100% + 1.94375rem);
                    }

                }

            }
            &__text {
                margin-bottom: rem(18);

                font-size: rem(15);
                line-height: rem(18);
                letter-spacing: rem(-0.75);
            }

        }

        .general-video {
            width: rem(320);
            height: rem(573);
            margin-right: rem(24);

            @include below($mobile) {
                width: 100%;
            }

            @include above($tablet) {
                width: rem(300);
                margin-top: rem(100);
                margin-right: rem(20);
            }

            @include above($tabletLandscape) {
                //margin-top: auto;
                margin-right: rem(24);
            }

            &:before {
                right: 0;
                bottom: 0;

                width: auto;
                height: auto;
            }

            &__link {
                right: 0;
                bottom: 0;

                width: auto;
                height: auto;
            }

            &__img {
                display: block;
                max-width: 100%;
                height: 100%;
                width: auto;
                object-fit: cover;

                @include above($tablet) {
                    margin-top: 0;
                }
            }

            &__ico {

                @include below($mobile) {
                    width: rem(96);
                    height: rem(96);
                }

                @include above($tablet) {
                    width: rem(96);
                    height: rem(96);
                }

                @include above($desktop) {
                    width: rem(40);
                    height: rem(40);
                }
            }

            &__date {
                margin-bottom: rem(29);

                @include below($mobile) {
                    padding-right: rem(44);
                    margin-bottom: rem(8);
                    text-align: right;
                }

                @include above($tablet) {
                    padding-right: rem(44);
                    margin-bottom: rem(8);
                    text-align: right;
                }

                @include above($desktop) {
                    margin-bottom: rem(29);
                }
            }

            &__info {
                right: 0;

                width: auto;
            }

            &__span {
                left: rem(33);

                font-family: $stemReg;
                font-size: rem(14);

                @include below($mobile) {
                    left: auto;
                    right: rem(9);
                }

                @include above($tablet) {
                    left: auto;
                    right: rem(9);
                }

                @include above($desktop) {
                    left: rem(33);
                    right: auto;
                }
            }

            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                min-height: rem(60);
                padding-right: rem(8);
                padding-left: rem(108);
                margin-left: rem(38);

                background-color: $gray-dirty;
            }

        }

    }

    .text-bg-gray--primary {
        height: auto;
        min-height: unset;
        padding-top: rem(26);
        padding-bottom: rem(68);
        padding-left: rem(195);
        margin-bottom: rem(30);
    }
}