@import "~style/mixins";
@import "~style/vars";


.news-top_programs {

    .from-enter {

        &__info {
            bottom: rem(21);
        }

        &__category {
            margin-top: rem(11);
        }

        &_big {

            .from-enter__category {
                margin-top: rem(16);
            }
        }
    }

    .news-top {

        &__news-header {
            margin-top: rem(23);
        }

        &__news-one-line {
            margin-top: rem(-65);

            @include below($tabletLandscapeMax) {
                margin-top: rem(15);
            }

            .block-square__info {
                bottom: rem(10);
            }

            .block-square__title {
                margin-bottom: 0;
            }
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: stretch;
            justify-content: space-between;
            margin-bottom: rem(65);

            &.no-flex {
                display: block;
            }
        }

        &__container-programs {
            margin-bottom: rem(55);
        }

        &__subscribe-programs {
            margin-top: rem(-10);

            @include below($tabletMax) {
                margin-top: rem(11);
            }

            @include below($mobile) {
                margin-top: 0;
                margin-bottom: rem(20);
            }
        }

        &__banner-preview {
            margin-top: rem(-15);
            margin-bottom: rem(24);

            @include below($tabletMax) {
                margin-top: rem(15);
                margin-bottom: rem(18);
            }
        }

        &__full {
            width: 100%;
        }
    }

    .banner__where-view {
        margin-bottom: rem(30);

        @include below($tabletLandscapeMax) {
            width: rem(615);
        }

        @include below($tabletMax) {
            width: rem(300);
            margin-top: rem(20);
            margin-bottom: rem(20);
        }
    }

    .left-col_width_inner {

        @include below($tabletMax) {
            width: rem(300);
        }
    }

    .from-enter_big {
        margin-left: 0;
        margin-right: 0;

        @include below($tabletLandscapeMax) {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .news-one-line {

        .from-enter_big {
            height: rem(387);

            @include below($tabletLandscapeMax) {
                height: rem(450);
            }

            @include below($tabletMax) {
                margin-bottom: rem(8);
            }
        }

        &__item-bottom {
            margin-bottom: rem(22) !important;
            justify-content: space-between;

            @include below($mobile) {
                margin-bottom: rem(15);
            }
        }

        &__item-bottom .from-enter{
            align-self: flex-end;
        }

        &__row {
            margin-bottom: rem(14);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &_margin {
                @include margin_x(#{rem(-8)});

                .from-enter {
                    @include margin_x(#{rem(8)});
                    margin-bottom: rem(16);
                }
            }
        }

        &__block-rectangle {
            @include margin_y(#{rem(7)});
            width: rem(615);
            height: rem(245);

            .block-rectangle__link,
            .block-rectangle__img {
                height: rem(245);
            }
        }

        .block-rectangle__info {
            bottom: rem(6);
        }

        &__block-square {
            @include margin_y(#{rem(7)});
            width: rem(300);

            &::before,
            .block-square__img,
            .block-square__link {
                width: rem(300);
            }

            .block-square__title {
                // letter-spacing: rem(-.2);
            }

            .block-square__info {
                bottom: rem(8);
            }
        }

        &__date {
            height: rem(49);
            font-size: rem(14);

            color: #243746;

            @include below($tabletLandscapeMax) {
                height: auto;
                padding-bottom: rem(9);
                margin-bottom: rem(19);
                border-bottom: 1px solid $gray;
            }

            @include below($mobile) {
                height: auto;
            }

            .button {
                color: #00a5b6;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }
            }

        }

        &__date-title {
            color: $enter;
            margin-right: rem(23);

            @include below($mobile) {
                display: block;
                margin-bottom: rem(10);
            }
        }

        &__date-wrap {
            width: rem(617);
            padding-top: rem(94);

            @include below($tabletLandscapeMax) {
                width: 100%;
                padding-top: rem(28);
            }

            @include below($tabletMax) {
                width: 100%;
            }

            &_view-desktop {

                @include below($tabletMax) {
                    margin-top: 0;
                    padding-top: 0;
                }
            }
        }

        &__date-items {
            display: flex;
            flex-wrap: wrap;
            @include margin_x(#{rem(-8)});

            .from-enter {
                @include margin_x(#{rem(8)});
            }
         }

        &__from-text,
        &__to-text {
            margin-right: rem(11);

            @include below($mobile) {
                margin-right: 0;
            }
        }
    }
}


.news-header {

    &__title {

        @include padding_y(#{rem(20)});

        background-color: #778091;

        color: #fff;
        font-size: rem(36);
        text-transform: uppercase;

        &-logo {
            width: rem(204);
            height: rem(113);

            background-size: cover;

            position: absolute;
            z-index: 1;
            left: rem(630);
            top: rem(-21);

            @include below($tabletLandscapeMax) {
                left: rem(465);
                width: rem(180);
                height: rem(98);
            }

            @include below($tabletMax) {
                display: none;
            }

            &_show {
                background-image: url(/content/rtvi/show.png);
            }

            &_talk {
                background-image: url(/content/rtvi/talk.png);
            }

            &_news {
                background-image: url(/content/rtvi/news.png);
            }

        }

    }

    &__container {
        position: relative;
    }

    &__content {
        position: relative;
        padding-top: rem(37);
        font-size: rem(15);
        line-height: rem(26);

        background-image: url(/content/broadcast/programs.png);
        background-size: cover;

        @include below($tabletLandscapeMax) {
            padding-top: rem(50);
        }

        @include below($tabletMax) {
            padding-top: rem(27);
        }

        @include below($mobile) {
            display: flex;
            flex-wrap: wrap;
            padding-top: rem(15);
        }
    }

    &__content-container {
        padding-bottom: rem(40);
        width: 38.4375rem;

        @include below($tabletMax) {
            padding-right: 53%;
            margin-bottom: 0;
        }

        @include below($mobile) {
            width: rem(300);
            padding-right: 0;
            margin-bottom: rem(15);
            margin-top: rem(15);
        }

        &_big {

            @include below($tabletLandscapeMax) {
                width: rem(390);
            }

            @include below($tabletMax) {
                width: 100%;
                padding-right: 0;
            }
        }
    }

    &__container {

        &_personality {
            position: relative;
            order: 3;

            @include below($mobile) {
                order: 1;
            }
        }

        &_personal-description {
            order: 2;
        }

        &_tabs {
            order: 2;

            @include below($mobile) {
                order: 3;
            }
        }
    }

    &__personality {
        display: block;

        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        width: rem(382);
        height: rem(465);

        position: absolute;
        z-index: 1;
        right: rem(60);
        bottom: 0;

        @include below($tabletLandscapeMax) {
            right: 0;
        }

        @include below($tabletMax) {
            right: rem(-18);
            width: rem(328);
            height: auto;
        }

        @include below($mobile) {
            position: static;
            width: rem(300);
        }

        &_big {
            width: rem(545);
            height: auto;

            @include below($tabletMax) {
                width: 100%;
                min-width: rem(300);
                position: static;
            }
        }
    }

    &__tabs {
        width: rem(617);

        border-top: rem(1) solid #b9babc;
        padding: rem(8) 0 rem(70);

        @include below($tabletMax) {
            padding-bottom: rem(15);
            border-top: none;
        }

        @include below($mobile) {
            width: rem(300);
            padding-bottom: rem(15);
        }

        &_item {
            display: inline-block;

            font-size: rem(14);
            text-transform: uppercase;
            color: #00a5b6;
            font-weight: bold;

            margin-right: rem(15);

            &.active {
                color: #9f305a;
            }
        }
    }

}
