include ../tags/tags
mixin popup-dynamic(data)
    +b.popup-dynamic()&attributes(attributes)
        +e.HEADER.header
            a.link-black(href=jv0)
                +icon({ icon: 'dynamic', class: 'dynamic' }) 
                | Динамика
            a.icon.icon-delete-lg(href=jv0)
        +e.cnt
            +tags()
            img(src="%=static=%img/content/dynamic.png", alt="")
            h5 пока это статическое изображение
        block
