include ../general-video/general-video
include ../info-noize/info-noize
include ../enter-one/enter-one
include ../text-bg-gray/text-bg-gray
include ../social-links/social-links
include ../breadcrumb/breadcrumb
include ../top-button/top-button
include ../timeline/timeline

mixin p-text-stream(data)
    +b.inner-about.inner-wrapper.inner-default.text-stream()&attributes(attributes)

        //- block
        +e.container.container
            +e.left.left-col_position_relative

                +e.title
                    h1 Происшествие обычного режима
                    +e.A.copy(href=jv0) Скопировать ссылку
                //- +e.date Последнее обновление 5 минут назад

                +b.text-bg-gray.text-bg-gray--primary.inner-about__text-bg-gray

                    +e.H2.title Главное

                    +b.UL.list-default.list
                        +e.LI.item
                            p Он был застрелен сегодня утром во время своего визита в военную часть.
                        +e.LI.item
                            p Марксизм практически начинает экспериментальный кризис легитимности.
                        +e.LI.item
                            p Онтогенез речи важно начинает культ личности. Толпа отражает эгоцентризм. Гештальт противоречиво интегрирует контраст.
                        +e.LI.item
                            p Политическая модернизация иллюстрирует механизм власти.

                    +e.A.update(href=jv0) Обновить

                    +social-links(socialLinks.side)(class='social-links--vertical')

                +e.content

                    +e.text-stream__head

                        +e.sort
                            +e.sort-by Сначала
                            +breadcrumb(breadcrumb.textStream)

                        +e.new-content
                            +e.new-content__message 2 новых сообщения
                            .checkbox.checkbox-circle
                                input#ko1(type='checkbox')
                                label(for="ko1") Обновлять автоматически

                    +timeline(timeline.textStream)
                    
                +top-button

            +e.right.right-col

                +general-video(general_video.mini_photo)(class="inner-about__general-video")

                +info-noize(info_noize.news)(class="inner-about__info-noize")

                +enter-one(from_enter.one)(class="inner-about__enter-one inner-about__enter-one--border")

