include ../from-enter/from-enter

mixin enter-one(data, type)
    +b.enter-one()&attributes(attributes)
        block
        if type == 'Инфошум'
            +e.A.title.section-title.section-title_no-border(href=jv0) Инфошум

        else if type == 'Новости на RTVi'
            +e.A.title.section-title.section-title_no-border(href=jv0) Новости на RTVi

        else if type == 'Из Эфира'
            +e.A.title.section-title.section-title_no-border(href=jv0) Из Эфира

        else
            +e.A.title.section-title.section-title_no-border(href=jv0) Из эфира

        +from-enter(data)(class="general-news__from-enter")
