@import '~style/mixins';
@import "~style/vars";
.subscribe {
    width: rem(300);

    &__img {
        width: rem(300);
    }

    &:hover {

        & .subscribe {

            &__container {
                display: block;
            }
        }
    }

    &__container {
        position: absolute;
        z-index: 3;

        display: none;
        width: rem(300);
        padding-top: rem(26);
        padding-bottom: rem(15);
        @include padding_x(#{rem(16)});
        margin-top: -.5rem;

        border: rem(1) solid $dark-blue;
        background-color: $white;

        .subscribe-networks {

            &__ico-image {
                width: rem(30);
                height: rem(30);
            }


        }
    }

    &_in-body {

        .subscribe-networks {

            &__list-network {
                margin-top: 0;
            }

            &__ico-link:not(:last-child) .subscribe-networks__ico-image {
                margin-right: rem(9);
            }
        }
    }
}

