@import "~style/mixins";
@import "~style/vars";

.general-news {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        margin-bottom: rem(60);
    }
    // удалить позже
    &__left {

        @include below($mobile) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(613);
        }

        @include above($desktop) {
            width: rem(915);
        }
    }

    &__left_more {

        @include above($tabletLandscape) {
            margin-top: rem(-60);
        }

        @include above($desktop) {
            width: rem(932);
            margin-top: 0;
        }
    }

    &__middle {

        @include above($tablet) {
            width: 100%;
            margin-top: rem(4);
        }

        @include above($tabletLandscape) {
            width: rem(615);
            margin-top: 0;
        }

        @include above($desktop) {
            width: 100%;
        }

    }

    &__right {
        width: rem(300);
    }

    &__left-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include below($mobile) {
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
        }

        @include above($tablet) {
            flex-wrap: wrap;
        }

        @include above($desktop) {
            flex-wrap: nowrap;
        }

        .info-noize {
            margin-left: rem(14);
        }

        &.two-wrapper {

            @include above($tablet) {
                margin-top: rem(19);
            }

            @include above($tabletLandscape) {
                margin-top: rem(3);
            }

            @include above($desktop) {
                margin-top: rem(16);
            }

            &_war {
                margin-top: rem(12);
            }
        }
    }

    &__big-news {

        &_war {
            height: rem(515);

            .big-news__info {
                bottom: rem(30);
            }

            .big-news__position_margin {
                margin-top: rem(3);
            }
        }
    }

    &__now {
        overflow: hidden;

        @include below($mobile) {
            width: rem(300);
            margin-top: rem(18);
        }

        @include above($tablet) {
            width: rem(299);
            min-height: inherit;
            margin-top: rem(17);
        }

        @include above($tabletLandscape) {
            width: 100%;
            min-height: inherit;
            margin-top: rem(16);
        }

        @include above($desktop) {
            min-height: rem(505);
        }

    }

    .info-noize {
        width: rem(300);
        border: 2px dashed $gray-dirty;
        position: relative;

        @include below($mobile) {
            width: 100%;
            margin-top: rem(33);
            margin-left: 0;
        }

        @include above($tablet) {
            margin-top: rem(44);
            margin-left: 0;
            padding-bottom: rem(37);
        }

        @include above($tabletLandscape) {
            margin-top: rem(20);
            padding-bottom: rem(7);
        }

        @include above($desktop) {
            margin-left: rem(14);
            margin-top: 0;
        }

        &:hover {

            .info-noize__title {
                color: $blue;
            }
        }

        &__title {
            position: absolute;
            left: -2px;
            top: -15px;
            padding-right: rem(10);
            border-bottom: 0;
            background: $white;
            transition: all .5s ease;
        }

        &__wrapper {
            @include padding_x(#{rem(14)});

            @include above($tablet) {
                margin-top: rem(37);
                padding-left: rem(19);
            }

            @include above($tabletLandscape) {
                margin-top: rem(31);
                @include padding_x(#{rem(14)})
            }

            @include above($desktop) {
                margin-top: rem(30);
            }
        }

        .icon_scissors {
            fill: $gray-dirty;
            display: block;
            position: absolute;
            top: 4px;
            right: -140%;
            background-color: $white;

            @include above($tablet) {
                right: -125%;
            }

            @include above($tabletLandscape) {
                right: -140%;
            }
        }

        &_right-block {
            padding-left: 0;
            margin-top: rem(30);

            .info-noize__wrapper {
                margin-top: rem(10);
            }

            .info-noize__title {
                padding-bottom: rem(2);
                padding-left: rem(24);
            }

            .mini-news__title {
                letter-spacing: rem(-.3);
            }

            .info-noize__mini-news {
                margin-top: rem(9);

                &:not(:first-child) {
                    margin-top: rem(9);
                }
            }
        }

        &_war {
            margin-top: rem(11);

            .info-noize__wrapper {
                margin-top: rem(18);
            }

            .block-square_war {

                .block-square__title {
                    margin-bottom: rem(33) !important;

                    letter-spacing: rem(.25);
                }
            }
        }

    }

    &__banner {
        width: 100%;
        margin-top: rem(24);

        @include above($tablet) {
            display: none;
        }

        @include above($tabletLandscape) {
            display: block;
        }
    }

    &__subscribe {
        margin-top: rem(15);
    }

    &__random-news {

        @include below($mobile) {
            margin-top: rem(7);
        }

        @include above($tablet) {
            margin-top: rem(18);
        }

        @include above($tabletLandscape) {
            margin-top: rem(15);
        }

        @include above($desktop) {
            margin-top: rem(26);
        }

        &_war {
            margin-top: rem(29);

            .mini-news:first-child {
                padding-top: 0 !important;
            }
        }
    }

    &__more-news {
        margin-top: rem(23);

        @include below($mobile) {
            margin-top: 0;
        }

        &_war {
            margin-top: rem(24);
        }
    }

    &__enter-one {
        margin-top: rem(30);
    }

    &__more-video {
        margin-top: rem(20);

        &_war {
            margin-top: rem(18);
        }
    }

    &__list-video {
        margin-top: rem(50);

        &_war {
            margin-top: rem(49);
        }
    }

    &__banner-preview {


        @include above($tabletLandscape) {
            height: rem(122.5);
        }

        @include above($desktop) {
            height: rem(145);
            margin-top: rem(-21);
        }

        &_war {
            margin-top: rem(-22);
        }
    }

    &__now-war {
        padding-top: rem(15);
    }

    &__per-day {

        @include below($mobile) {
            width: 100%;
            margin-top: rem(20);
        }

        &_war {
            margin-top: 11px;
        }
    }

    &__from-enter {
        margin-top: rem(5);

        &_war {
            margin-top: 1px;
        }
    }
}

