.noize-all {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(65);
    }

    &__list-mini {
        width: rem(300);

        .mini-news__title {
            font-size: rem(14);
        }
    }

    .block-square {
        height: rem(250);
    }

    &__list {
        margin-top: rem(30);
    }

    &__row {
        @include margin_x(#{rem(-7.5)});
        @include margin_y(#{rem(-11.5)})
    ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: rem(1105);}

    &__item {
        @include margin_x(#{rem(7.5)});
        @include margin_y(#{rem(11.5)})
    ;}

    &__mini-news {
        padding-top: rem(10);
        padding-bottom: 0;

        border-bottom: none !important;

        &:nth-of-type(1) {
            padding-top: 0;
            margin-top: rem(-4);
        }

        .mini-news__title {
            display: inline-block;

            line-height: rem(19);
        }

        .mini-news__date {
            margin-top: rem(-4);

            font-size: 12px;
        }
    }

    &__block-square {

        .block-square__title {
            font-size: rem(21);
            line-height: rem(26);
        }
    }

    &__img-preload {
        width: rem(930);
    }

    &__news {
        margin-top: rem(25);

        .news__list {
            margin-top: rem(18);
        }
    }

    &__title-block {
        padding-bottom: rem(10);
    }

    &__general-video {
        margin-top: rem(12);
    }

}
