extends ../layouts/default

block vars
    -pageSettings.title = 'Просмотр выпускающим';

block content

    +b.HEADER.header.header-off.editor-view__top
        +b.header-bot
            +b.header-l
                +b.FORM.form-feed(action='' method='POST')
                    .form-horizontal
                        button.btn.btn-xs.btn-danger 
                            i.icon.icon-delete-reverse
                            | Удалить
                        a.btn.btn-xs.btn-danger(href="working.html") 
                            +icon({ icon: 'arrowLeft', class: 'arrowLeft' })
                            | Вернуть на правки
                        button.btn.btn-xs.btn-primary Предпросмотр
                        button.btn.btn-xs.btn-success
                            i.icon.icon-okay
                            | Опубликовать
            +b.header-r 
                a.link-black(href=jv0)
                    span ?
                    | справка
    // Контент здесь
    +p-editor-view