extends ../layouts/default

block vars
    -pageSettings.title = 'UI elements';

block content
    // Контент здесь
    div

        h2 Buttons
        .row
            button.btn.btn-md.btn-danger
                i.icon.icon-delete-reverse
                | Удалить
            button.btn.btn-md.btn-primary
                +icon({ icon: 'arrowRight', class: 'arrowRight' })
                | В работу
            button.btn.btn-md.btn-success
                i.icon.icon-okay
                | Опубликовать
            button.btn.btn-xs.btn-success ОК

        h2 Disabled buttons
        .row
            button.btn.btn-md.btn-danger(disabled)
                i.icon.icon-delete-reverse
                | Удалить
            button.btn.btn-md.btn-primary(disabled)
                +icon({ icon: 'arrowRight', class: 'arrowRight' })
                | В работу
            button.btn.btn-md.btn-success(disabled)
                i.icon.icon-okay
                | Опубликовать
            button.btn.btn-xs.btn-success(disabled) ОК

        h2 Active Buttons
        .row
            button.btn.btn-md.btn-danger.is-active
                i.icon.icon-delete-reverse
                | Удалить
            button.btn.btn-md.btn-primary.is-active
                +icon({ icon: 'arrowRight', class: 'arrowRight' })
                | В работу
            button.btn.btn-md.btn-success.is-active
                i.icon.icon-okay
                | Опубликовать
            button.btn.btn-xs.btn-success.is-active ОК

        h2 Toggle
        .row
            +toggle(toggle.ready)

        h2 Form Elements
        .row
            form(action='' method='POST')

                .form-group

                    input.input.input-md(type='text', value='Disabled Input' disabled)

                    input.input.input-md(type='text', value='Default Input')

                    input.input.input-success.input-md(type='text', value='Validated Input')

                    input.input.input-error.input-md(type='text', value='Error Input')

                .form-group
                    .input-icon
                        input.input.input-block#ko6(type='text' placeholder='Комментарий')
                        +icon({ icon: 'clip', class: 'clip' }) 

                .form-group
                    label.label.label__bold(for='ko4') Собрать команду для съемки сюжета
                    .input-icon
                        input.input.input-block#ko4(type='text')
                        +icon({ icon: 'search', class: 'search' }) 


            form(action='' method='POST' style='margin-top: 20px')
                div.form-group(style='margin-right: 50px; float: left;')
                    .checkbox
                        input(type='checkbox' id='checkbox1' name='checkbox1' value='kek')
                        label(for='checkbox1') Изображения
                    .checkbox
                        input(type='checkbox' id='checkbox2' name='checkbox1' value='kek')
                        label(for='checkbox2') Видео
                    .checkbox
                        input(type='checkbox' id='checkbox3' name='checkbox1' value='kek')
                        label(for='checkbox3') Музыка
                    .checkbox
                        input(type='checkbox' id='checkbox4' name='checkbox1' value='kek' disabled)
                        label(for='checkbox4') Disabled
                div.form-group(style='float: left; margin-right: 50px;')
                    .radio
                        input(type='radio' id='radio1' name='radio1' value='lol')
                        label(for='radio1') Изображения
                    .radio
                        input(type='radio' id='radio2' name='radio1' value='lol')
                        label(for='radio2') Видео
                    .radio
                        input(type='radio' id='radio3' name='radio1' value='lol')
                        label(for='radio3') Музыка
                    .radio
                        input(type='radio' id='radio4' name='radio1' value='lol' disabled)
                        label(for='radio4') Disabled

                div.form-group(style='float: left')
                    .toggle
                        input#cb1(type='checkbox' checked)
                        label(for='cb1')
                        span Активен
                    .toggle.toggle--reverse
                        span Заблокирован
                        input#cb2(type='checkbox' disabled)
                        label(for='cb2')


        h2 Select
        .row

            .form-group
                .select.select-default
                    .input-icon
                        input.input.input-block#ko4(type='text')
                        +icon({ icon: 'search', class: 'search' }) 
                        
                    .select-dropdown
                        .select-item
                            +user('Ковалев Максим', '%=static=%img/content/user1.png')
                            span Выбрать

                        .select-item
                            +user('Короленко Анастасия', '%=static=%img/content/user2.png')
                            span Выбрать
            
            .form-group
                label.label.label__bold(for='ko4') Назначить редактора статьи
                .select.select-diff
                    .input-icon
                        input.input.input-block#ko4(type='text')
                        +icon({ icon: 'search', class: 'search' }) 

                    .select-dropdown
                        .select-item
                            +user('Ковалев Максим', '%=static=%img/content/user1.png')
                            span Выбрать

                        .select-item
                            +user('Короленко Анастасия', '%=static=%img/content/user2.png')
                            span Выбрать



        h2 Tags
        .row
            +tags()

        h2 Rate news
        .row
            +rating(rating)

        h2 Text elements
        .row

        h2 Tabs Nav
        .row(style='margin-bottom: 50px; height: 60px')
            +tabs-nav(tabsNav.stats)

        h2 Status Online or Not
        .row
            +status(class='is-active')
            +status()

        h2 Text editing header
        .row
            +text-header()
    
        h2 Image editing header
        .row
            +image-header()