extends ../layouts/default

block vars
    -pageSettings.title = 'Навигация';

block content
    // Контент здесь
    ul
        li
            a(href="gui.html") Элементы сайта
        li
            a(href="popups.html") Всплывающие окна
        li
            a(href="login.html") Авторизация
        li
            a(href="feed.html") Лента
        li
            a(href="stats.html") Статистика
        li
            a(href="stats-article.html") Статистика статьи
        li
            a(href="stats-editor.html") Статистика пользователя
        li
            a(href="working.html") В работе
        li
            a(href="editor-view.html") Просмотр выпускающим
        li
            a(href="main.html") Главная
        li
            a(href="programs.html") Программы
        li
            a(href="ready.html") Готовые материалы
        li
            a(href="live.html") Прямой эфир
        li
            a(href="profile.html") Профиль пользователя
        li
            a(href="profile-history.html") Профиль пользователя - История