extends ../layouts/default

block vars
    -pageSettings.title = 'Лента';

block content
    // Контент здесь
    +b.header-bot
        +b.header-l
            +b.FORM.form-feed(action='' method='POST')
                .form-horizontal
                    +e.input.input-icon
                        input.input.input-block#ko4(type='text' placeholder='Ключевые слова')
                        +icon({ icon: 'search', class: 'search' }) 
                    +e.input.input-icon
                        input.input.input-block#ko4(type='text' placeholder='Агенство')
                        +icon({ icon: 'search', class: 'search' })
                    button.btn.btn-xs.btn-success ОК
        +b.header-r 
            a.header-link(href=jv0)
                span ?
                | справка
    .content-wrap
        .content-l
            +news-list()
        .content-r
            form(action='' method='POST')
                +tags()
                +rating()
                +b.form-group
                    textarea.textarea.input-block Кремль заявил о «серьезной усталости» от обвинений в кибератаках
                +b.form-group.form-group-sm
                    label.label.label__bold(for='ko2') Назначить редактора статьи
                    .select
                        .input-icon
                            input.input.input-block#ko4(type='text')
                            +icon({ icon: 'search', class: 'search' }) 
                        .select-dropdown
                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user1.png', alt='')
                                .select-item__cnt
                                    p Ковалев Максим
                                    span Выбрать

                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user2.png', alt='')
                                .select-item__cnt
                                    p Короленко Анастасия
                                    span Выбрать

                +b.form-group.form-group-sm
                    label.label.label__bold(for='ko3') Назначить редактора в прямой эфир
                    .select
                        .input-icon
                            input.input.input-block#ko4(type='text')
                            +icon({ icon: 'search', class: 'search' }) 
                        .select-dropdown
                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user1.png', alt='')
                                .select-item__cnt
                                    p Ковалев Максим
                                    span Выбрать

                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user2.png', alt='')
                                .select-item__cnt
                                    p Короленко Анастасия
                                    span Выбрать

                +b.form-group.form-group-sm
                    label.label.label__bold(for='ko4') Собрать команду для съемки сюжета
                    .select
                        .input-icon
                            input.input.input-block#ko4(type='text')
                            +icon({ icon: 'search', class: 'search' }) 
                        .select-dropdown
                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user1.png', alt='')
                                .select-item__cnt
                                    p Ковалев Максим
                                    span Выбрать

                            .select-item
                                .select-item__pic
                                    img(src='%=static=%img/content/user2.png', alt='')
                                .select-item__cnt
                                    p Короленко Анастасия
                                    span Выбрать

                +b.form-group
                    label.label.label__light.label__right(for='ko5') Не более 4 слов через пробел
                    input.input.input-block#ko5(type='text' placeholder='Ключевые слова')

                +b.form-group
                    +e.input.input-icon
                        input.input.input-block#ko6(type='text' placeholder='Комментарий')
                        +icon({ icon: 'clip', class: 'clip' }) 

                +b.form-grop
                    button.btn.btn-block.btn-success Отправить в работу