extends ../layouts/default
include ../components/profile/profile
include ../components/tabs-nav/tabs-nav
block vars
    -pageSettings.title = 'Профиль пользователя';

block content
    // Контент здесь

    +b.HEADER.header.header-off
        +b.header-bot
            +b.header-l
                +tabs-nav(tabsNav.profile)
    
    +profile(profile)