extends ../layouts/default
include ../components/profile-history/profile-history
block vars
    -pageSettings.title = 'Профиль пользователя';

block content
    // Контент здесь

    +b.HEADER.header.header-off
        +b.header-bot
            +b.header-l
                +tabs-nav(tabsNav.profileHistory)
    
    +profile-history(history)