extends ../layouts/default

block vars
    -pageSettings.title = 'Программы';

block content
    // Контент здесь
    +programs-header

    .content-wrap.programs-page

        .row
            button.btn.btn-md.btn-primary
                +icon({ icon: 'arrowLeft', class: 'arrowLeft' })
                | Отменить изменения
            button.btn.btn-md.btn-success Предпросмотр
            button.btn.btn-md.btn-success
                i.icon.icon-okay
                | Сохранить
    
        +programs(programs)