extends ../layouts/default

block vars
    -pageSettings.title = 'Статистика редактора';

block content
    // Контент здесь

    +stats-header()
        +b.header-r
            a.link-black(href=jv0)
                +icon({ icon: 'dynamic', class: 'dynamic' }) 
                | Динамика

    .content-wrap.stats
        
        div 
        
            a.link-default(href=jv0) Вся статистика за сегодня
            
            +stats-editor