extends ../layouts/default
include ../components/task-list/task-list
block vars
    -pageSettings.title = 'Список заданий';

block content
    // Контент здесь

    +b.HEADER.header.header-off
        +b.header-bot
            +b.header-l
                +tabs-nav(tabsNav.takeTask)

            +b.header-r 
                a.link-black(href=jv0)
                    span ?
                    | справка

    +task-list(taskList)