@import "~style/mixins";
@import "~style/vars";

.news-detail {

    .inner-about {

        &__video-info {
            height: 100%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-right: rem(10);
            padding-bottom: rem(32);
            color: $gray-dirty;

            @include below($mobile) {
                display: none;
            }

            @include above($tablet) {
                display: none;
            }

            @include above($desktop) {
                display: flex;
            }
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: stretch;
            justify-content: space-between;
            margin-bottom: rem(60);
        }

        &__enter-one {
            margin-top: rem(31);
        }

        &__info-noize {
            margin-top: rem(22);
        }

        &__enter-one--nopad .from-enter__info {
            width: 100%;
            padding-right: 6.7%;
            padding-left: 0;
        }

        &__text-bg-gray {
            position: relative;

            margin-top: rem(20);
            margin-bottom: rem(100);

            transform: translateX(-17%);

            @include below($tabletMax) {
                margin-top: rem(15);
                margin-bottom: rem(16);
            }

            @include below($mobile) {
                transform: translateX(0);
            }

            &_play.text-bg-gray {
                // position: relative;
                @include above($mobile) {
                    z-index: 4;
                    background-color: rgba(36, 55, 70, 0.2);

                    & .social-links {
                        opacity: .5;
                    }
                }
            }


        }

        .text-bg-gray {

            &--news {

                .general-video {

                    margin-top: 0px;

                    @include below($mobile) {
                        margin-right: 0;
                    }
                    
                }

                .inner-about__video-info {
                    align-self: flex-end;
                }
            }
        }

        &__left {
            margin-top: rem(-15);
        }

        &__content {
            margin-top: rem(30);
            margin-left: rem(82);
            color: $enter;

            @include below($mobile) {
                margin-left: 0;
                padding-left: 0;
                margin-top: rem(24);
            }

            @include above($tablet) {
                margin-left: 0;
                margin-top: rem(24);
            }

            @include above($tabletLandscape) {
                margin-left: rem(64);
                margin-top: rem(22);
            }

            @include above($desktop) {
                margin-left: rem(82);
            }

            p {
                margin-bottom: rem(21);

                // letter-spacing: rem(-.35);
            }
            a {
                outline: none;
                cursor: pointer;
                &:hover {
                    color: $blue!important;
                }
            }

            & figure {
                position: relative;

                img {

                    width: 100%;
                    object-fit: cover;

                    position: relative;
                    z-index: 2;

                    @include below($tabletLandscapeMax) {
                        width: calc(100% + #{rem(13)});
                    }

                    @include below($tabletMax) {
                        width: 100%;
                    }
                }

                .photo__info {
                    margin-top: 0.1875rem;
                    font-family: "StemText Regular", sans-serif;
                    font-size: rem(12);
                    color: #9fa0a2;
                    z-index: 2;
                    position: relative;
                }

                .photo__title {
                    color: #243746;
                    position: relative;
                    z-index: 2;
                }

                figcaption {
                    position: relative;
                    z-index: 1;
                }

                &:after {
                    content: ' ';
                    display: block;
                    width: rem(1338);
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    background: #eaecee;
                    top: 0;

                    transform: translateX(-47.5%);

                    @include below($tabletLandscapeMax) {
                        width: rem(1021);
                        transform: translateX(-54.5%);
                    }

                    @include below($tabletMax) {
                        width: rem(1046);
                        transform: translateX(-47.5%);
                    }

                    @include below($mobile) {
                        width: rem(571);
                        transform: translateX(-47.5%);
                    }
                }
            }
        }

        &__figure-title {
            position: relative;
            padding-left: rem(20);
            margin-top: rem(51);
            margin-bottom: rem(15);

            // letter-spacing: rem(-.5);
        }

        &__box-preview {
            width: rem(782);
            height: rem(289);
            margin-left: rem(81);

            background-color: $box;

            &_position {
                position: relative;
            }
        }

        &__box-img {
            width: inherit;
            height: inherit;
        }

        &__box-text {
            width: rem(356);
            height: rem(172);
            padding: #{rem(50)} #{rem(48) #{rem(28)} #{rem(25)}};

            font: #{rem(16)}/ #{rem(24)} $stemBold;
            color: $white;
            // letter-spacing: rem(-.8);

            background-image: url(/content/about/box-text.png);
            background-position: center;
            background-size: cover;

            &_position {
                position: absolute;
                top: rem(-72);
                right: rem(-36);
            }
        }

        &__title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            padding-right: rem(30);
        }

        &__copy {
            margin-top: rem(22);

            font-family: $stemReg;
            font-size: rem(12);
            color: $blue;
            text-decoration: none;
        }

        &__new-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: rem(5);
            &__message {
                margin-right: rem(22);

                font-family: $stemReg;
                font-size: rem(12);
                line-height: rem(14);
                color: $gray-date;
            }
        }

        .inner-about__enter-one--no-category {
            .from-enter__category-link {
                display: none;
            }
        }

        &_margin {
            margin-top: rem(54);
        }

    }

    .inner-default {

        // margin-top: rem(11);
        h1 {

            line-height: rem(39);

            @include above($tablet) {
                margin-top: rem(-15);
            }

            @include above($tabletLandscape) {
                margin-top: rem(-9);
            }

            @include above($desktop) {
                margin-top: rem(4);
            }
        }

        .inner-about__content {
            position: relative;

            margin-top: rem(30);

            > p {
                // letter-spacing: rem(-0.35);
            }

        }

        .social-links {
            position: absolute;
            top: 100%;
            left: rem(180);

            margin-top: rem(-32);
        }

        .social-links--pad {

            @include below($mobile) {
                left: 0;
            }

            @include above($tablet) {
                left: rem(120);
            }

            @include above($desktop) {
                left: rem(196);
            }
        }

        .inner-about__date {
            margin-top: rem(2);

            font-family: $stemReg;
            font-size: rem(12);

            color: $gray-date;

            @include above($tablet) {
                margin-top: rem(8);
            }

            @include above($tabletLandscape) {
                margin-top: rem(10);
            }

            @include above($desktop) {
                margin-top: rem(2);
            }
        }

        .right-col {
            display: none;

            @include above($tabletLandscape) {
                display: block;
            }
        }

        .general-video {

            @include below($mobile) {
                margin-top: 0;
            }
        }
    }

    .news-preview {
        width: rem(351);
        padding-top: rem(18);

        position: relative;

        @include below($mobile) {
            width: 100%;
            padding-top: rem(15);
        }

        @include above($tablet) {
            width: rem(225);
            padding-top: rem(14);
        }

        @include above($desktop) {
            width: rem(351);
        }


        &_play {
            @include above($mobile) {
                visibility: hidden;
            }
        }

        &_play .breadcrumbs {
            @include above($mobile) {
                display: none;
            }
        }

        &_play:before {
            @include above($mobile) {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                // background-color: #eaecee;
                background-color: rgba(36, 55, 70, 0.6);
            }
        }

        &__img {
            margin-top: rem(16);
            margin-bottom: rem(42);

            @include below($mobile) {
                margin-bottom: rem(16);
                margin-top: rem(10);
            }

            @include above($tablet) {
                margin-top: rem(9);
                margin-bottom: rem(29);
            }

            @include above($tabletLandscape) {
                margin-top: rem(16);
            }

            img {
                display: block;
                width: rem(351);
                height: rem(234);
                object-fit: cover;

                @include below($mobile) {
                    width: 100%;
                    height: rem(200);
                }

                @include above($tablet) {
                    width: rem(225);
                    height: rem(150);
                }

                @include above($desktop) {
                    width: rem(351);
                    height: rem(234);
                }
            }

        }
        &__source {
            margin-top: rem(3);

            font-family: $stemReg;
            font-size: rem(11);
            color: $gray-date;
        }
        &__text {
            padding-right: rem(20);

            font-family: $stemBold;
            font-size: rem(16);
            line-height: rem(24);
            color: $enter;
            // letter-spacing: rem(-0.45);
        }

        &--wide {
            width: rem(783);
            padding-top: rem(12);

            @include below($tabletLandscapeMax) {
                width: rem(615);
            }

            @include below($tabletMax) {
                width: rem(546);
            }

            @include below($mobile) {
                width: rem(300);
            }

            &.news-preview .news-preview {

                &__img {
                    margin-top: rem(11);
                    margin-bottom: rem(17);

                    img {
                        width: rem(783);
                        height: rem(381);

                        @include below($tabletLandscapeMax) {
                            width: rem(615);
                        }

                        @include below($tabletMax) {
                            width: rem(546);
                        }

                        @include below($mobile) {
                            width: rem(300);
                        }
                    }
                }

                &__text {
                    font-size: rem(18);
                }

            }
        }

    }

    .inner-about-video_overlay {
        position: absolute;
        left: calc(100% - #{rem(1085)});
        top: rem(-57);
        background-color: rgba(36, 55, 70, 0.6);
        z-index: 4;

        display: none;

        &.is-active {
            @include above($mobile) {
                display: block;
            }
        }


        @include below($tablet) {
            left: rem(-57);
            top: rem(-73);
        }

        @include below($tabletLandscape) {
            left: rem(-235);
        }
        @include below($mobile) {
            left: rem(-214);
            top: -57px;
        }
    }

    .scissors {
        position: absolute;
        height: rem(56);
        width: rem(110);
        /* padding: 1.4375rem 1.8125rem 2.0625rem 1.5rem; */
        background-color: #a13461;
        color: #fff;
        padding: rem(10);

        text-transform: uppercase;

        right: rem(-40);

        z-index: 1;

        &__icon {
            background-image: url(/content/noise/scissors.png);
            height: rem(20);
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: rem(-15);

            &:before {
                content: ' ';
                position: absolute;
                width: 78%;
                height: 0.125rem;
                border-top: rem(2) dashed #fff;
                bottom: rem(9);
                left: rem(23);
            }

        }

        &:after, &:before {
            content: ' ';
            position: absolute;
        }

        &:after {
            top: 100%;
            left: -28%;
            width: calc(100% + 1.9375rem);
            height: 1.2rem;
            margin-top: -0.0625rem;
            background-image: linear-gradient(-15deg, transparent 0.8625rem, #a13461 0.925rem);
        }

        &:before {
            top: 0;
            left: -27%;
            width: 2rem;
            height: 100%;
            margin-left: -0.0625rem;
            background-image: linear-gradient(110deg, transparent 0.9625rem, #a13461 1.025rem);
        }

        &_noize {

            &:after {

                @include below($tabletMax) {
                    left: rem(-25);
                    width: calc(100% + #{rem(25)});
                }
            }

            @include below($tabletMax) {
                right: rem(-13);
                top: rem(12);
                width: rem(98);
                height: rem(40);
                padding: rem(6);
            }

            .scissors__icon {
                position: relative;
                z-index: 1;

                @include below($tabletMax) {
                    left: rem(-21);
                }
            }
        }

    }

    &_noize {



        .news-preview--wide {

            &.news-preview  {

                .news-preview__img {
                    height: rem(335);

                    @include below($mobile) {
                        height: auto;
                    }

                    img {
                        height: inherit;
                        object-fit: cover;
                    }
                }
            }
        }

        .inner-about {

            &__text-bg-gray {
                padding-bottom: rem(30);
            }
        }

        .inner-default  {

            .inner-about {

                &__content {
                    margin-left: rem(80);
                    padding-left: 0;

                    @include below($tabletLandscapeMax) {
                        margin-left: 0;
                    }

                    @include below($mobile) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
