@import "~style/mixins";
@import "~style/vars";

.inner-about {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(60);
    }

    &__enter-one {
        margin-top: rem(31);
    }

    &__info-noize {
        margin-top: rem(22);
    }

    &__enter-one--nopad .from-enter__info {
        width: 100%;
        padding-right: 6.7%;
        padding-left: 0;
    }

    &__text-bg-gray {
        position: relative;

        margin-top: rem(20);
        margin-bottom: rem(100);

        transform: translateX(-17%);
    }

    &__left {
        margin-top: rem(-15);
    }

    &__content {
        padding-left: rem(82);
        margin-top: rem(30);

        color: $enter;

        p {
            margin-bottom: rem(21);

            letter-spacing: rem(-.35);
        }
        a {
            outline: none;
            cursor: pointer;
            &:hover {
                color: $blue!important;
            }
        }

        & figure {
            position: relative;
            img {
                position: relative;
                z-index: 2;
            }

            figcaption {
                margin-top: 0.1875rem;
                font-family: "StemText Regular", sans-serif;
                font-size: 0.6875rem;
                color: #999;
                z-index: 2;
                position: relative;
            }

            &:after {
                content: ' ';
                display: block;
                /* width: 10000px; */
                width: 64.9375rem;
                height: 100%;
                position: absolute;
                background: #eaecee;
                top: 0px;
                left: -50.2%;
                z-index: 1;
            }
        }
    }

    &__figure-title {
        padding-left: rem(20);
        margin-top: rem(51);
        margin-bottom: rem(15);

        letter-spacing: rem(-.5);
    }

    &__box-preview {
        width: rem(782);
        height: rem(289);
        margin-left: rem(81);

        background-color: $box;

        &_position {
            position: relative;
        }
    }

    &__box-img {
        width: inherit;
        height: inherit;
    }

    &__box-text {
        width: rem(356);
        height: rem(172);
        padding: #{rem(50)} #{rem(48) #{rem(28)} #{rem(25)}};

        font: #{rem(16)}/ #{rem(24)} $stemBold;
        color: $white;
        letter-spacing: rem(-.8);

        background-image: url(/content/about/box-text.png);
        background-position: center;
        background-size: cover;

        &_position {
            position: absolute;
            top: rem(-72);
            right: rem(-36);
        }
    }

    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-right: rem(30);
    }

    &__copy {
        margin-top: rem(22);

        font-family: $stemReg;
        font-size: rem(12);
        color: $blue;
        text-decoration: none;
    }

    &__new-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(5);
        &__message {
            margin-right: rem(22);

            font-family: $stemReg;
            font-size: rem(12);
            line-height: rem(14);
            color: $gray-date;
        }
    }

    .inner-about__enter-one--no-category {
        .from-enter__category-link {
            display: none;
        }
    }

    &_margin {
        margin-top: rem(54);
    }

}

.inner-default {
    // margin-top: rem(11);
    h1 {
        margin-top: rem(4);

        line-height: rem(39);
    }

    .inner-about__content {
        position: relative;

        margin-top: rem(30);

        > p {
            letter-spacing: rem(-0.35);
        }

    }

    .social-links {
        position: absolute;
        top: 100%;
        left: rem(180);

        margin-top: rem(-32);
    }
    .social-links--pad {
        left: rem(196);
    }

    .inner-about__date {
        margin-top: rem(2);

        font-family: $stemReg;
        font-size: rem(12);

        color: $gray-date;
    }


}

.news-preview {
    width: rem(351);
    padding-top: rem(18);
    &__img {
        margin-top: rem(16);
        margin-bottom: rem(42);
        img {
            display: block;
            width: rem(351);
            height: rem(234);
            object-fit: cover;
        }

        &_play:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #eaecee;
        }

    }
    &__source {
        margin-top: rem(3);

        font-family: $stemReg;
        font-size: rem(11);
        color: $gray-date;
    }
    &__text {
        padding-right: rem(20);

        font-family: $stemBold;
        font-size: rem(16);
        line-height: rem(24);
        color: $enter;
        letter-spacing: rem(-0.45);
    }

    &--wide {
        width: rem(783);
        padding-top: rem(12);

        &.news-preview .news-preview {

            &__img {
                margin-top: rem(11);
                margin-bottom: rem(17);
                img {
                    width: rem(783);
                    height: rem(381);
                }
            }

            &__text {
                font-size: rem(18);
            }

        }
    }

}

