// Common styles of the project

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;

    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.row {
    @include clearfix;
}

.content {
    padding-left: rem(24);
    padding-right: rem(24);
    margin-top: 60px;
    margin-left: 67px;
}

.login {
    display: flex;
    align-items: stretch;
    width: 787px;
    @include below(830px) {
        flex-direction: column;
        align-items: center;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        background: url('%=static=%general/login-bg.png') repeat;
    }

    &__pic {
        width: rem(394);
        position: relative;

        @include below(400px) {
            width: 100%;
        }

        &:before {
            position: absolute;
            top: -14px;
            left: -16px;

            display: block;
            width: 160px;
            height: 77px;

            content: ' ';
            background: url('%=static=%general/rtvi.png') no-repeat;
        }

        img {
            display: block;
            height: 100%;
            max-width: 100%;
            margin-left: auto;

            object-fit: cover;
        }
    }

    &__form {
        width: rem(394);
        padding: rem(67) rem(42) rem(67) rem(44);

        background-color: #fff;

        @include below(400px) {
            width: 100%;
        }
    }

    .btn {
        height: 33px;

        line-height: 33px;
        color: #fff;

        background-color: $cl-success;
        border-color: $cl-success;
    }

    .icon_arrowRight {
        margin-top: -3px;
        margin-right: rem(9);
    }

}