// Common styles of the project

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html, body {
    height: 100%;

    font-family: $opensans;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

body {
    overflow: hidden;
}

.row {
    @include clearfix;
}

.content {
    position: relative;
    left: 0;
    // padding-left: $pad;
    padding-right: $pad;
    margin-top: 138px;
    margin-left: 67px;

    transition: all 0.4s ease;

    &-wrap {
        display: flex;
        align-items: stretch;
    }

    &-l {
        flex: 1;
        // padding-right: $pad;
        margin-top: -11px;
        border-right: 1px solid #d7d7d7;
    }

    &-r {
        width: 40.384%;
        flex-basis: 40.383%;
        margin-top: 0;
        padding-left: $pad;
    }

}

.login {
    display: flex;
    align-items: stretch;
    width: 787px;
    @include below(830px) {
        flex-direction: column;
        align-items: center;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        background: url('%=static=%general/login-bg.png') repeat;
    }

    &__pic {
        width: rem(394);
        position: relative;

        @include below(400px) {
            width: 100%;
        }

        &:before {
            position: absolute;
            top: -14px;
            left: -16px;

            display: block;
            width: 160px;
            height: 77px;

            content: ' ';
            background: url('%=static=%general/rtvi.png') no-repeat;
        }

        img {
            display: block;
            height: 100%;
            max-width: 100%;
            margin-left: auto;

            object-fit: cover;
        }
    }

    &__form {
        width: rem(394);
        padding: rem(67) rem(42) rem(67) rem(44);

        background-color: #fff;

        @include below(400px) {
            width: 100%;
        }
    }

    .btn {
        height: 33px;

        line-height: 33px;
        color: #fff;

        background-color: $cl-success;
        border-color: $cl-success;
    }

    .icon_arrowRight {
        margin-top: -3px;
        margin-right: rem(9);
    }

}

.form-feed {
    &__input {
        margin-right: 7px;

        &:nth-child(1) {
            flex: 1;
            width: 55.182%;
            // flex-basis: 55.182%;
        }

        &:nth-child(2) {
            width: 37.192%;
            // flex-basis: 37.192%;
        }

    }

    .btn {
        opacity: 0.5;
        color: #666666;
        font-family: $opensans;
        font-size: 13px;
        line-height: 36px;
        font-weight: 700;
        &:hover {
            color: #fff;
            opacity: 1;
        }
    }

}