// File for scss-vars.
// For example: main colors, paddings and so on.
$cl-success: #390;
$cl-danger: #c00;
$cl-primary: #369;

// высота кнопок и инпутов
$el-height: 36px;

// стандартные отступы
$pad: rem(24);