mixin programs(data)
    +b.programs()&attributes(attributes)
        block
        each item in data.items

            +e.item(
                class=(item.state ? '_' + item.state : undefined)
                class=(item.class ? '_' + item.class : undefined))

                +e.A.img-container(href=jv0)
                    +e.IMG.img(src= '%=static=%' + item.image)
                    +e.img-layer

                +e.DIV.info
                    +e.P.date
                        = item.date
                        if (item.time)
                            | ,
                        +e.SPAN.time= item.time
                    +e.A.category(href-jv0)= item.category
                    +e.P.title= item.title

                    //-+e.DIV.tags
                        each tag in item.tags
                            +e.SPAN.tag
                                | #
                                = tag

                +e.DIV.btn-container
                    button.btn.btn-md.btn-danger
                        i.icon.icon-delete-reverse
                        | Удалить
                    button.btn.btn-md.btn-success Редактировать

                +e.DIV.close-container
                    i.icon.icon-delete-reverse
                    +e.DIV.close-tip Убрать с главной
