@import "~style/mixins";
@import "~style/vars";

.enter-one {

    &__no-border {

        .from-enter__title {
            border-bottom: none;
            text-decoration: none;
        }
    }

    .list-video {
        margin-top: rem(15);
    }

    &__title {
        text-decoration: none;
        border-bottom: none;
    }

}
