@import "~style/mixins";
@import "~style/vars";

.noize-all {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(65);

       &.container {
            @include below($mobile) {
                .right-col {
                    display: none;
                }
            }

            @include above($tablet) {
                width: rem(637);

                .right-col {
                    display: none;
                }
            }

            @include above($tabletLandscape) {
                width: rem(930);

                .left-col_width_inner {
                    width: rem(620);
                }

                .right-col {display: block;}
            }

            @include above($desktop) {
                width: rem(1250);

                .left-col_width_inner {
                    width: rem(930);
                }
            }
       }
    }

    &__list-mini {
        width: rem(300);

        .mini-news__title {
            font-size: rem(14);
        }
    }

    .block-square {
        width: rem(300);
        height: rem(250);
    }

    &__list {
        padding-top: rem(30);
        margin-bottom: rem(30);

        position: relative;

        border-color: transparent;
        border-style: solid;
        border-top-width: 2px;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        border-image: url(../border.png);
        border-image-slice: 2;
        border-image-repeat: repeat;

        .icon_scissors {
            position: absolute;
            top: rem(-11);
            right: rem(20);
            fill: $gray-dirty;
            background-color: $white;

            @include below($mobile) {
                top: rem(-5);
            }
        }
    }

    &__row {
        // @include margin_x(#{rem(-7.5)});
        // @include margin_y(#{rem(-11.5)});
        transition: height .3s;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: rem(1105);}

    &__item {
        margin-bottom: rem(16);
    }

    &__gutter-sizer {
        width: rem(9);
    }

    &__mini-news {
        padding-top: rem(10);
        padding-bottom: 0;

        border-bottom: none !important;

        &:nth-of-type(1) {
            padding-top: 0;
            margin-top: rem(-4);
        }

        .mini-news__title {
            display: inline-block;

            line-height: rem(19);
        }

        .mini-news__date {
            margin-top: rem(-4);

            font-size: rem(12);
        }
    }

    &__block-square {

        @include below($mobile) {
            width: rem(300);
        }

        .block-square__title {
            font-size: rem(21);
            line-height: rem(26);
        }
    }

    &__img-preload {
        width: rem(930);
    }

    &__news {
        margin-top: rem(25);

        .news__list {
            margin-top: rem(18);
        }
    }

    &__title-block {
        padding-bottom: rem(10);
        border-bottom: 0;
        margin-top: rem(-10);
    }

    &__general-video {
        margin-top: rem(12);
    }

}
