.live-item {
    width: 41.8%;
    padding-top: .4rem;
    padding-left: 1.7rem;

    .input-title {
        height: rem(110);
        padding: .8rem 1rem;
        margin-top: 1.1rem;
        resize: none;

        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: -.062rem;
    }

    .input {
        padding-left: 2.4rem;
        margin-top: 1.3rem;
    }

    .checkbox {
        display: inline-block;
        margin-top: 1.5rem;
        margin-right: .6rem;
    }

    .checkbox input[type=checkbox]+label:hover,
    .checkbox input[type=checkbox].active+label {
        color: #767676;
    }

    .checkbox input[type=checkbox].active+label:before,
    .checkbox input[type=checkbox]+label:hover:before {
        background-position: -175px -159px;
    }

    .checkbox input[type="checkbox"]:checked + label {
        color: #333;
    }

    .checkbox input[type="checkbox"]:checked + label:before {
        background-position: -201px -152px;
    }

    .btn {
        height: 2.6rem;
        margin-top: 1.2rem;
    }
}
