mixin live-item(data)
    +b.live-item()&attributes(attributes)
        +e.IMG.img(src='%=static=%img/content/live1.png')

        form(action='' method='POST')
            textarea.textarea.input-title.input-block(name='', cols='30', rows='10') Северокорейский лидер Ким Чен Ын был сегодня убит во время спецоперации
            .input-icon
                input.input.input-block(type='text' placeholder='Комментарий')
                +icon({ icon: 'clip', class: 'clip' })
            .checkbox
                input.active(type='checkbox' id='checkbox1' name='checkbox1' value='kek' checked)
                label(for='checkbox1') Вывести на главную
            .checkbox
                input.active(type='checkbox' id='checkbox2' name='checkbox1' value='kek')
                label(for='checkbox2') Включить таймер
            button.btn.btn-full.btn-success
                | Включить прямой эфир
            //- button.btn.btn-full.btn-danger
            //-     | Выключить прямой эфир
                
        block
