mixin tabs-nav(data)
    +b.tabs-nav()&attributes(attributes)
        //- +e.A.item.is-active(href=jv0) Сегодня
        each item in data.items
            +e.A.item(href=jv0 class= item.class)= item.name