mixin text-bg-gray(data)
    +b.text-bg-gray()&attributes(attributes)
        block
        +e.block-text
            +e.SPAN.text Мы связываем весь глобальный русскоязычный мир через наши общие культурные ценности, через общий язык и — что важно — общую новостную повестку
