.working {
    width: 100%;
    margin-top: -15px;

    &__item {
        padding-left: $pad;

        cursor: pointer;

        &:hover {
            background-color: #f3f3f3;

            .working-nav {
                display: block;
            }

        }

    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 15px;

        border-bottom: 1px solid #e9e9e9;

    }

    &__col-l {
        flex-shrink: 0;
        width: 49.35%;
        padding-top: 0;
        padding-right: 20px;

        border-right: 1px solid #e9e9e9;
    }

    &__col-r {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
        width: 50.75%;
        padding-top: 0;
        margin-top: -8px;
        margin-left: 20px;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 30px;
    }

    .rating {
        margin-right: 7px;
        margin-bottom: 0;
    }

    &__tag {
        margin: 0;

        font-family: $opensans;
        font-size: 11px;
        font-weight: 400;
        color: #999999;
        text-transform: uppercase;
    }

    &__cnt {
        margin-top: 2px;
        margin-bottom: 3px;

        &--new {
            font-weight: 600;
        }

        &--newest {
            font-weight: 700;
        }

        p {
            margin: 0;
            
            line-height: 1.35;
            letter-spacing: -0.3px;
        }

        p.rate1 {
            font-size: 14px;
        }

        p.rate2 {
            font-size: 15px;
        }

        p.rate3 {
            font-size: 16px;
        }

        p.rate4 {
            font-size: 17px;
        }

        p.rate5 {
            font-size: 18px;
            letter-spacing: -0.15px;
        }

        p.rate6 {
            font-size: 19px;
            line-height: 24px;
            letter-spacing: -0.15px;
        }

        p.rate7 {
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.3px;
        }

        p.rate8 {
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.3px;
        }

    }

    &-d-tag {
        margin-bottom: -3px;

        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        color: #999;

        &__item {
            margin-right: 8px;

            letter-spacing: 0.15px;
        }

    }

    &__time {
        width: 15.3%;

        font-family: $opensans;
        font-size: 11px;
        font-weight: 400;
        color: #999999;

        &.is-out {
            color: #aa0111;
        }

    }

    .user {
        width: 42.5%;

        &__name {
            letter-spacing: 0.4px;
        }

        &__pic {
            margin-right: rem(10);
        }
    }

    &-nav {
        display: none;
        margin-left: 6.9%;

        &__item {
            display: block;
            margin-bottom: 8px;

            font-family: $helvetica;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            text-decoration: none;

            &:hover {
                color: #000;
            }
            
            &:last-child {
                margin-bottom: 0;
            }

        }

    }


}