@import "~style/mixins";
@import "~style/vars";

.datepicker {
    display: inline-block;
    position: relative;

    img {
        position: absolute;
        right: 12px;    
    }

    & .react-datepicker__input-container, & input {
        width: 100%;
    }

    & input {
        border: none;
    }

    &.small {
        width: rem(111);
    }
}