@import "~style/mixins";
@import "~style/vars";
.inner-about {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(60);
    }

    &__enter-one {
        margin-top: rem(31);
    }

    &__info-noize {
        margin-top: rem(22);
    }

    &__enter-one--nopad .from-enter__info {
        width: 100%;
        padding-right: 6.7%;
        padding-left: 0;
    }

    &__text-bg-gray {
        position: relative;

        margin-top: rem(20);
        margin-bottom: rem(100);

        transform: translateX(-17%);
    }

    &__left {
        margin-top: rem(-15);
    }

    &__content {
        padding-left: rem(82);
        margin-top: rem(30);

        color: $enter;

        p {
            margin-bottom: rem(21);

            letter-spacing: rem(-.35);
        }
    }

    &__figure-title {
        padding-left: rem(20);
        margin-top: rem(51);
        margin-bottom: rem(15);

        letter-spacing: rem(-.5);
    }

    &__box-preview {
        width: rem(782);
        height: rem(289);
        margin-left: rem(81);

        background-color: $box;

        &_position {
            position: relative;
        }
    }

    &__box-img {
        width: inherit;
        height: inherit;
    }

    &__box-text {
        width: rem(356);
        height: rem(172);
        padding: #{rem(50)} #{rem(48) #{rem(28)} #{rem(25)}};

        font: #{rem(16)}/ #{rem(24)} $stemBold;
        color: $white;
        letter-spacing: rem(-.8);

        background-image: url(/content/about/box-text.png);
        background-position: center;
        background-size: cover;

        &_position {
            position: absolute;
            top: rem(-72);
            right: rem(-36);
        }
    }

    &__title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-right: rem(30);
    }

    &__copy {
        margin-top: rem(22);

        font-family: $stemReg;
        font-size: rem(12);
        color: $blue;
        text-decoration: none;
    }

    &__new-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(5);
        &__message {
            margin-right: rem(22);

            font-family: $stemReg;
            font-size: rem(12);
            line-height: rem(14);
            color: $gray-date;
        }
    }

    .inner-about__enter-one--no-category {
        .from-enter__category-link {
            display: none;
        }
    }

    &_margin {
        margin-top: rem(54);
    }

}

.text-bg-gray {
    position: relative;

    width: rem(1039);
    min-height: rem(386);

    background-color: $bg-text;

    &:before {
        content: ' ';

        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(-900);

        width: rem(900);

        background: $bg-text;
    }

    &__block-text {
        position: absolute;
        bottom: rem(-72);
        left: 17%;

        width: rem(427);
        height: rem(205);
        padding: #{rem(24)} #{rem(33)} #{rem(63)} #{rem(41)};

        text-align: right;
        letter-spacing: rem(-.8);

        background-image: url(/content/text-bg-gray/text-block.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__text {
        font: #{rem(18)}/ #{rem(24)} $stemBold;

        color: $white;
    }

    &__text-lite {
        font: #{rem(15)}/ #{rem(24)} $stemBold;
        color: $white;
    }

    &__title {
        margin-bottom: 24px;

        font-family: $stemBold;
        font-size: 24px;
        line-height: 21px;
        color: $purple;
    }

    &__update {
        position: absolute;
        right: rem(-32);
        bottom: rem(-22);

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(155);
        height: rem(75);
        padding-top: rem(8);

        font-family: $stemBold;
        font-size: 16px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        background: url('/general/geometry/ice-cube.png');
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            color: $white;
        }
    }

}

.text-bg-gray--news {

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: rem(573);
    margin-top: rem(7);
    margin-bottom: 0;

    @include below($mobile) {
        height: auto;
    }

    &.text-bg-gray .text-bg-gray {

        &__block-text {
            z-index: 9;
            top: rem(23);
            bottom: auto;

            width: rem(317);
            min-height: rem(220);
            padding: rem(23) rem(29) rem(33) rem(24);

            text-align: left;

            background-image: url(/content/text-bg-gray/text-block2.png);
        }
        &__text {
            margin-bottom: rem(18);

            font-size: rem(15);
            line-height: rem(18);
            letter-spacing: rem(-0.75);
        }

    }

    .general-video {
        width: rem(320);
        height: rem(573);
        margin-right: rem(24);

        &:before {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        &__link {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__ico {
            display: inline;
            width: 2.5rem;
            height: 2.5rem;
        }

        &__date {
            margin-bottom: rem(29);
        }

        &__info {
            right: 0;

            width: auto;
        }

        &__logo {
            right: auto;
            left: 0;

            width: rem(147);
            height: rem(85);
        }

        &__span {
            left: rem(33);

            font-family: $stemReg;
            font-size: rem(14);
        }

        &__logo-title {
            top: rem(8);
            right: rem(12);
            left: auto;
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            min-height: rem(60);
            padding-right: rem(8);
            padding-left: rem(108);
            margin-left: rem(38);

            background-color: $gray-dirty;
        }

    }

}

.text-bg-gray--primary {
    height: auto;
    min-height: unset;
    padding-top: rem(26);
    padding-bottom: rem(68);
    padding-left: rem(195);
    margin-bottom: rem(30);
}



.how-watch {
    padding-bottom: rem(50);
    padding-left: rem(82);
    margin-top: rem(-10);
    .left-col {
        padding-right: rem(82);
    }
    h1 {
        margin-top: rem(0);
        margin-bottom: rem(30);
        margin-left: rem(-83);
    }
    h2 {
        padding-bottom: 0;
        padding-left: rem(2);
        margin-top: rem(19);
        margin-bottom: rem(15);
        margin-left: rem(-63);

        font-family: $stemBold;
        font-size: rem(24);
        color: $enter;
        letter-spacing: rem(-0.4);
    }
    p {
        letter-spacing: rem(-0.35);
    }
    .text-cols {
        margin-bottom: rem(32);
        p {
            line-height: rem(24);
        }
    }
    &__item {

    }

    &__list {
        &__item {
            margin-bottom: rem(22);
            h4 {
                font-family: $stemReg;
                font-size: rem(14);
                font-weight: 700;
                color: $purple;
            }
            p {

            }
            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }

    &__distribution {
        margin-top: rem(38);
        .text-cols {
            margin-top: rem(20);
        }
    }
    &__hotel {
        padding-right: rem(5);
        margin-top: rem(41);
        h4 {
            margin-top: rem(19);

            font-family: $stemBold;
            font-size: rem(14);
            color: $enter;
            letter-spacing: rem(-0.15);
            text-transform: uppercase;
        }
    }

    &__contacts {
        padding-right: rem(200);
        a {
            color: $blue;
            text-decoration: none;
        }
    }

    &__region {
        margin-top: rem(50);
        h2 {
            margin-bottom: rem(16);
        }
    }

    &__form {
        position: relative;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: rem(42);
        padding-right: rem(37);
        padding-bottom: rem(42);
        padding-left: rem(29);

        border: 1px solid #ccc;
        .col-l,
        .col-r {
            width: 46%;
        }
        .input {
            padding-bottom: rem(4);
        }
        .form-group {
            margin-bottom: rem(31);
        }
        .btn-submit {
            // display: none;
            position: absolute;
            right: rem(36);
            bottom: rem(-33);

            width: rem(155);
            height: rem(75);
            padding-bottom: rem(4);

            font-family: $stemBold;
            font-size: rem(16);
            color: #e9ebed;
            letter-spacing: rem(-0.3);
            text-transform: uppercase;

            border: 0;
            background: url(/content/how/red-btn.png) no-repeat;
            background-size: cover;
            cursor: pointer;
            outline: 0;
        }
    }

}
.text-cols {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    > p {
        width: 48.05%;
        padding-right: 4%;
    }
}

.subtitle-border {
    border-bottom: 1px solid #ccc;
}


.subtitle-order {
    display: flex;
    align-items: center;
    margin-bottom: rem(15);
    color: $enter;
    font-family: $stemReg;
    font-size: rem(14);
    letter-spacing: -0.14px;
    text-transform: uppercase;
    .dig {
        position: relative;
        margin-right: rem(11);
        // @include bg($subtitle-order);
        // background-image: url('%=static=%svg-sprite/{{imgName}}');
        background-image: url(/content/how/subtitle-order.png);
        font-style: normal;
        width: 36px;
        height: 38px;
        // background-size: 80px,76px;
        background-repeat: no-repeat;
        font-style: normal;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: attr(data-subtitle-order);
            color: $white;
            font-family: $stemBold;
            font-size: 14px;
            text-transform: uppercase;

        }
    }
}


.input {
    outline: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cccccc;
    color: #50687b;
    @include placeholder {
        color: #50687b;
    }
    font-family: $stemReg;
    font-size: rem(16);
    line-height: rem(18);
    letter-spacing: rem(-0.4);
}
.input-block {
    width: 100%;
}
