.task-list {
    margin-top: -.5rem;

    font-family: $opensans;

    &__item {
        position: relative;

        display: flex;

        box-sizing: border-box;
        justify-content: flex-start;
        padding-top: 1.8rem;
        padding-bottom: 2.6rem;

        border-bottom: 1px solid #e9e9e9;
        cursor: pointer;

        &:hover,
        &_active {
            border-bottom: none;
            background-color: #f3f3f3;

            & .task-list {
                &__btn-container,
                &__close-container {
                    display: block;
                }
            }

            .working-nav {
                display: block;
            }
        }

        &:first-child {
            padding-top: .8rem;
            padding-bottom: 1.9rem;
        }
    }

    &__col-l {
        width: 10.5%;
        padding-right: .4rem;

        text-align: right;
    }

    &__col-r {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 20px;
    }

    &__time {
        margin-top: .3rem;
        margin-right: 0.1rem;

        font-size: .7rem;
        font-weight: 600;
        color: #666;
        letter-spacing: .01rem;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 30px;
    }

    .rating {
        margin-right: .4rem;
        margin-bottom: 0;
    }

    &__category {
        margin: 0;

        font-family: $opensans;
        font-size: 11px;
        font-weight: 400;
        color: #999999;
        text-transform: uppercase;
    }

    &__title {
        width: 70%;
        margin-top: 1px;
        margin-bottom: 3px;
        margin-left: -2px;

        &_new {
            font-weight: 600;
        }

        &_newest {
            font-weight: 700;
        }

        &_old {
            &.live-list__title .rate7 {
                margin-top: 0.05rem;
                margin-left: .05rem;

                font-size: 18.5px;
                line-height: 1.3;
                letter-spacing: .009rem;
            }
        }

        p {
            margin: 0;
            
            line-height: 1.35;
            letter-spacing: -0.3px;
        }

        .rate1 {
            font-size: 14px;
        }

        .rate2 {
            font-size: 15px;
        }

        .rate3 {
            font-size: 16px;
        }

        .rate4 {
            font-size: 17px;
        }

        .rate5 {
            font-size: 18px;
            letter-spacing: -0.15px;
        }

        .rate6 {
            margin-top: -.05rem;
            margin-left: .1rem;

            font-size: 19.5px;

            font-weight: 700;
            line-height: 24px;
            letter-spacing: -.028rem;
        }

        .rate7 {
            margin-top: -.1rem;
            margin-left: .05rem;

            font-size: 20px;
            line-height: 1.8rem;
            letter-spacing: .019rem;
        }

        .rate8 {
            margin-top: .05rem;
            margin-left: .1rem;

            font-size: 24px;
            font-weight: 600;
            line-height: 1.84rem;
        }

    }

    &__text {
        width: 67%;
        margin-top: 1.3rem;

        font-size: .88rem;

        line-height: 1.5;
    }

    &__link {
        font-size: .88rem;
        line-height: 1.5;
        text-decoration: none;
    }

    &__comment {
        margin-top: .6rem;
    }

    &__comname {
        display: inline-block;

        font-size: .88rem;

        font-weight: 700;
        color: #000;
    }

    &__comtext {
        display: inline-block;
        margin-left: .1rem;

        font-size: .88rem;
        color: #333;
    }

    &-tag {
        min-height: 0.5rem;
        margin-left: .1rem;
        
        font-size: 11.5px;
        font-weight: 600;
        line-height: 2.2;
        color: #999;

        &__item {
            margin-right: 8px;

            letter-spacing: .02rem;
        }

    }

    .user {
        width: 42.5%;

        &__name {
            letter-spacing: 0.4px;
        }

        &__pic {
            margin-right: rem(10);
        }
    }

    &-nav {
        display: none;
        margin-left: 6.9%;

        &__item {
            display: block;
            margin-bottom: 8px;

            font-family: $helvetica;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            text-decoration: none;

            &:hover {
                color: #000;
            }
            
            &:last-child {
                margin-bottom: 0;
            }

        }

    }

    &__btn-container {
        position: absolute;
        top: 4rem;
        right: 2.9rem;

        display: none;

        .btn {
            border: none;
            background-color: #fff;
        }

        .btn-md {
            width: 9.9rem;
        }

        .btn-success {
            color: #fff;

            background-color: #2c7607;

            .icon {
                vertical-align: middle;
                fill: #fff;
            }
        }
    }

    &__close-container {
        position: absolute;
        top: .8rem;
        right: 1.2rem;

        display: none;

        text-align: right;

        cursor: pointer;
    }

}
