@import "~style/mixins";
@import "~style/vars";

.banner {
    &__where-view {
        width: rem(932);
        height: rem(99);

        position: relative;

        &__img {
            //width: 100%;
            height: auto;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
