@import "~style/mixins";
@import "~style/vars";

.banner {

    &__where-view {
        @include padding_y(#{rem(31)});
        width: rem(932);
        height: rem(99);

        text-align: center;
        text-decoration: none;

        background-image: url(./where-view_mobile.jpg);
        background-position: center;
        background-size: cover;

        @include below($mobile) {
            width: rem(300);
        }

        @include above($tablet) {
            padding-top: rem(26);
        }

        @include above($desktop) {
            background-image: url(./where-view.png);
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__link {
        text-decoration: none;
        color: transparent;
    }

    &__title {
        font-family: $stemBold;
        line-height: rem(26);
        color: $white;
        text-transform: uppercase;

        @include above($tablet) {
            font-size: rem(18);
        }

        @include above($tabletLandscape) {
            font-size: rem(24);
        }
    }

    &__subtitle {
        font-size: rem(14);
        line-height: rem(26);
        color: $gray-dirty;
        text-transform: uppercase;
    }
}
