.text-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 42px;
    padding-bottom: 7px;
    padding-left: $pad;

    background-color: #f4f4f4;

    &__item {
        margin-right: 17px;

        cursor: pointer;
        
        &:last-child {
            margin-right: 0;
        }

        &:nth-child(3) {
            margin-right: 12px;
        }
        
        &:nth-child(4) {
            margin-right: 13px;
        }

        &:nth-child(5) {
            margin-right: 12px;
        }

    }

}
