mixin text-header(data)
    +b.text-header()&attributes(attributes)
        +e.btns
            +e.SPAN.item
                i.icon.icon-text-bold
            +e.SPAN.item
                i.icon.icon-text-italic
            +e.SPAN.item
                i.icon.icon-image
            +e.SPAN.item
                i.icon.icon-images
            +e.SPAN.item
                i.icon.icon-text-video
            +e.SPAN.item
                i.icon.icon-orph
        block
