// Common styles of the project

@import "~style/mixins";
@import "~style/vars";
@import "~style/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: $stemReg;
    font-size: rem(14);
}

html {
    font-size: 1vw;
}

main {
    margin-top: 1px;
}

.container {
    width: rem(1250);
    @include margin_x(auto);
}

.section-title {
    position: relative;
    padding-left: rem(28);
    font-size: rem(16);
    line-height: rem(30);
    text-transform: uppercase;
    color: $black;
    border-bottom: 1px solid $gray;

    &::after,
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
    }

    &::before {
        z-index: 1;
        left: 0;
        top: calc(50% - #{rem(6)});
        border-bottom: rem(11) solid $blue;
        border-left: rem(20) solid transparent;
    }

    &::after {
        z-index: 0;
        left: 0;
        top: calc(50% - #{rem(8)});
        border-top: rem(11) solid $purple;
        border-left: rem(20) solid transparent;
    }
}
