// Common styles of the project

@import "~style/mixins";
@import "~style/vars";
@import "~style/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: #{rem(14)}/ #{rem(21)} $stemReg;
}

html {
    font-size: 1vw;

    @include above(1600px) {
        font-size: 16px;
    }

    &.war {

        .header::before {
            background-color: $war;
        }
    }
}

h1 {
    font: #{rem(36)}/ #{rem(48)} $stemBold;
    letter-spacing: rem(-.9);
    color: $enter;
}

h2 {
    font: #{rem(24)}/ #{rem(40)} $stemBold;
    color: $enter;
}

a {
    outline: none;
}

main {
    margin-top: 1px;
}

.container {
    width: rem(1250);
    @include margin_x(auto);
}

.section-title {
    position: relative;
    padding-left: rem(24);
    font-size: rem(16);
    line-height: rem(30);
    text-transform: uppercase;
    letter-spacing: rem(-.7);
    color: $black;
    border-bottom: 1px solid $gray;

    &::after,
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
    }

    &::before {
        z-index: 1;
        left: 0;
        top: calc(50% - #{rem(6)});
        border-bottom: rem(11) solid $blue;
        border-left: rem(20) solid transparent;
    }

    &::after {
        z-index: 0;
        left: 0;
        top: calc(50% - #{rem(8)});
        border-top: rem(11) solid $purple;
        border-left: rem(20) solid transparent;
    }

    &_no-border {
      border-bottom: none;
    }
}

.left-col {
    width: rem(865);

    &_position_relative {
        position: relative;
    }

    &_width_inner {
        width: rem(930);
    }

}

.middle-col {
    width: 100%;
}

.right-col {
    width: rem(300);
}

.inner-wrapper {

    .general-video {
        height: rem(396);

        &::before,
        .general-video__img,
        .general-video__link {
            height: rem(396);
        }
    }
}


.text-bg-gray {
    position: relative;

    width: rem(1039);
    min-height: rem(386);

    background-color: $bg-text;

    &:before {
        content: ' ';

        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(-900);

        width: rem(900);

        background: $bg-text;
    }

    &__block-text {
        position: absolute;
        bottom: rem(-72);
        left: 17%;

        width: rem(427);
        height: rem(205);
        padding: #{rem(24)} #{rem(33)} #{rem(63)} #{rem(41)};

        text-align: right;
        letter-spacing: rem(-.8);

        background-image: url(/content/text-bg-gray/text-block.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__text {
        font: #{rem(18)}/ #{rem(24)} $stemBold;

        color: $white;
    }

    &__text-lite {
        font: #{rem(15)}/ #{rem(24)} $stemBold;
        color: $white;
    }

    &__title {
        margin-bottom: 24px;

        font-family: $stemBold;
        font-size: 24px;
        line-height: 21px;
        color: $purple;
    }

    &__update {
        position: absolute;
        right: rem(-32);
        bottom: rem(-22);

        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(155);
        height: rem(75);
        padding-top: rem(8);

        font-family: $stemBold;
        font-size: 16px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        background: url('%=static=%general/geometry/ice-cube.png');
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            color: $white;
        }
    }

}

.text-bg-gray--news {

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: rem(573);
    margin-top: rem(7);
    margin-bottom: 0;

    &.text-bg-gray .text-bg-gray {

        &__block-text {
            z-index: 9;
            top: rem(23);
            bottom: auto;

            width: rem(317);
            min-height: rem(220);
            padding: rem(23) rem(29) rem(33) rem(24);

            text-align: left;

            background-image: url(%=static=%content/text-bg-gray/text-block2.png);
        }
        &__text {
            margin-bottom: rem(18);

            font-size: rem(15);
            line-height: rem(18);
            letter-spacing: rem(-0.75);
        }

    }

    .general-video {
        width: rem(320);
        height: rem(573);
        margin-right: rem(24);

        &:before {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        &__link {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        img {
            display: block;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__ico {
            width: 2.5rem;
            height: 2.5rem;
        }

        &__date {
            margin-bottom: rem(29);
        }

        &__info {
            right: 0;

            width: auto;
        }

        &__logo {
            right: auto;
            left: 0;

            width: rem(147);
            height: rem(85);
        }

        &__span {
            left: rem(33);

            font-family: $stemReg;
            font-size: rem(14);
        }

        &__logo-title {
            top: rem(8);
            right: rem(12);
            left: auto;
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            min-height: rem(60);
            padding-right: rem(8);
            padding-left: rem(108);
            margin-left: rem(38);

            background-color: $gray-dirty;
        }

    }

}

.text-bg-gray--primary {
    height: auto;
    min-height: unset;
    padding-top: rem(26);
    padding-bottom: rem(68);
    padding-left: rem(195);
    margin-bottom: rem(30);
}
