@import "~style/mixins";
@import "~style/vars";

.top-menu {
    margin-left: rem(30);

    @include below($mobile) {
        display: none;
    }

    @include above($tablet) {
        margin-left: rem(22);
    }

    @include above($tabletLandscape) {
        margin-left: rem(21);
    }

    &__nav {
        height: 100%;
    }
    &__ul {
        display: flex;
        align-items: center;
        height: 100%;

        list-style-type: none;
    }

    &__item {

        &:not(:last-child) {
            margin-right: rem(23);
        }

        &:first-child {
            margin-right: rem(26);
        }
    }

    &__link {
        font-family: $stemReg;
        font-size: rem(14);
        line-height: normal;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__link.selected {
        color: #a03761;
    }
}
