@import "~style/mixins";
@import "~style/vars";

.similar-news {

    @include above($tablet) {
        margin-top: rem(52);
    }

    @include above($tabletLandscape) {
        margin-top: rem(60);
    }

    @include above($desktop) {
        margin-top: rem(33);
    }

    .similar-news__title {
        padding-left: rem(25);
        margin-bottom: rem(14);

        // letter-spacing: rem(-0.8);

        border-bottom: 0;

        @include below($mobile) {
            margin-bottom: rem(10);
        }

        @include above($tablet) {
            margin-left: rem(-70);
            margin-bottom: rem(10);
        }

        @include above($tabletLandscape) {
            margin-left: rem(-53);
            margin-bottom: rem(9);
        }

        @include above($desktop) {
            margin-left: rem(-84);
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;

        @include below($mobile) {
            flex-wrap: wrap;
        }

        @include above($tablet) {
            margin-left: rem(-67);
        }

        @include above($tabletLandscape) {
            margin-left: rem(-52);
        }
    }

    &__col-l {

        @include above($tablet) {
            margin-right: rem(13);
        }

        @include above($desktop) {
            margin-right: rem(21);
        }
    }

    &__col-r {

        @include below($mobile) {
            margin-top: rem(9);
        }
    }

    .block-square {

        &:before {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
            display: none;
        }

        &__info {
            bottom: 17px;
        }

        &__link {
            right: 0;
            bottom: 0;

            width: auto;
            height: auto;
        }

        &__img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            margin-bottom: 0;
        }

        &__time-add {
            margin-top: 5px;
            margin-bottom: 0;

            line-height: 1.4;
        }

    }

    .random-news__block-square {
        width: rem(303);
        height: rem(175);

        @include below($mobile) {
            width: rem(300);
        }
    }

    .random-news__block-square_list {
        width: auto;
        height: auto;
        margin-top: 0;
    }

    .mini-news {
        max-width: rem(400);
    }

    .mini-news__info {
        margin-bottom: rem(17);
    }

    .mini-news__title {
        // letter-spacing: rem(0.4);
    }

    .mini-news__date {
        margin-top: -2px;
        margin-bottom: 0;
    }

    &--wide {

        @include below($mobile) {
            margin-top: rem(36);
        }

        .random-news__block-square_list {

            @include above($tabletLandscape) {
                width: 100%;
            }

            @include above($desktop) {
                width: rem(405);
            }
        }
        .random-news__block-square .mini-news {

            @include above($tabletLandscape) {
                width: 100%;
            }

            @include above($desktop) {
                width: rem(405);
            }
        }
        .random-news__block-square_list .mini-news__title {
            margin-top: rem(-2);

            line-height: rem(20);
        }
    }

}
