include ../tabs-nav/tabs-nav
mixin stats-header(data)
    +b.HEADER.header.header-off()&attributes(attributes)
        +b.header-bot
            +b.header-l

                +tabs-nav(tabsNav.stats)

                +b.FORM.period
                    +e.A.link(href=jv0) Показать за период
                    +e.date
                        .input-icon--right
                            input.input.input-block#ko6(type='text' value='15.01.2017')
                            +icon({ icon: 'calendar', class: 'calendar' }) 
                        span —
                        .input-icon--right
                            input.input.input-block#ko6(type='text' value='15.01.2017')
                            +icon({ icon: 'calendar', class: 'calendar' }) 

                    button.btn.btn-xs.btn-success ОК

            if block
                block