include ../mini-news/mini-news
include ../block-square/block-square

mixin info-noize(data)
    - params = data
    +b.info-noize()&attributes(attributes)
        block
        if (params.section_title)
            +e.P.title.section-title #{params.section_title}
        //- если война
        if (params.view)
            +block-square(info_noize.idx)(class="info-noize__block-square_war block-square_war")
        +e.wrapper(class={'info-noize__wrapper_about': pageSettings.pageTitle == 'about'})
            if (params.list)
                //- если страница о компании
                if (pageSettings.pageTitle == 'about')
                    each item in params.list
                        +mini-news(item)(class="info-noize__mini-news mini-news_about")
                else
                    //- в других вариантах
                    each item in params.list
                        +mini-news(item)(class="info-noize__mini-news")
            else
                each item in params
                    +mini-news(item)(class="info-noize__mini-news_war")

