include ../tags/tags
include ../tags-default/tags-default
mixin popup-help(data)
    //- справка
    +b.help

        +e.HEADER.header
            a.link-black(href=jv0)
                span ?
                | справка
            a.icon.icon-delete-lg(href=jv0)

        +e.FORM.form(action='' method='POST')

            .form-group
                textarea.textarea.textarea--light.input-block Министр иностранных дел Великобритании Борис Джонсон

            .form-group.form-group--horizontal
                .checkbox
                    input(type='checkbox' id='checkbox1' name='checkbox1' value='kek')
                    label(for='checkbox1') Информация
                .checkbox
                    input(type='checkbox' id='checkbox2' name='checkbox1' value='kek')
                    label(for='checkbox2') Фото
                .checkbox
                    input(type='checkbox' id='checkbox3' name='checkbox1' value='kek')
                    label(for='checkbox3') Видео

            .form-group
                button.btn.btn-block.btn-success Поиск

            .form-group
                +b.gallery
                    +e.pics
                        +e.item
                            img(src='%=static=%img/content/help1.png')
                        +e.item
                            img(src='%=static=%img/content/help2.png')
                        +e.item
                            img(src='%=static=%img/content/help3.png')
                        +e.item
                            img(src='%=static=%img/content/help4.png')
                        +e.item
                            img(src='%=static=%img/content/help5.png')
                    +e.A.btn-add(href=jv0)
                        span +

            .form-group
                +e.P.text.text-opacity Министр иностранных дел и по делам Содружества Наций (англ. Her Majesty's Principal Secretary of State for Foreign and Commonwealth Affairs, точный перевод Её Величества Главный Государственный Секретарь по иностранным и Содружества Наций делам), обычно упоминается как министр иностранных дел, является членом Правительства Её Величества, возглавляя министерство иностранных дел и по делам Содружества Наций, является ответственным за отношения с иностранными государствами, за вопросы, имеющие отношение к Содружеству Наций и заморским территориям Великобритании, а также за продвижение британских интересов за границей...

            .form-group
                +tags-default()