
mixin more-video(data)
    - params = data
    +b.more-video()&attributes(attributes)
        block
        +e.title.section-title Из эфира
        +e.list
            each item in params
                if (pageSettings.htmlClass == 'war')
                    +from-enter(item)(class="from-enter_border more-video__from-enter")
                else
                    +from-enter(item)(class="more-video__from-enter")
