@import "~style/mixins";
@import "~style/vars";

.banner-preview {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__img {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: rem(1247);
        height: rem(143);
    }

    &__left-part,
    &__right-part {
        position: relative;
        z-index: 1;

        padding-top: rem(47);
    }

    &__left-part {
        padding-left: rem(20);
    }

    &__right-part {
        box-sizing: content-box;
        width: rem(736);
        padding-right: rem(197);
    }

    &__title-group {
        font-size: rem(18);
        line-height: rem(26);
        color: $white;
        text-transform: uppercase;
    }

    &__subtitle-group,
    &__title-programm {
        font: #{rem(24)}/ #{rem(26)} $stemBold;
        color: $white;
        text-transform: uppercase;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: rem(736);
    }

    &__subtitle-programm {
        font-size: rem(14);
        line-height: rem(26);
        color: $blue;
        text-transform: uppercase;
    }

    &__programm-title {
        font-size: rem(14);
        line-height: rem(18);
        color: $blue;
        text-transform: uppercase;
    }

    &__programm-time {
        font-size: rem(24);
        line-height: rem(24);
        color: $white;
    }

    &__delimeter {

        img {
            box-sizing: content-box;
            width: rem(25);
            height: rem(58);
        }
    }

    &__delimeter_one {
        padding-right: rem(11);
        padding-left: rem(16);
    }

    &__delimeter_two {
        padding-right: rem(7);
        padding-left: rem(41);
    }

    &__part-title {
        margin-top: rem(8);
    }

    &__part-time {
        margin-top: rem(12);
    }
}
