mixin stats-editor(data)
    +b.TABLE.table.stats-editor()&attributes(attributes)
        thead
            tr
                th.col-name 
                    +user('Поликарпов Анатолий', '%=static=%img/content/user1.png')
                th.col-time Опубликовано
                    i.icon.icon-dropdown
                th.col-write Время написания
                th.col-views Просмотры
                th.col-clicks Клики
        tbody
            //- создает 2ух пиксельную прослойку между шапкой и телом
            tr.table-space
                td

            tr
                td Ожидания и реальность выборов в Америке
                td 10:35
                td 26 мин
                td 6 780
                td 7 674
            tr
                td Почему Трамп победил: секрет
                td 16:00
                td 44 мин
                td 4 539
                td 4 539
            tr
                td Тайны, скандалы, расследования
                td 17:10
                td 12 мин
                td 1 343
                td 1 343
            tr
                td Патриоты, которые запросто могут предать Родину: кто они?
                td 22:30
                td 1 ч 24 мин
                td 789
                td 789

            tr.summary
                td Всего
                td
                td
                td 13 993
                td 25 742