include ../tabs-nav/tabs-nav
mixin programs-header(data)
    +b.HEADER.header.header-off()&attributes(attributes)
        +b.header-bot
            +b.header-l

                +tabs-nav(tabsNav.programs)

            +b.header-r 
                +b.FORM.form-programs(action='' method='POST')
                    .form-horizontal
                        +e.input.input-icon
                            input.input.input-block(type='text' placeholder='Поиск по программам')
                            +icon({ icon: 'search', class: 'search' })

            if block
                block