.popular {

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__part-l {
        width: rem(618);
        height: rem(450);
    }

    &__part-r {
        width: rem(284);

        &--margin {
            margin-top: rem(-8);
        }
    }

    &__title {
        padding-bottom: rem(3);
        padding-left: rem(28);

        &::before {
            top: calc(50% - #{rem(8)});
        }
        &::after {
            top: calc(50% - #{rem(11)});
        }
    }

    &__from-enter {

        &--big {
            min-height: rem(450);
            padding-bottom: 0;

            & > .from-enter__link {
                height: rem(345);
            }

            .from-enter__img {
                height: inherit;
            }

            .from-enter__category {
                margin-top: rem(-3);
            }

            .from-enter__ico {
                width: rem(36);
                height: rem(36);
            }

            .from-enter__time-keeping {
                bottom: rem(15);
            }

            .from-enter__keeping {
                left: rem(31);

                font-size: rem(16);
            }

            .from-enter__info {
                width: 100%;
                padding-right: rem(25);
                padding-left: rem(21);

                & > .from-enter__link {
                    font-size: rem(24);
                    line-height: rem(26);
                }
            }
        }
    }

    &__list-video {
        margin-top: rem(25);

        .list-video__title {
            font-size: rem(16);
            line-height: rem(18);
            letter-spacing: 0;
        }
    }
}
