.top-button {
    &__btn {
        @include bg($toTop);
        display: block;
    }
    span {
        font-family: $stemReg;
        font-size: 10px;
        font-weight: 400;
        color: rgba(84, 95, 105, 0.55);
    }
}