.top-button {
    &__btn {
        display: block;
        @include bg($toTop);
    }
    span {
        color: rgba(84, 95, 105, 0.55);
        font-family: $stemReg;
        font-size: 10px;
        font-weight: 400;
    }
}