include ../search/search
include ../rss/rss
include ../top-menu/top-menu
include ../burger/burger
include ../logo/logo

mixin header(data)
    +b.HEADER.header(class=pageSettings.headerClass)&attributes(attributes)
        block
        if (pageSettings.htmlClass == 'war')
            +e.A.alarm-block(href=jv0)
                +e.DIV.container.container.header__container_alarm
                    +e.P.when Сегодня
                    +e.P.event Руководитель Северной Кореи убит в результате спецоперации
                    +e.SPAN.event-link Всё об этом
        +e.container.container
            +e.left-part
                +e.part-wrapper

                    +burger(class="header__burger")

                    +logo(class="header__logo")

                    +top-menu(top_menu.list)(class="header__top-menu")

            +e.right-part

                +rss(class="header__rss")

                +search(class="header__search")

