.header {
    background-color: $bg-gray;

    &_margin {
        margin-bottom: rem(43);
    }

    &::before {
        content: '';

        display: block;
        width: 100%;
        height: rem(70);

        background-color: $purple;
    }

    &.position {
        position: relative;
        z-index: 1;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: rem(11);
        padding-bottom: rem(8);

        &_alarm {
            @include padding_y(0);
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            min-height: inherit;
        }
    }

    &__part-wrapper {
        display: flex;
        flex-direction: row;
    }

    &__burger {
        padding-top: rem(7);

        cursor: pointer;
    }

    &__logo {
        position: relative;

        width: rem(138);
        margin-right: rem(28);
        margin-left: rem(38);

        .logo__img {
            width: rem(138);
        }
    }

    &__rss,
    &__search {
        float: right;
    }

    &__rss {
        margin-left: rem(27);
    }

    &__alarm-block {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: rem(70);

    }

    &__when,
    &__event-link {
        font-size: rem(18);
        line-height: rem(40);
        color: $white;
    }

    &__when {
        margin-right: rem(17);
    }

    &__event-link {
        flex-grow: 2;

        text-align: right;
        text-decoration: none;
    }

    &__event {
        font: #{rem(24)} / #{rem(40)} $stemBold;
        color: $white;
    }

}
