@import "~style/mixins";
@import "~style/vars";

.general-video {
    position: relative;
    overflow: hidden;
    transition: height .3s;

    &__close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: -17px;
        z-index: 11;

        img {
            cursor: pointer;
            width: 100%;
        }
    }

    &::before {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;
        width: rem(300);
        height: inherit;

        background-color: rgba(0, 0, 0, .32);
    }

    @include below($mobile) {
        margin-top: rem(15);
    }

    @include above($tablet) {
        height: rem(505);
        margin-top: rem(17);
    }

    @include above($tabletLandscape) {
        height: rem(530);
        margin-top: 0;
    }

    @include above($desktop) {
        height: rem(593);
    }

    &_play::before {
        display: none;
    }

    &_collapsed {
        height: rem(396);

        @include below($tabletMax) {
            height: rem(335);
        }

        @include below($mobile) {
            margin-right: 0;
            width: rem(300);
            height: auto;
        }
    }

    iframe {
        border: none;
        height: 100%;
        width: 100%;
    }

    &__date {
        margin-left: rem(18);

        font-size: rem(16);
        line-height: rem(18);
        color: $white;
    }

    &__img {
        width: rem(300);
        object-fit: cover;
        object-position: bottom;

        @include below($mobile) {
            height: rem(390);
            margin-top: rem(15);
        }

        @include above($tablet) {
            margin-top: rem(17);
            height: rem(505);
        }

        @include above($tabletLandscape) {
            margin-top: 0;
            height: rem(531);
        }

        @include above($tabletLandscape) {
            height: rem(593);
        }
    }

    &__info {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

        width: rem(300);
    }

    &__link {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: rem(300);
        height: rem(593);
    }

    &__title {
        @include padding_y(#{rem(10)});
        display: block;
        width: rem(250);
        padding-right: rem(75);
        padding-left: rem(15);
        padding-bottom: rem(18);

        font-size: rem(16);
        font-weight: 700;
        line-height: rem(18);
        color: $white;

        background-color: $blue;
    }

    &__date_position {
        position: relative;

        margin-bottom: rem(11);
    }

    &__span {
        position: absolute;
        top: calc(50% - #{rem(9)});
        left: 31px;
    }

    &__ico {
        width: rem(36);
        height: rem(36);
    }

    &__logo {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;

        display: inline-block;
        width: rem(137);
        height: rem(94);
        background-image: url(./purple-rtvi.png);
        background-size: contain;
    }

    &__logo-title {
        position: absolute;
        z-index: 1;
        top: rem(5);
        left: rem(4);

        font-size: rem(16);
        line-height: rem(18);
        color: $white;
        text-transform: uppercase;
    }

    &_left {

        .general-video__logo {
            right: auto;
            left: 0;

            width: rem(147);
            height: rem(85);

            background-image: url(./green-rtvi-left.png);
        }

        .general-video__logo-title {
            top: rem(8);
            right: rem(12);
            left: auto;
        }
    }

    &_no-overlay {
        &::before {
            display: none;
        }
    }

    &_idx {

        .general-video__ico {
            position: absolute;
            left: calc(50% - #{rem(48)});
            top: calc(50% - #{rem(60)});
            width: rem(96);
            height: rem(96);
            border: 1px solid $white;
        }

        .general-video__span {
            left: 0;
            font-size: rem(18);
            font-weight: 700;
            line-height: rem(24);
        }

        .general-video__date_position {
            margin-bottom: rem(27);
        }

        .general-video__ico_small {
            display: none;
        }
    }
}
