// File for scss-vars.
// For example: main colors, paddings and so on.

$bg-gray: #253646;
$white: #fff;
$purple: #a03761;
$gray: #ccc;
$gray-dirty: #77808f;
$gray-light: #eeeff1;
$black: #282828;
$blue: #00a5b6;
$dark: #243647;
$gray-date: #999;
$zero: #000;
$enter: #243746;
$copyright: #c9e2f7;
$category-title: #993366;
$category-border: #3f4142;
$bg-text: #eaecee;
$crumb: #019bab;
$bg-square: #817f7f;
$war: #cc0000;
$box: #50687b;


$stemReg: 'StemText Regular', sans-serif;
$stemBold: 'StemText Bold', sans-serif;
