// File for scss-vars.
// For example: main colors, paddings and so on.

$bg-gray: #253646;
$white: #fff;
$purple: #a03761;
$gray: #ccc;
$gray-dirty: #77808f;
$gray-light: #eeeff1;
$black: #282828;
$blue: #00a5b6;
$dark: #243647;
$gray-date: #999;
$dark-blue: #0f7686;
$zero: #000;
$enter: #243746;
$copyright: #c9e2f7;
$category-title: #993366;
$category-border: #3f4142;
$bg-text: #eaecee;
$crumb: #019bab;
$bg-square: #817f7f;
$war: #cc0000;
$box: #50687b;
$burger-menu: #788190;
$top-menu-active: #c15a83;


$stemReg: 'StemText Regular', sans-serif;
$stemBold: 'StemText Bold', sans-serif;

/*$mobile: 719px;
$tablet: 720px;
$tabletMax: 1035px;
$tabletLandscape: 1036px;
$tabletLandscapeMax: 1599px;
$desktop: 1600px;
*/

$mobile: 614px;
$tablet: 615px;
$tabletMax: 929px;
$tabletLandscape: 930px;
$tabletLandscapeMax: 1249px;
$desktop: 1250px;
