.per-day {

    &__title {
        line-height: rem(32);

        border-bottom: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__wrapper_margin {
        margin-top: rem(17);
    }

    .block-square {

        .block-square__info {
            width: rem(250);
        }

        .block-square__title {
            margin-bottom: 0;

            letter-spacing: rem(-.2);
        }
    }

    &__block-square {

        .block-square__info {
            bottom: rem(19);
        }

        .block-square__title {
            margin-bottom: rem(42);
        }

        .block-square__title-war {
            position: relative;

            display: inline-block;

            font: #{rem(12)}/#{rem(24)} $stemReg;
            color: $white;
            text-transform: uppercase;

            &::before {
                content: '';

                position: absolute;
                z-index: -1;
                top: 0;
                left: rem(-25);

                display: block;
                width: calc(100% + #{rem(48)});
                height: 100%;

                background-color: $war;
                transform: skew(-30deg);
            }
        }
    }

    &__block-rectangle {

    }

}
