include ../block-rectangle/block-rectangle
include ../block-square/block-square

mixin per-day(data)
    - params = data
    +b.per-day()&attributes(attributes)
        block
        +e.P.title.section-title Главное за последние сутки

        +block-rectangle(params.news_one)

        +e.wrapper.per-day__wrapper_margin
            +block-square(params.news_two)

            +block-square(params.news_three)
