@import "~style/mixins";

.random-news {

    &__block-square,
    &__block-rectangle {
        height: rem(245);
    }

    &__block-square {

        &_war {
            height: rem(223);
        }

        .mini-news {
            width: rem(274);
        }
    }

    &__block-square_list {

        &::before {
            display: none;
        }

        .mini-news {
            padding-top: rem(6);
            padding-bottom: 0;

            border-bottom: none;

            &:not(:first-child) {
                margin-top: rem(3);
            }

            &:first-child {
                padding-top: rem(3);
            }
        }

        .mini-news__title {
            display: inline-block;

            font-size: rem(14);

            line-height: rem(16);
            letter-spacing: rem(-.1);
        }

        .mini-news__date {
            margin-top: rem(-1);

            letter-spacing: rem(-.2);
        }
    }

    &__block-rectangle {

        &_war {
            height: rem(358);
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    &__block {
        margin-top: rem(8);
        margin-bottom: rem(7);
    }

    &__more-goods {
        display: block;
        margin-top: rem(23);
    }

    &__img-preload {
        width: rem(945);
        height: auto;
    }
}

