include ../../node_modules/bemto.pug/bemto
include ../components/icon/icon

include ../components/header/header
include ../components/stats-header/stats-header
include ../components/news-list/news-list
include ../components/tags/tags
include ../components/tags-default/tags-default
include ../components/rating/rating
include ../components/status/status
include ../components/user/user
include ../components/image-header/image-header
include ../components/text-header/text-header
include ../components/popup-help/popup-help
include ../components/popup-news-view/popup-news-view
include ../components/popup-dynamic/popup-dynamic
include ../components/popup-push/popup-push
include ../components/popup-editor-preview/popup-editor-preview
include ../components/popups/popups
include ../components/chat/chat
include ../components/tabs-nav/tabs-nav
include ../components/stats-article/stats-article
include ../components/stats-editor/stats-editor
//- include ../components/footer/footer
include ../components/nav-side/nav-side
include ../components/programs-header/programs-header
include ../components/programs/programs
include ../components/live-list/live-list
include ../components/live-item/live-item
include ../components/profile/profile
include ../components/profile-history/profile-history

include ../components/p-working/p-working
include ../components/p-editor-view/p-editor-view
include ../components/p-main/p-main

-const pageSettings = {}
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;
-pageSettings.navSide = true;
-pageSettings.header = true;
-pageSettings.contentWrap = true;

-const jv0 = 'javascript:void(0)';

block vars

doctype html
html(lang='ru')
    include ../components/head/head

    body

        +nav-side()

        +header()
            +b.header-bot
                +b.header-l

                +b.header-r

        if pageSettings.contentWrap
            .content
                block content
        else
            block content

            //- +footer()

        script(src='%=static=%js/main%=hash=%%=min=%.js')
