include ../../node_modules/bemto.pug/bemto
include ../components/icon/icon

include ../components/header/header
include ../components/stats-header/stats-header
include ../components/news-list/news-list
include ../components/tags/tags
include ../components/tags-default/tags-default
include ../components/rating/rating
include ../components/status/status
include ../components/popup-help/popup-help
include ../components/popup-news-view/popup-news-view
include ../components/popup-dynamic/popup-dynamic
include ../components/popups/popups
include ../components/tabs-nav/tabs-nav
include ../components/stats-article/stats-article
include ../components/stats-editor/stats-editor
//- include ../components/footer/footer
include ../components/nav-side/nav-side

-const pageSettings = {}
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;
-pageSettings.navSide = true;
-pageSettings.header = true;
-pageSettings.contentWrap = true;

-const jv0 = 'javascript:void(0)';

block vars

doctype html
html(lang='ru')
    include ../components/head/head

    body

        +nav-side()

        +header()
            +b.header-bot
                +b.header-l

                +b.header-r

        if pageSettings.contentWrap
            .content
                block content
        else
            block content

            //- +footer()

        script(src='%=static=%js/main%=hash=%%=min=%.js')
