@import "~style/mixins";
@import "~style/vars";

.breadcrumb {
    position: relative;

    &::after {
        content: '';

        position: absolute;
        bottom: rem(6);
        left: 0;

        display: block;
        width: 100%;
        height: 1px;

        background-color: $gray;

        @include below($tabletLandscapeMax) {
            bottom: rem(0);
        }
    }

    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: rem(6);

        font-size: 0;

        @include below($tabletLandscapeMax) {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;

        margin-right: 15px;

        display: inline-block;
        @include padding_y(#{rem(12)});

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            bottom: rem(6);
            left: 0;

            width: 100%;
            height: rem(4);

            background-color: transparent;

            @include below($tabletLandscapeMax) {
                bottom: rem(0);
            }
        }

        &:hover {
            color: $enter;

            &::before {
                background-color: $purple;
            }

            .breadcrumbs__link {
                color: $enter;
            }
        }

        @include below($tabletLandscapeMax) {
            justify-content: space-between;
        }

        &_active {
            color: $enter;

            &::before {
                background-color: $purple;
            }

            .breadcrumb__link {
                color: $enter;
            }
        }
    }

    &__link {
        font: #{rem(16)} $stemBold;
        line-height: inherit;
        color: $crumb;
        cursor: pointer;
        vertical-align: middle;
        text-decoration: none;
    }

    &__burger {
        z-index: 8;
        position: relative;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        line-height: rem(46);
        cursor: pointer;
    }

    &__pict-burger {
        display: inline;
        vertical-align: middle;

        &_toggle {
            margin-top: rem(18);
            float: right;
            cursor: pointer;

            @include below($tabletLandscapeMax) {
                padding-top: rem(12);
            }
        }
    }

    &__toggle {
        position: absolute;
        top: rem(-7);
        background: #fff;
        width: rem(772);
        z-index: 8;
        padding-right: rem(17);
        padding-left: rem(40);
        padding-bottom: rem(22);
        border: 1px solid #ccc;


        @include below($desktop) {
            width: 100%;
        }

        &_header {
            position: relative;

            .breadcrumb__item {

                &::before {

                    @include below($tabletLandscapeMax) {
                        bottom: rem(7);
                    }
                }
            }
        }

        &_header .breadcrumb__link {
            @include below($tabletLandscapeMax) {
                line-height: rem(33);
            }
        }

        &_header:after {
            content: '';
            position: absolute;
            bottom: 0.375rem;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #ccc;
        }

    }

    &__toggle &__ul {
        flex-flow: column wrap;
        align-content: flex-start;
        height: rem(135);
        width: 100%;
        margin-top: rem(12);
        overflow: auto;

        @include below($desktop) {
            height: initial;
        }
    }

    &__toggle &__ul &__item {
        flex: 0 0 2px;
        align-self: flex-start;
        display: block;
        width: rem(229);
        margin-right: 0;
        padding-right: rem(25);
        padding-top: rem(10);
        padding-bottom: 0;

        &::before {
            display: none;
        }

        &_active {

            .breadcrumb__link {

                &::before {
                    background-color: $purple;
                }
            }
        }
    }

    &__toggle &__link {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            z-index: 1;
            bottom: rem(-6);
            left: 0;

            width: 100%;
            height: rem(4);

            background-color: transparent;

        }
    }



}
