// rating news
.rating {
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
    
    &__item {
        // width: 28px;
        // height: 28px;
        margin-right: 1px;

        input {
            display: none;
            &:checked + label {
                opacity: 1;
            }
        }

        label {
            position: relative;
            z-index: 5;

            display: block;
            width: 28px;
            height: 28px;

            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 700;
            line-height: rem(28);

            color: #ffffff;
            text-align: center;

            cursor: pointer;

            opacity: 0.31;

            &:before {

                content: ' ';

                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                display: block;
                width: 28px;
                height: 28px;

                cursor: pointer;
                
            }

            &:hover {
                opacity: 1;
            }

        }

        &.is-active {
            label {
                opacity: 1;
            }
        }

    }

    .rate1 label:before {
        background-color: #fbd78f;
    }

    .rate2 label:before {
        background-color: #fecd4b;
    }

    .rate3 label:before {
        background-color: #ffba00;
    }

    .rate4 label:before {
        background-color: #ff9c00;
    }

    .rate5 label:before {
        background-color: #ff7800;
    }

    .rate6 label:before {
        background-color: #ff4e00;
    }
    
    .rate7 label:before {
        background-color: #eb1c01;
    }

    .rate8 label:before {
        margin-right: 0;

        background-color: #aa0111;
    }

}