.news-view {
    position: relative;

    max-width: 536px;
    padding-top: 27px;
    padding-right: $pad;
    padding-bottom: 41px;
    padding-left: $pad;

    &__header {
        font-family: $opensans;
        font-size: rem(14);
        font-weight: 400;
        color: #999999;
    }

    &__title {
        margin-top: 16px;
    }

    &__sub-title {
        padding-right: 13px;
        margin-bottom: 18px;

        line-height: 22px;
        letter-spacing: 0.08px;
    }

    &__source {
        margin-left: rem(11);

        font-weight: 600;

        color: #3b77b2;
        text-decoration: none;
    }

    &__text {
        padding-right: 17px;

        font-size: rem(14);
        line-height: rem(18);
        color: #666666;

        p {
            margin-bottom: 19px;
        }

    }

    &__buttons {
        display: flex;
        margin-top: 40px;

        .btn-danger {
            height: 40px;
            margin-right: rem(3);

            font-weight: 600;
            line-height: 39px;

            .icon {
                margin-left: 8px;

                vertical-align: baseline;
            }
        }

        .btn-success {
            height: 40px;

            line-height: 39px;

            color: #666;
            
            &:hover {
                color: #fff;
            }

            .icon {
                margin-top: 2px;
                margin-left: -23px;

                vertical-align: text-top;
            }
        }

    }

    .icon-delete-lg {
        position: absolute;
        top: 14px;
        right: 14px;
    }

}
