.popup-push {
    max-width: 536px;
    padding-top: 28px;
    padding-right: $pad;
    padding-bottom: 29px;
    padding-left: $pad;

    background-color: #ffffff;

    h2 {
        margin-top: 0;
        margin-bottom: 25px;

        letter-spacing: -0.8px;
    }

    p {
        font-family: $opensans;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        letter-spacing: 0.18px;
    }

    .btn {
        margin-top: 31px;

        font-family: $opensans;
        font-size: 13px;
        font-weight: 700;
        color: #fff;

        border-color: $cl-danger;
        background-color: $cl-danger;
    }

}
