mixin popup-push(data)
    +b.popup-push()&attributes(attributes)
        h2 Анатолий!
        p Надо срочно написать материал о компромате на Медведева
        button.btn.btn-block.btn-danger Ок, понял
        block
