@import "~style/mixins";
@import "~style/vars";

.news-top_broadcast {

    .news-top {

        &__row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;

            &-item {
                margin-bottom: rem(20);
                width: rem(300);
            }
        }
        &__mini-news {
            padding-top: rem(10);
            padding-bottom: 0;

            border-bottom: none !important;

            &:nth-of-type(1) {
                padding-top: 0;
                margin-top: rem(-4);
            }

            .mini-news__title {
                display: inline-block;

                font-size: rem(14);
                line-height: rem(19);
            }

            .mini-news__date {
                margin-top: rem(-4);

                font-size: 12px;
            }
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: stretch;
            justify-content: space-between;
            margin-bottom: rem(65);
        }

        &__news-one-line {
            margin-top: rem(25);

            .block-square__info {
                bottom: rem(10) !important;
            }

            .block-square__title {
                margin-bottom: 0 !important;
            }
        }

        &__margin-top-bottom {
            margin-bottom: rem(30);
            height: rem(60);
        }

        &__left {
            margin-top: rem(-9);


        }

        &__info-noize {
            margin-top: rem(23);

            .info-noize__wrapper {
                margin-top: rem(19);
            }

            .info-noize__mini-news {

                &:first-child {

                    .mini-news__title {
                        line-height: rem(22) !important;
                    }
                }
            }

            .mini-news__title {
                letter-spacing: rem(-.5);
            }
        }

        &__enter-one {
            position: relative;

            margin-top: rem(30);
        }

        &__banner {
            margin-top: rem(9);

            @include below($tabletMax) {
                width: rem(300);
            }

        }

        &__plots-week {
            margin-top: rem(24);

            .block-rectangle-mini__points {
                margin-right: rem(10);
            }
        }

        &__per-day {
            margin-top: rem(37);

            .block-square__title {
                margin-bottom: rem(3) !important;
            }
        }

        &__banner-preview {
            height: rem(142);
            margin-top: rem(14);
            margin-bottom: rem(28);

            @include below($tabletLandscapeMax) {
                height: auto;
            }

            @include below($tabletMax) {
                margin-top: rem(-4);
                margin-bottom: rem(15);
            }

        }

        &__random-news {
            margin-top: rem(57);
            margin-bottom: rem(20);
        }

        &__subscribe {
            margin-top: rem(42);

            @include below($tabletMax) {
                margin-top: 0;
            }

            @include below($mobile) {
                margin-top: rem(20);
            }
        }

        &__more-news {
            margin-top: rem(17);

            .mini-news {

                &:not(:first-child) {
                    margin-top: rem(17);

                    .mini-news__title {
                        line-height: rem(18);
                    }
                }
            }
        }

        &__middle_ether {
            width: 100%;

            @include below($tabletLandscapeMax) {
                width: rem(615);
            }
        }

        &_margin {
            margin-top: rem(51);
        }
    }

    .news-one-line {

        &__row {
            // @include margin_y(#{rem(-7)});
            margin-bottom: rem(14);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            &_top {
                margin-bottom: rem(30);

                @include below($tabletMax) {
                    margin-bottom: rem(6);
                }
            }

            &_item-top {

                @include below($tabletMax) {
                    margin-bottom: 0;
                }

                .from-enter {

                    @include below($tabletMax) {
                        margin-bottom: rem(19);
                    }
                }
            }

            &_banners {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include below($tabletMax) {
                    margin-top: rem(-12);
                    margin-bottom: rem(21);
                }
            }

            &_after-preview {

                @include below($tabletMax) {

                    .from-enter {
                        margin-bottom: rem(20);
                    }
                }
            }

            &_after-banners {

                @include below($tabletMax) {

                    .from-enter {
                        margin-bottom: rem(20);
                    }
                }
            }
        }

        &__block-rectangle {
            @include margin_y(#{rem(7)});
            width: rem(617);
            height: rem(245);

            .block-rectangle__link,
            .block-rectangle__img {
                height: rem(245);
            }
        }

        .block-rectangle__info {
            bottom: rem(6);
        }

        &__block-square {
            @include margin_y(#{rem(7)});
            width: rem(300);

            &::before,
            .block-square__img,
            .block-square__link {
                width: rem(300);
            }

            .block-square__title {
                letter-spacing: rem(-.2);
            }

            .block-square__info {
                bottom: rem(8);
            }
        }
    }

    .plots-week {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .per-day {

        &__title {
            line-height: rem(32);

            border-bottom: none;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__wrapper_margin {
            margin-top: rem(17);
        }

        .block-square {

            .block-square__info {
                width: rem(250);
            }

            .block-square__title {
                margin-bottom: 0;

                letter-spacing: rem(-.2);
            }
        }

        &__block-square {

            .block-square__info {
                bottom: rem(19);
            }

            .block-square__title {
                margin-bottom: rem(42);
            }

            .block-square__title-war {
                position: relative;

                display: inline-block;

                font: #{rem(12)}/#{rem(24)} $stemReg;
                color: $white;
                text-transform: uppercase;

                &::before {
                    content: '';

                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: rem(-25);

                    display: block;
                    width: calc(100% + #{rem(48)});
                    height: 100%;

                    background-color: $war;
                    transform: skew(-30deg);
                }
            }
        }

        &__block-rectangle {

        }

    }

    .broadcast {

        &__popular {
            width: #{rem(300)};

            @include below($tabletLandscapeMax) {
                width: 100%;
                margin-top: rem(20);
            }

            @include below($tabletMax) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
            }

            .list-video__item {

                @include below($tabletLandscapeMax) {
                    width: 100%;
                }

                @include below($tabletMax) {
                    width: 50%;
                }

                @include below($mobile) {
                    width: 100%;
                }
            }
        }

        &__mini-news {
            @include padding_y(0);
            border-bottom: none !important;

            &:not(:first-child) {
                margin-top: rem(11);
            }

            &:first-child {

                .mini-news__title {
                    font-family: $stemBold;
                    font-size: rem(21);
                    line-height: rem(21);
                    letter-spacing: rem(-0.2);
                }
            }

            .mini-news__title {
                display: inline-block;

                font-size: rem(14);
                line-height: rem(18);
            }

            .mini-news__date {
                margin-top: rem(-5);
            }
        }
    }
}

