.p-from-the-enter {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(60);
    }

    &__left {

        &--margin {
            margin-top: rem(-12);
        }
    }

    &__right {
        margin-right: rem(3);
    }

    &__title-block {
        padding-right: rem(17);
        padding-bottom: rem(-1);
    }

    &__popular {
        padding-right: rem(15);
        margin-top: rem(23);
    }

    &__breadcrumb {
        padding-right: rem(15);
    }

    &__video-list {

        &--one-margin {
            margin-top: rem(17);
        }

        &--two-margin {
            margin-top: rem(33);
        }

        &--three-margin {
            margin-top: rem(31);
        }

        &--four-margin {
            margin-top: rem(32);
        }
    }

    &__banner {
        margin-top: rem(26);
    }

    &__subscribe {
       margin-top: rem(18);
    }

    &__list-video {

        .list-video__item:not(:first-child) {
            margin-top: rem(20);
        }

        .list-video__title {
            letter-spacing: 0;
        }

        &--right {
            margin-top: rem(28);
        }

    }

    &__banner-preview {
        height: rem(145);
        margin-top: rem(-22);
    }

    &__more-goods {
        margin-top: rem(19);
    }

    &__info-noize {
        margin-top: rem(22);

        .info-noize__mini-news:first-child {

            .mini-news__title {
                line-height: rem(23);
            }
        }

        .mini-news__title {
            letter-spacing: rem(-.2);
        }

        .mini-news__date {
            margin-top: rem(-5);

            font-size: rem(12);
        }
    }
}
