@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .4;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .4;
    }
}

.status {

    display: flex;
    align-items: center;

    &__item {
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        
        border-radius: 50%;
        background-color: #cdcdcd;

        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:last-child {
            margin-right: 0;

            animation-delay: .4s;
        }

    }

    &.is-active {
        .status__item {
            background-color: $cl-success;

            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }
    }

}

