include ../user/user
mixin p-user-edit(data)
    +b.user-edit()&attributes(attributes)
        .content-wrap

            .content-l
                +b.TABLE.table
                    thead
                        tr
                            th.col-name Пользователь
                            th.col-count Группа
                            th.col-time Статус

                    tbody
                        //- создает 2ух пиксельную прослойку между шапкой и телом
                        tr.table-space
                            td

                        each item in userEdit.items
                            tr(class= item.class)
                                td
                                    +user(item.userName, item.userPic)
                                td= item.group
                                td= item.status
            .content-r
                +b.FORM.user-edit-form
                    +user('Константинов Виталий', '%=static=%img/content/user.png')
                    .form-group
                        input.input.input-md(value='konstantin@rtvi.com' type='email' name='email' placeholder='Email')
                    .form-group
                        input.input.input-md(value='bigredcar2' type='text' name='login' placeholder='Логин')
                    .form-group
                        input.input.input-md(value='rolling_roling2' type='text' name='password' placeholder='Пароль')
                        a(href=jv0) Сбросить пароль

                    div.form-group
                        .radio
                            input(type='radio' id='radio1' name='radio1' value='lol')
                            label(for='radio1') Читатель
                        .radio
                            input(type='radio' id='radio2' name='radio1' value='lol')
                            label(for='radio2') Редактор
                        .radio
                            input(type='radio' id='radio3' name='radio1' value='lol')
                            label(for='radio3') Практикант
                        .radio
                            input(type='radio' id='radio4' name='radio1' value='lol')
                            label(for='radio4') Выпускающий

                    div.form-group
                        .toggle.toggle--doubled
                            input#cb1(type='checkbox' checked)
                            label(for='cb1')
                            span Активен
                            span Заблокирован

                    button.btn.btn-md.btn-danger
                        i.icon.icon-delete-reverse
                        | Удалить

                    button.btn.btn-md.btn-success
                        i.icon.icon-okay
                        | Сохранить

                    a.icon.icon-delete.icon-delete-reverse(href=jv0)
        
        block
