include ../user/user
mixin p-user-edit(data)
    +b.user-edit()&attributes(attributes)
        .content-wrap

            .content-l
                +b.TABLE.table.edit-table.user-edit__table
                    thead
                        tr
                            th.col-name Пользователь
                            th.col-group Группа
                            th.col-status Статус

                    tbody
                        //- создает 2ух пиксельную прослойку между шапкой и телом
                        tr.table-space
                            td

                        each item in userEdit.items
                            tr(class= item.class)
                                td
                                    +user(item.userName, item.userPic)
                                td= item.group
                                td= item.status
            .content-r
                //- добавление пользователя
                +b.FORM.user-edit-form.user-edit-form__add
                    .form-group
                        input.input.input-block(type='text' name='lastName' placeholder='Фамилия')
                    .form-group
                        input.input.input-block(type='text' name='firstName' placeholder='Имя')
                    .form-group
                        input.input.input-block(type='email' name='email' placeholder='Электронная почта')
                    .form-group
                        input.input.input-block(type='text' name='login' placeholder='Логин')
                    .form-group
                        input.input.input-block(type='text' name='password' placeholder='Пароль')

                    div.form-group.form-group__radio
                        .radio
                            input(type='radio' id='radio1' name='radio1' value='lol')
                            label(for='radio1') Читатель
                        .radio
                            input(type='radio' id='radio2' name='radio1' value='lol')
                            label(for='radio2') Редактор
                        .radio
                            input(type='radio' id='radio3' name='radio1' value='lol')
                            label(for='radio3') Практикант
                        .radio
                            input(type='radio' id='radio4' name='radio1' value='lol')
                            label(for='radio4') Выпускающий

                    div.form-group.form-group__btns
                        button.btn.btn-success Добавить пользователя

                //- изменения пользователя
                +b.FORM.user-edit-form(style='display: none')
                    +user('Константинов Виталий', '%=static=%img/content/user.png')
                    .form-group
                        input.input.input-block(value='konstantin@rtvi.com' type='email' name='email' placeholder='Email')
                    .form-group
                        input.input.input-block(value='bigredcar2' type='text' name='login' placeholder='Логин')
                    .form-group.form-group__reset
                        input.input.input-block(value='rolling_roling2' type='text' name='password' placeholder='Пароль')
                        a(href=jv0) Сбросить пароль

                    div.form-group.form-group__radio
                        .radio
                            input(type='radio' id='radio11' name='radio1' value='lol')
                            label(for='radio11') Читатель
                        .radio
                            input(type='radio' id='radio22' name='radio1' value='lol')
                            label(for='radio22') Редактор
                        .radio
                            input(type='radio' id='radio33' name='radio1' value='lol')
                            label(for='radio33') Практикант
                        .radio
                            input(type='radio' id='radio44' name='radio1' value='lol')
                            label(for='radio44') Выпускающий

                    div.form-group.form-group__toggle
                        .toggle.toggle--doubled
                            input#cb1(type='checkbox' checked)
                            label(for='cb1')
                            span Активен
                            span Заблокирован

                    div.form-group.form-group__btns
                        button.btn.btn-danger
                            i.icon.icon-delete-reverse
                            | Удалить
                        button.btn.btn-success
                            i.icon.icon-okay
                            | Сохранить

                    a.icon.icon-delete.icon-delete-reverse(href=jv0)
        
        block
