mixin general-video(data)
    +b.general-video()&attributes(attributes)
        - img = data
        block
        +e.A(href=jv0).link
        +e.IMG(src=img alt="").img
        +e.info
            +e.date.general-video__date_position
                +e.IMG(src="%=static=%img/content/video-ico/video-ico.png").ico
                +e.SPAN.span 27 марта
            +e.title Все ключевые события этого дня
            +e.logo
                +e.SPAN.logo-title Today
                +e.IMG(src="%=static=%img/content/rtvi/purple-rtvi.png" alt="").logo
