@import "~style/mixins";
@import "~style/vars";

.search {
    width: 100%;
    height: rem(33);
    margin-left: rem(20);

    color: rgba(255, 255, 255, .42);

    &_open {

        .search__input-text {
            flex: 1;

            padding-right: rem(15);
            padding-left: rem(15);

            font-family: $stemReg;
            font-size: rem(14);
            line-height: rem(33);
            color: #666666;
            text-align: left;

            background-color: #fff;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__input-text {
        height: rem(33);
        // padding-right: rem(9);

        color: rgba(255, 255, 255, .42);

        text-align: right;

        border: none;
        background-color: transparent;
        outline: none;

        transition: flex 0.3s ease, background 0.3s ease;

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__wrapper {
        position: relative;

        width: rem(17);
        height: rem(17);
        margin-top: rem(9);
        margin-left: rem(10);
    }

    &__ico {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: rem(17);
        height: rem(17);
    }

    &__input-submit {
        // display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: rem(17);
        height: rem(17);

        font-size: 0;

        cursor: pointer;
        border: none;
        background-color: transparent;
        // background-image: url('%=static=%general/search.svg');
        background-size: cover;
    }
}

