
@import "~style/mixins";
@import "~style/vars";

.search {
    height: rem(33);
    margin-left: rem(20);

    color: rgba(255, 255, 255, .42);

    @include below($mobile) {
        width: auto;
        margin-left: 0;
    }

    @include above($tablet) {
        width: rem(100);
    }

    @include above($tabletLandscape) {
        width: 100%;
    }

    &_open {

        .search__input-text {
            flex: 1;
            padding-right: rem(15);
            padding-left: rem(15);
            font-size: rem(14);
            font-family: $stemReg;
            line-height: rem(33);
            color: #666666;
            text-align: left;

            background-color: #fff;

            @include below($mobile) {
                width: rem(365);
                @include padding_x(#{rem(15)});
            }

            @include above($tablet) {
                position: absolute;
                right: rem(20);
                width: rem(440);
            }

            @include above($tabletLandscape) {
                width: rem(755);
            }

            @include above($desktop) {
                width: rem(1050);
            }
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__input-text {
        height: rem(33);
        // padding-right: rem(9);

        color: rgba(255, 255, 255, .42);

        text-align: right;

        border: none;
        background-color: transparent;
        outline: none;

        transition: flex 0.3s ease, background 0.3s ease;

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }

        @include below($mobile) {
            position: absolute;
            right: 100%;
            width: 0;
            @include padding_x(0);
        }
    }

    &__wrapper {
        position: relative;

        width: rem(17);
        height: rem(17);
        margin-top: rem(9);
        margin-left: rem(10);
    }

    &__ico {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: rem(17);
        height: rem(17);
    }

    &__input-submit {
        // display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: rem(17);
        height: rem(17);

        font-size: 0;

        cursor: pointer;
        border: none;
        background-color: transparent;
        // background-image: url('%=static=%general/search.svg');
        background-size: cover;
    }
}