// tags
.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 10px;

    &__item {
        margin-right: 6px;
        margin-bottom: 13px;

        &:last-child {
            margin-right: 0;
        }

        input {
            display: none;

            &:checked + label {
                color: #ffffff;

                border-color: #56647b;
                background-color: #56647b;
            }

        }

        label {

            display: flex;
            align-items: center;
            min-width: 64px;
            height: 24px;
            padding: 0 10px 0 10px;

            font-family: $opensans;
            font-size: rem(13);
            // line-height: 1;
            font-weight: 400;
            color: #666666;
            text-decoration: none;
            letter-spacing: 0.3px;

            border: 1px solid #cccccc;

            border-radius: 15px;
            cursor: pointer;
            
            &:hover {
                background-color: #f1f1f1;
            }

        }

    }

}