@import "~style/mixins";
@import "~style/vars";

.breadcrumbs {

    &__item {
        position: relative;

        font-family: $stemReg;
        font-size: rem(12);
        color: $gray-date;
        text-decoration: none;
        text-transform: uppercase;
        cursor: auto;

        &:after {
            content: '/';

            margin-right: rem(8);

            margin-left: rem(8);

            font-family: $stemReg;
            color: $gray;
        }

        &:last-child:after {
            display: none;
        }

        &:hover {
            color: $gray-date;
        }

        &[href] {
            color: $blue;
            cursor: pointer;

            &:hover {
                color: $blue;
            }
        }
    }
}
