mixin pages-list(data)
    +b.UL.pages-list()&attributes(attributes)
        each page in __pages
            +e.item(style="list-style-type: none;")
                +e.link(href=page.href style="color: #00a5b6;")= page.name
