.global-search-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid $gray;
    }

    &__img-block {
        width: rem(200);
        height: rem(164);
    }

    &__img,
    &__link {
        width: inherit;
        height: inherit;
    }

    &__text {
        width: calc(100% - #{rem(221)});
        padding-right: rem(59);

        &--full {
            width: 100%;
        }
    }

    &__category-link {
        margin-top: rem(-5);
    }

    &__category {
        font: #{rem(12)}/#{rem(21)} $stemReg;
        color: $purple;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__title {
        font: #{rem(18)}/#{rem(21)} $stemBold;
        color: $blue;
        text-decoration: none;
        letter-spacing: rem(-.5);
    }

    &__introtext {
        font-size: rem(14);
        line-height: rem(21);
        color: $enter;
        letter-spacing: rem(-.35);
    }

    &__time {
        font-size: rem(12);
        line-height: rem(21);
        color: $gray-date;
    }

    &--full {
        padding-bottom: rem(15) !important;
    }
}
