.breadcrumbs__item {
    position: relative;
    font-family: "StemText Regular", sans-serif;
    font-size: 0.75rem;
    color: #00a5b6;
    text-decoration: none;
    text-transform: uppercase;
}
.breadcrumbs__item:after {
    content: '/';
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-family: "StemText Regular", sans-serif;
    color: #ccc;
}
.breadcrumbs__item:last-child:after {
    display: none;
}
