@import "~style/mixins";
@import "~style/vars";

.big-news {
    position: relative;

    width: rem(617);
    height: rem(505);

    &::before {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;
        width: inherit;
        height: inherit;

        background: #000;
        opacity: .5;
        transition: opacity .5s ease-out;
    }

    &:hover::before {
        opacity: .7;
    }

    &__link {
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;
        width: inherit;
        height: inherit;

        color: transparent;
        text-decoration: none;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;

        width: inherit;
        padding-right: rem(113);
        padding-left: rem(20);
        padding-bottom: rem(25);
    }

    &__img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &__title {
        font-family: $stemBold;
        font-size: rem(36);
        line-height: rem(42);
        color: $white;
    }

    &__time-add {
        font-size: rem(12);
        line-height: rem(42);
        color: $gray;
    }

    &__time-update {
        margin-top: rem(-15);

        font-size: rem(12);
        line-height: rem(18);
        color: $purple;
        letter-spacing: rem(-.7);
    }

    &__description {
        @include padding_y(#{rem(13)});
        width: rem(548);
        padding-right: rem(76);
        padding-left: rem(20);
        margin-left: rem(-20);

        font-family: $stemBold;
        font-size: rem(14);
        line-height: rem(17);
        color: $white;

        background-color: $gray-dirty;

        .war & {
            background-color: $war;
        }
    }

    &__position_margin {
        margin-top: rem(23);
    }

    &__logo {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;

        display: inline-block;
        width: rem(146);
        height: rem(83);
    }

    &__logo-title {
        position: absolute;
        z-index: 1;
        top: rem(8);
        left: rem(14);

        font-size: rem(16);
        line-height: rem(18);
        color: $white;
        text-transform: uppercase;
    }
}
