@import "~style/mixins";
@import "~style/vars";

.big-news {
    position: relative;

    &::before {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;
        width: inherit;
        height: inherit;

        background: #000;
        opacity: .5;
        transition: opacity .5s ease-out;
    }

    &:hover::before {
        opacity: .7;
    }

    @include below($mobile) {
        width: rem(300);
        height: rem(300);
    }

    @include above($tablet) {
        width: rem(615);
        height: rem(395);
    }

    @include above($desktop) {
        width: rem(617);
        height: rem(505);
    }


    &__link {
        content: '';

        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;
        width: inherit;
        height: inherit;

        color: transparent;
        text-decoration: none;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;

        width: inherit;
        padding-right: rem(113);
        padding-left: rem(20);

        @include below($mobile) {
            padding-bottom: rem(17);
            padding-right: rem(18);
            padding-left: rem(12);
        }

        @include above($tablet) {
            padding-right: rem(148);
            padding-bottom: rem(22);
        }

        @include above($tabletLandscape) {
            padding-bottom: rem(21);
        }

        @include above($desktop) {
            padding-bottom: rem(25);
        }
    }

    &__img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &__title {
        font-family: $stemBold;
        color: $white;

        @include below($mobile) {
            margin-bottom: rem(17);
            font-size: rem(24);
            line-height: rem(26);
        }

        @include above($tablet) {
            margin-bottom: rem(16);
            font-size: rem(30);
            line-height: rem(30);
        }

        @include above($tabletLandscape) {
            margin-bottom: rem(13);
            font-size: rem(30);
            line-height: rem(30);
        }

        @include above($desktop) {
            margin-bottom: 0;
            font-size: rem(36);
            line-height: rem(42);
        }
    }

    &__time-add {
        color: $gray;

        @include below($mobile) {
            font-size: rem(12);
            line-height: rem(11);
        }

        @include above($tablet) {
            font-size: rem(10);
            line-height: rem(14);
        }

        @include above($tabletLandscape) {
            font-size: rem(10);
            line-height: rem(18);
        }

        @include above($desktop) {
            font-size: rem(12);
            line-height: rem(42);
        }
    }

    &__time-update {

        color: $purple;
        letter-spacing: rem(-.7);

        @include above($tablet) {
            font-size: rem(10);
            line-height: rem(14);
        }

        @include above($tabletLandscape) {
            margin-top: 0;
            font-size: rem(10);
            line-height: rem(14);
        }

        @include above($desktop) {
            margin-top: rem(-15);
            font-size: rem(12);
            line-height: rem(18);
        }
    }

    &__description {
        @include padding_y(#{rem(13)});
        width: rem(548);
        padding-right: rem(76);
        padding-left: rem(20);
        margin-left: rem(-20);

        font-family: $stemBold;
        font-size: rem(14);
        line-height: rem(17);
        color: $white;

        background-color: $gray-dirty;

        .war & {
            background-color: $war;
        }
    }

    &__position_margin {
        margin-top: rem(23);
    }

    &__logo {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;

        display: inline-block;
        width: rem(146);
        height: rem(83);

        @include below($mobile) {
            width: rem(88);
            height: rem(50);
        }
    }

    &__logo-title {
        position: absolute;
        z-index: 1;
        top: rem(8);
        left: rem(14);

        color: $white;
        text-transform: uppercase;

        @include below($mobile) {
            font-size: rem(10);
            line-height: rem(11);
        }

        @include above($tablet) {
            font-size: rem(16);
            line-height: rem(18);
        }
    }
}
