mixin image-header(data)
    +b.image-header()&attributes(attributes)
        +e.SPAN.item
            i.icon.icon-resize
        +e.SPAN.item
            i.icon.icon-rotate
        +e.SPAN.item
            i.icon.icon-crop
        +e.SPAN.item
            i.icon.icon-delete-lg
        block
