* {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    position: relative;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    letter-spacing: -0.04375rem;
    color: #282828;
    border-bottom: 1px solid #ccc;
}
.section-title::after, .section-title::before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
}
.section-title::before {
    z-index: 1;
    left: 0;
    top: calc(50% - 0.375rem);
    border-bottom: 0.6875rem solid #00a5b6;
    border-left: 1.25rem solid transparent;
}
.section-title::after {
    z-index: 0;
    left: 0;
    top: calc(50% - 0.5rem);
    border-top: 0.6875rem solid #a03761;
    border-left: 1.25rem solid transparent;
}
.section-title_no-border {
    border-bottom: none;
}

.left-col {
    width: 54.0625rem;
}
.left-col_position_relative {
    position: relative;
}
.left-col_width_inner {
    width: 58.125rem;
}

.middle-col {
    width: 100%;
}

.right-col {
    width: 18.75rem;
}
.right-col .enter-one {
    margin-top: 1.875rem;
}
.right-col .info-noize {
    margin-top: 1.875rem;
}

.inner-wrapper {
    margin-top: 2.6875rem;
}

.inner-default h1 {
    margin-top: 0.25rem;
    line-height: 2.4375rem;
}
.inner-default .inner-about__content {
    position: relative;
    margin-top: 1.875rem;
}
.inner-default .inner-about__content > p {
    letter-spacing: -0.02188rem;
}
.inner-default .social-links {
    position: absolute;
    top: 100%;
    left: 11.25rem;
    margin-top: -2rem;
}
.inner-default .social-links--pad {
    left: 12.25rem;
}
.inner-default .inner-about__date {
    margin-top: 0.125rem;
    font-family: "StemText Regular", sans-serif;
    font-size: 0.75rem;
    color: #999;
}
.inner-default .text-bg-gray {
    position: relative;
    width: 64.9375rem;
    min-height: 24.125rem;
    background-color: #eaecee;
}
.inner-default .text-bg-gray:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -56.25rem;
    width: 56.25rem;
    background: #eaecee;
}
.inner-default .text-bg-gray__block-text {
    position: absolute;
    bottom: -4.5rem;
    left: 17%;
    width: 26.6875rem;
    padding: 1.5rem 0 1.875rem 2.5625rem;
    text-align: right;
    letter-spacing: -0.05rem;
    background-color: #a13461;
    background-image: url(/content/text-bg-gray/text-block.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner-default .text-bg-gray__block-text::after, .inner-default .text-bg-gray__block-text::before {
    content: '';
    position: absolute;
}
.inner-default .text-bg-gray__block-text::before {
    top: 0;
    left: 100%;
    width: 2rem;
    height: 100%;
    margin-left: -0.0625rem;
    background-image: linear-gradient(-110deg, transparent 1.5625rem, #a13461 1.625rem);
}
.inner-default .text-bg-gray__block-text::after {
    top: 100%;
    left: 0;
    width: calc(100% + 1.9375rem);
    height: 2rem;
    margin-top: -0.0625rem;
    background-image: linear-gradient(15deg, transparent 1.5625rem, #a13461 1.625rem);
}
.inner-default .text-bg-gray__text {
    font: 1.125rem/ 1.5rem "StemText Bold", sans-serif;
    color: #fff;
}
.inner-default .text-bg-gray__text-lite {
    font: 0.9375rem/ 1.5rem "StemText Bold", sans-serif;
    color: #fff;
}
.inner-default .text-bg-gray__title {
    margin-bottom: 24px;
    font-family: "StemText Bold", sans-serif;
    font-size: 24px;
    line-height: 21px;
    color: #a03761;
}
.inner-default .text-bg-gray__update {
    position: absolute;
    right: -2rem;
    bottom: -1.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.6875rem;
    height: 4.6875rem;
    padding-top: 0.5rem;
    font-family: "StemText Bold", sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: url("/general/geometry/ice-cube.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-default .text-bg-gray__update:hover {
    color: #fff;
}
.inner-default .text-bg-gray--news {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 35.8125rem;
    margin-top: 0.4375rem;
    margin-bottom: 0;
}
.inner-default .text-bg-gray--news.text-bg-gray .text-bg-gray__block-text {
    z-index: 9;
    top: 1.4375rem;
    bottom: auto;
    width: 19.8125rem;
    padding: 1.4375rem 1.8125rem 2.0625rem 1.5rem;
    text-align: left;
    transition: left .3s;
    background-image: url(/content/text-bg-gray/text-block2.png);
}
.inner-default .text-bg-gray--news.text-bg-gray .text-bg-gray__block-text_play {
    left: 69.4%;
}
.inner-default .text-bg-gray--news.text-bg-gray .text-bg-gray__block-text_play:before {
    left: -25px;
    transform: scale(-1, 1);
}
.inner-default .text-bg-gray--news.text-bg-gray .text-bg-gray__block-text_play:after {
    left: -26px;
    transform: scale(-1, 1);
}
.inner-default .text-bg-gray--news.text-bg-gray .text-bg-gray__text {
    margin-bottom: 1.125rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: -0.04688rem;
}
.inner-default .text-bg-gray--news .general-video {
    width: 20rem;
    height: 35.8125rem;
    margin-right: 1.5rem;
}
.inner-default .text-bg-gray--news .general-video:before {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}
.inner-default .text-bg-gray--news .general-video__link {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}
.inner-default .text-bg-gray--news .general-video img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: auto;
    object-fit: cover;
}
.inner-default .text-bg-gray--news .general-video__ico {
    width: 2.5rem;
    height: 2.5rem;
}
.inner-default .text-bg-gray--news .general-video__date {
    margin-bottom: 1.8125rem;
}
.inner-default .text-bg-gray--news .general-video__info {
    right: 0;
    width: auto;
}
.inner-default .text-bg-gray--news .general-video__span {
    left: 2.0625rem;
    font-family: "StemText Regular", sans-serif;
    font-size: 0.875rem;
}
.inner-default .text-bg-gray--news .general-video__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 3.75rem;
    padding-right: 0.5rem;
    padding-left: 6.75rem;
    margin-left: 2.375rem;
    background-color: #77808f;
}
.inner-default .text-bg-gray--primary {
    height: auto;
    min-height: unset;
    padding-top: 1.625rem;
    padding-bottom: 4.25rem;
    padding-left: 12.1875rem;
    margin-bottom: 1.875rem;
}
