.constructor {
    margin-top: -3px;
    &__top {
        .header-l {
            flex-grow: 0;
            width: 41.8%;
            padding-right: rem(9);
            .input-icon {
                width: 100%;
                .input {
                    padding-top: 8px;

                    border: 0;
                }
            }
        }
        .header-r {
            flex-grow: 1;
            padding-left: 0;
            .form-feed {
                width: 100%;
                .btn {
                    border: 0;
                }
                .btn:nth-child(2) {
                    padding-right: rem(20);
                }
                .btn:nth-child(3) {
                    .icon-okay {
                        margin-left: rem(-26);
                    }
                }
            }
        }
    }

    .content-l {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 41.8%;
        width: 41.8%;

        @include below(1100px) {
            flex-basis: 100%;
            width: 100%;
        }
    }

    .working__item:last-child {
        .working__wrap {
            border-bottom: 0;
        }
    }

    .working__wrap {
        display: block;
        padding-right: rem(20);
    }

    .content-r {
        flex-grow: 1;
        padding-left: rem(19);

        @include below(1100px) {
            flex-basis: 100%;
            width: 100%;
            padding-right: $pad;
            margin-left: $pad;
        }
    }

    .working__ignore,
    .working__work {
        transform: none;
    }
    .working__ignore {
        top: 25px;
    }
    .working__work {
        top: 19px;
    }
    .working__cnt:not(.working__cnt--newest) {
        p.rate6 {
            padding-right: 30px;
            margin-top: -5px;

            font-size: 21px;
            line-height: 26px;
            letter-spacing: -0.35px;
        }
    }

    p.rate5 {
        margin-top: -3px;
        margin-bottom: -2px;

        font-size: 19px;
    }

    p.rate7 {
        padding-right: 26px;
        margin-top: -4px;
        margin-bottom: -2px;

        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.2px;
    }

}

.constructor-nav {
    padding-bottom: rem(10);
    padding-left: $pad;
    margin-top: rem(1);
    margin-left: rem(1);

    border-bottom: 1px solid #e8e8e8;

    &__item {
        margin-right: 20px;

        font-size: 14px;
        font-weight: 700;
        color: #006699;
        text-decoration: none;
        text-transform: uppercase;
        &.is-active,
        &:hover {
            color: #000;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.constructor-collapse {
    margin-top: rem(9);
    margin-left: rem(-19);
}

.constructor-filter-nav {
    margin-left: rem(9);
    &__item {
        margin-right: rem(21);

        font-size: 14px;
        font-weight: 700;
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        span {
            font-weight: 400;

        }
        &.is-active,
        &:hover {
            color: #000;
            span {
                color: #666;
            }
        }
        &.is-war {
            color: #c00;
            span {
                color: #c00;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.constructor-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include below(1100px) {
        margin-left: rem(-18);
    }
    .toggle {
        margin-bottom: 0;
        span {
            color: #000;
        }
    }
    &__col-l {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1px;
    }
    &__summary {
        font-size: 14px;
        font-weight: 400;
        color: #000;
    }
}
