include ../breadcrumb/breadcrumb
include ../general-video/general-video
include ../enter-one/enter-one
include ../subscribe/subscribe
include ../banner/banner

mixin p-programm(data)
    
    +b.inner-about.inner-wrapper.inner-default

        //- block
        +e.container.container

            +e.left.left-col.left-col_position_relative

                h1 Телепрограмма

                +b.programm()&attributes(attributes)

                +banner(class="general-news__banner banner__where-view")


            +e.right.right-col

                +general-video(general_video.mini_photo)(class="inner-about__general-video general-video--sm")

                +enter-one(from_enter.one)(class="inner-about__enter-one")

                +subscribe(class="general-news__subscribe")
    block
