mixin more-goods(data)
    +b.more-goods()&attributes(attributes)
        block
        +e.A(href=jv0).link
            +icon({
                icon: 'more',
                class: 'icon more-goods__icon'
            })
            if data == 'предыдущие записи'
                +e.SPAN.more-text.more-text предыдущие записи
            else if data == 'Больше сюжетов'
                +e.SPAN.more-text.more-text Больше сюжетов
            else
                +e.SPAN.more-text.more-text Больше новостей
