@import "~style/mixins";
@import "~style/vars";

.footer {
    padding-top: rem(34);
    padding-bottom: rem(50);

    background-color: $enter;

    &__container {
       display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__copyright {
        width: rem(340);

        @include below($mobile) {
            width: 50%;
        }

        @include below($tabletMax) {
            width: 100%;
            margin-bottom: rem(15);
        }

        @include above($tabletLandscape) {
            margin-top: rem(4);
            margin-bottom: 0;
        }
    }

    &__logo-footer {

        @include below($mobile) {
            margin-top: rem(-51);
        }

        @include above($tablet) {
            margin-top: rem(-72);
        }

        @include above($tabletLandscape) {
            margin-top: rem(-66);
        }
    }

    &__logo-wrapper {
        width: 100%;
    }

    &__left-part {

        @include below($mobile) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        @include above($tablet) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(340);
        }
    }

    &__middle-part {

        @include below($mobile) {
            width: 100%;
        }

        @include above($tablet) {
            width: 50%;
            margin-left: 0;
        }

        @include above($tabletLandscape) {
            width: rem(250);
            margin-left: rem(32);
        }

        @include above($desktop) {
            margin-left: rem(62);
        }
    }

    &__right-part {

        @include below($mobile) {
            display: none;
        }

        @include above($tablet) {
            width: 50%;
            margin-left: 0;
            padding-left: rem(9);
            padding-top: rem(4);
        }

        @include above($tabletLandscape) {
            width: rem(285);
            margin-left: rem(25);
            padding-left: 0;
            padding-top: 0;
        }
    }

    &__col-menu {

        .col-menu__ul {
            font-size: 0;
        }

        .col-menu__li {
            display: inline-block;

            &:nth-of-type(odd) {
                width: 61%;

                @include below($mobile) {
                    width: 47%;
                    padding-right: rem(5);
                }
            }

            &:nth-of-type(even) {
                width: 39%;

                @include below($mobile) {
                    width: 37%;
                }
            }
        }
    }
}
