@import "~style/mixins";
@import "~style/vars";

.footer {
    flex-shrink: 0;
    padding-top: rem(34);
    padding-bottom: rem(50);

    background-color: $enter;

    &__container {
       display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__copyright {

        @include below($tabletMax) {
            width: 100%;
            margin-top: rem(-2);
            margin-bottom: rem(3);
        }


        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(12);
            margin-top: rem(2);
        }

        @include above($tabletLandscape) {
            margin-top: rem(4);
            margin-bottom: 0;
        }

        .br {

            @include below($tabletMax) {
                display: inline;
            }

            @include below($mobile) {
                display: block;
            }
        }

        .copyright-text {

            @include below($tabletMax) {
                margin-top: rem(-5);
            }
        }
    }

    &__logo-footer {

        @include below($mobile) {
            margin-top: rem(-51);
        }

        @include above($tablet) {
            margin-top: rem(-72);
        }

        @include above($tabletLandscape) {
            margin-top: rem(-66);
        }
    }

    &__logo-wrapper {
        width: 100%;
    }

    &__left-part {

        @include below($mobile) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: rem(-4);
        }

        @include above($tablet) {
            width: 100%;
        }

        @include above($tabletLandscape) {
            width: rem(177);
        }

        @include above($desktop) {
            width: rem(355);
        }
    }

    &__middle-part {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include below($mobile) {
            width: 100%;
        }

        @include above($tablet) {
            width: 100%;
            margin-left: 0;
        }

        @include above($tabletLandscape) {
            width: rem(415);
            margin-left: rem(16);
        }

        @include above($desktop) {
            width: rem(510);
            margin-left: rem(27);
            margin-top: rem(4);
        }
    }

    &__right-part {

        @include below($mobile) {
            display: none;
        }

        @include above($tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 0;
            margin-top: rem(21);
        }

        @include above($tabletLandscape) {
            width: rem(285);
            margin-left: rem(36);
            margin-top: rem(-3);
            padding-left: 0;
            padding-top: 0;
        }

        @include above($desktop) {
            margin-left: rem(56);
            margin-top: rem(2);
        }
    }

    &__col-menu {

        .col-menu__ul {
            font-size: 0;
        }

        .col-menu__li {
            display: inline-block;

            &:nth-of-type(odd) {
                width: 61%;

                @include below($mobile) {
                    width: 47%;
                    padding-right: rem(5);
                }
            }

            &:nth-of-type(even) {
                width: 39%;

                @include below($mobile) {
                    width: 37%;
                }
            }
        }
    }

    &__applications {
        width: rem(240);
        margin-top: rem(-2);

        @include below($tabletLandscapeMax) {
            width: rem(150);
        }

        @include below($tabletMax) {
            width: 50%;
            padding-right: rem(68);
        }

        @include below($mobile) {
            width: rem(300);
            margin-top: rem(12);
            padding-right: 0;
        }
    }

    &__subscribe-networks {

        @include below($tabletMax) {
            width: 50%;
            margin-top: rem(-3);
            padding-left: rem(8);
        }

        .subscribe-networks__list-network {
            position: relative;
            top: rem(6);
        }

        .subscribe-networks__ico-link:not(:last-child) {

            .subscribe-networks__ico-image {
                margin-right: rem(10);
            }
        }
    }

    &__address {

        .br {

            @include below($tabletMax) {
                display: inline;
            }

            @include below($mobile) {
                display: block;
            }

            &_no-inline {

                @include below($tabletMax) {
                    display: block;
                }
            }
        }
    }
}
