@import "~style/mixins";
@import "~style/vars";

.copyright {

    &__text {
        font-size: rem(11);
        color: fade-out($copyright, .38);

        @include below($mobile) {
            line-height: rem(24);
        }

        @include above($tablet) {
            line-height: rem(17);
        }
    }
}
