include ../general-video/general-video
include ../info-noize/info-noize
include ../enter-one/enter-one
include ../text-bg-gray/text-bg-gray
include ../social-links/social-links
include ../similar-news/similar-news
include ../blockquote/blockquote
include ../breadcrumb/breadcrumb

mixin p-news-video(data)
    +b.inner-about.inner-video()&attributes(attributes)
        
        //- block
        +e.container.container
            +e.left.left-col.left-col_position_relative

                h1 Навальный сообщил о проверке прокуратурой деятельности ФБК
                +e.date 5 часов назад

                +b.text-bg-gray.text-bg-gray--news.inner-about__text-bg-gray
                    +e.block-text
                        +e.P.text Акция не была согласована властями. 
                        +e.P.text В ней участвовали до тысячи человек.
                        +e.P.text Среди задержанных — несколько журналистов. 

                    +b.general-video.general-news__general-video
                      +e.A.link(href='javascript:void(0)')
                      +e.IMG(src='https://source.unsplash.com/random/320x573', alt='', role='presentation')
                      +e.info
                        +e.date.general-video__date.general-video__date_position
                          +e.IMG.ico(src='/static/img/content/video-ico/video-ico.png', alt='', role='presentation')
                          +e.SPAN.span 04:20
                        
                        +e.logo
                          +e.SPAN.logo-title News
                          +e.IMG.logo(src='/static/img/content/rtvi/green-rtvi-left.png', alt='', role='presentation')

                        +e.title Митинги в Москве

                    +b.news-preview

                        +breadcrumb(breadcrumb.newsVideo)

                        +e.FIGURE.img

                            img(src="%=static=%img/content/big-news/kim.png", alt="")

                            +e.FIGCAPTION.source Фото: Mc_maxim / Twitter

                        +e.P.text В Минске прошла несанкционированная акция День воли. По разным данным, в ней приняли участие от 500 до тысячи человек. По оценкам TUT.BY и Радио Свобода, милиция задержала несколько сотен активистов, журналистов и случайных прохожих.
                        

                +e.content

                    +social-links(socialLinks.side)(class='social-links--vertical')

                    p Перед акцией сотрудники ОМОНа ворвались в офис правозащитной организации Весна. Там собрались наблюдатели, планировавшие следить за соблюдением прав человека на акции. Всех их сначала положили на пол, а затем задержали. Также незадолго до акции были задержан один из ее организаторов, общественный деятель Владимир Некляев.Во время проведения несанкционированной акции против коррупции в Москве в офис ФБК пришли сотрудники полиции и аррестовали весь персонал. Адвокат Илья Новиков рассказал, что происходит в здании фонда, где сейчас проводится «непонятного свойства мероприятия».

                    p Во время проведения несанкционированной акции против коррупции в Москве в офис ФБК пришли сотрудники полиции и аррестовали весь персонал. Адвокат Илья Новиков рассказал, что происходит в здании фонда, где сейчас проводится «непонятного свойства мероприятия».

                    p Аналогичные акции прошли в Бресте, Гродно, Гомеле и Витебске. Там они были согласованы с властями и обошлись без серьезных происшествий. Участники акций требуют отмены «налога на тунеядцев» и проведения свободных выборов. 

                    +blockquote('Алексей Навальный', 'Перед акцией сотрудники ОМОНа ворвались в офис правозащитной организации Весна. Там собрались наблюдатели, планировавшие следить за соблюдением прав человека на акции. Всех их сначала положили на пол, а затем задержали. Также незадолго до акции были задержан один из ее организаторов')

                    p Перед акцией сотрудники ОМОНа ворвались в офис правозащитной организации Весна. Там собрались наблюдатели, планировавшие следить за соблюдением прав человека на акции. Всех их сначала положили на пол, а затем задержали. Также незадолго до акции были задержан один из ее организаторов, общественный деятель Владимир Некляев. Аналогичные акции прошли в Бресте, Гродно, Гомеле и Витебске. Там они были согласованы с властями и обошлись без серьезных происшествий. Участники акций требуют отмены «налога на тунеядцев» и проведения свободных выборов. 

                    p 25 марта в Беларуси отмечается День воли — неофициальный праздник, посвященный объявлению независимости Белоруссии в 1918 году. 

                    +similar-news(random_news)
                    

            +e.right.right-col

                +general-video(general_video.mini_photo)(class="inner-about__general-video")

                +info-noize(info_noize)(class="inner-about__info-noize")

                +enter-one(from_enter.one)(class="inner-about__enter-one enter-one__no-border")

