.nav-side {
    position: fixed;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;

    width: 67px;

    background-color: #000000;

    transition: all 0.4s ease;

    &__item {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;

        text-decoration: none;

        border-bottom: 1px solid #000;

        background-color: #181818;

        &:last-child {
            border-color: transparent;
        }

        &.is-active,
        &:hover {
            background-color: #2e2e2e;

            .nav-side__name {
                color: #fff;
            }
        }
    }

    &__item.logo {
        background-color: #000000;
    }

    .icon-logo-light {
        display: none;
    }

    &__name {
        display: none;

        font-family: $opensans;
        font-size: 13px;
        font-weight: 400;
        color: #999999;
        text-transform: uppercase;
    }

    .badge {
        position: absolute;
        top: 10px;
        right: 13px;
    }

    // раскрытая навигация
    &.is-active {
        width: 251px;

        transition: all 0.4s ease;

        .nav-side__item {
            justify-content: flex-start;
            padding-left: $pad;
        }

        .nav-side__name {
            display: block;
            margin-left: 13px;
        }

        .badge {
            top: calc(50% - 8.5px);
            right: 22px;
        }

        .icon-logo {
            display: none;
        }

        .icon-logo-light {
            display: block;
        }

    }

}

// .is-open-nav {
//     overflow-x: hidden;

// }
.is-moved-content {
    left: 180px;

    transition: all 0.4s ease;
}
.is-moved-header {
    right: -180px;
    left: 180px;

    transition: all 0.4s ease;
}
