mixin news-list(data)
    +b.news-list()&attributes(attributes)
        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview Песков: Москва уже «серьёзно устала» от обвинений в хакерских атаках
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')

        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview Смертник на грузовике въехал в здание полиции в Египте
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')

        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview Кремль заявил о «серьезной усталости» от обвинений в кибератаках
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')

        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview В Кремле прокомментировали антитабачную концепцию Минздрава
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')

        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview Сын вице-президента "Лукойла" снова развлекается за рулем
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')

        +e.A.item
            +e.DIV.wrap
                +e.I.source.icon.icon-tass
                +e.P.preview Ученые: два небесных объекта летят в сторону Земли
                +e.SPAN.ignore.icon.icon-delete.tooltip(data-tooltip='Игнорировать')
                +e.SPAN.work.icon.icon-go-right.tooltip(data-tooltip='Работаем!')