mixin news-list(data)
    +b.news-list()&attributes(attributes)
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview Песков: Москва уже «серьёзно устала» от обвинений в хакерских атаках
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview Смертник на грузовике въехал в здание полиции в Египте
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview Кремль заявил о «серьезной усталости» от обвинений в кибератаках
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview В Кремле прокомментировали антитабачную концепцию Минздрава
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview Сын вице-президента "Лукойла" снова развлекается за рулем
        +e.A.item
            +e.I.source.icon.icon-tass
            +e.P.preview Ученые: два небесных объекта летят в сторону Земли