mixin block-rectangle-border(data)
    +b.block-rectangle-border()&attributes(attributes)
        block
        +e.A(href=jv0).link
            +e.P.title #{data.title}
            +e.date #{data.when}
