@import "~style/mixins";
@import "~style/vars";

.logo {

    &__img {
        position: absolute;
        top: rem(-10);
        left: 0;
        width: rem(138);
    }

    &__polygon1 {
        fill: #a03761;
    }

    &__polygon2 {
        fill: $white;
    }

    &__rect {
        fill: none;
    }

    &__group {
        clip-path:url(#clip-path);
    }
}
