include ../big-news/big-news
include ../now/now
include ../general-video/general-video
include ../per-day/per-day
include ../info-noize/info-noize
include ../from-enter/from-enter
include ../banner/banner
include ../random-news/random-news
include ../subscribe/subscribe
include ../more-news/more-news
include ../more-video/more-video
include ../enter-one/enter-one
include ../list-video/list-video
include ../banner-preview/banner-preview
include ../now-war/now-war

mixin general-news(data)
    +b.general-news()&attributes(attributes)
        block
        +e.container.container
            +e.left.left-col
                +e.left-wrapper

                    if (pageSettings.htmlClass == 'war')
                        //- большая новость
                        +big-news(big_news.first)(class="general-news__big-news general-news__big-news_war")
                    else
                        //- большая новость
                        +big-news(big_news.first)(class="general-news__big-news")

                    //- если война
                    if (pageSettings.htmlClass == 'war')
                        +now-war(now_war)(class="general-news__now-war")
                    else
                        //- иначе
                        //- раздел сейчас
                        +now(now)(class="general-news__now")


                +e.left-wrapper.two-wrapper.two-wrapper_war
                    //- если война
                    if (pageSettings.htmlClass == 'war')
                        //- главное война
                        +per-day(per_day.index)(class="general-news__per-day general-news__per-day_war")
                    else
                        //- главное за последние сутки
                        +per-day(per_day.index)(class="general-news__per-day")

                    //- если война
                    if (pageSettings.htmlClass == 'war')
                        //- инфошум война
                        +info-noize(info_noize.war)(class="general-news__info-noize_war")
                    else
                        //- инфошум
                        +info-noize(info_noize.news)(class="general-news__info-noize")
            +e.right.right-col
                //- ключевое видео
                +general-video(general_video.big_photo)(class="general-news__general-video")
                //- если война
                if (pageSettings.htmlClass == 'war')
                    +info-noize(info_noize.news_war)(class="general-news__info-noize_right-block")
                else
                    //- иначе
                    //- из эфира справа
                    +enter-one(from_enter.one)(class="general-news__enter-one enter-one__no-border")

            +e.left_more.left-col
                +e.left-wrapper
                    //- как смотреть
                    +banner(class="general-news__banner banner__where-view")
                if (pageSettings.htmlClass == 'war')
                    //- случайные новости под баннером
                    +random-news(random_news)(class="general-news__random-news general-news__random-news_war")
                else
                    //- случайные новости под баннером
                    +random-news(random_news)(class="general-news__random-news")

            +e.right_more.right-col
                //- подписка
                +subscribe(class="general-news__subscribe")
                if (pageSettings.htmlClass == 'war')
                    //- новости под подпиской
                    +more-news(more_news.one)(class="general-news__more-news general-news__more-news_war")
                else
                    //- новости под подпиской
                    +more-news(more_news.one)(class="general-news__more-news")

            +e.middle.middle-col
                if (pageSettings.htmlClass == 'war')
                    //- если война большой инфо баннер
                    +banner-preview(banner_preview)(class="general-news__banner-preview general-news__banner-preview_war")
                else
                    //- большой инфо баннер
                    +banner-preview(banner_preview)(class="general-news__banner-preview")

            +e.left_more.left-col
                if (pageSettings.htmlClass == 'war')
                    //- из эфира несколько видео
                    +more-video(more_video.list)(class="general-news__more-video general-news__more-video_war more-video__no-border")
                else
                    //- из эфира несколько видео
                    +more-video(more_video.list)(class="general-news__more-video more-video__no-border")

            +e.right_more.right-col
                if (pageSettings.htmlClass == 'war')
                    //- если война список видео с иконкой
                    +list-video(list_video)(class="general-news__list-video general-news__list-video_war")
                else
                    //- список видео с иконкой
                    +list-video(list_video)(class="general-news__list-video")
