mixin tags-default(data)
    +b.tags-default()&attributes(attributes)
        +e.SPAN.item Биография
        +e.SPAN.item Журналистская работа
        +e.SPAN.item Политическая карьера
        +e.SPAN.item Личная жизнь