mixin p-editor-view(data)
    +b.editor-view()&attributes(attributes)
        +e.HEADER.header
            .content-wrap
                .content-l
                    form(action='')
                        input.input.input-block(value='rtvi.com/news/2017/10/10/url/kiberataki')
                .content-r
                    +b.video-status
                        i.icon.icon-text-video-lg
                        +e.B Статус видео:
                        +e.SPAN.ready  готово
                        

        +e.action.content-wrap
            +rating(rating)
            +tags()

        .content-wrap
            .content-l
                form(action='')
                    .form-group
                        +b.form-group__label.form-group__label--right
                            span Заголовок 
                            | : осталось 30 символов
                        textarea.textarea.input-title.input-block Разведка США заявила о причастности высшего руководства РФ к хакерским атакам
                    .form-group
                        +b.form-group__label.form-group__label--right
                            <span> Подзаголовок </span> : осталось
                            
                            <span class='form-group__label--out'>-5 </span> 
                            =' '
                            | символов
                        
                        textarea.textarea.input-subtitle.input-block При этом директор национальной разведки Джеймс Кэппер сообщил, что доклад по хакерским атакм будет распространен в начале будущей недели
                    .form-group
                        +b.form-group__label.form-group__label--right
                            span Тезисы через // 
                            | : осталось 30 символов
                        textarea.textarea.input-thesis.input-block В Москве во время антикоррупционного митинга задержали Навального // Навального решили на ночь оставить под присмотром полиции //

                    .form-group
                        +b.text-edit
                            +text-header()
                            +e.cnt
                                p Разведка США исходит из того, что недавние хакерские атаки на США, приписываемые Вашингтоном Москве, могли быть санкционированы только высшим российским руководством. Такое утверждение приводится в совместном заявлении директора национальной разведки США Джеймса Клэппера, заместителя министра обороны США по разведке Марселя Леттре и главы Агентства национальной безопасности и Киберкомандования. 
                                +e.image
                                    +e.image-cnt
                                        img(src='%=static=%img/content/trump.jpeg', alt='')
                                        i.icon.icon-youtube
                                    i.icon.icon-delete-reverse

                                p Хакер Guccifer сравнил нападки США на Россию с "фейковой кибервойной".<br>"Мы считаем, что только самые высокопоставленные
                                    span.text-selected  официальные лица в России 
                                        +b.SPAN.text-selected-popup
                                            +e.SPAN.item
                                                +e.SPAN.icon
                                                    i.icon.icon-question-lite
                                                | Справка
                                            +e.SPAN.item
                                                +e.SPAN.icon
                                                    i.icon.icon-undo-lite
                                                | Править
                                    | могли санкционировать недавнее

                    .form-group
                        +b.image-edit
                            +image-header()
                            +e.cnt
                                img(src="%=static=%img/content/edit-image.png", alt="")

                    .form-group
                        +b.form-group__label.form-group__label--right Не более 4 слов через пробел
                        input.input.input-block(placeholder='Ключевые слова')

            .content-r
                +user('Поликарпов Анатолий', '%=static=%img/content/user.png')
                    i.icon.icon-dropdown
                +chat()
