.news-top {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: rem(65);
    }

    &__news-one-line {
        margin-top: rem(25);

        .block-square__info {
            bottom: rem(3) !important;
        }
    }

    &__left {
        margin-top: rem(-9);
    }

    &__info-noize {
        margin-top: rem(23);

        .info-noize__wrapper {
            margin-top: rem(19);
        }

        .info-noize__mini-news {

            &:first-child {

                .mini-news__title {
                    line-height: rem(22) !important;
                }
            }
        }

        .mini-news__title {
            letter-spacing: rem(-.5);
        }
    }

    &__enter-one {
        margin-top: rem(30);
    }

    &__banner {
        margin-top: rem(47);
    }

    &__plots-week {
        margin-top: rem(24);
    }

    &__per-day {
        margin-top: rem(37);
    }

    &__banner-preview {
        height: rem(142);
        margin-top: rem(14);
    }

    &__random-news {
        margin-top: rem(57);
    }

    &__subscribe {
        margin-top: rem(42);
    }

    &__more-news {
        margin-top: rem(17);

        .mini-news {

            &:not(:first-child) {
                margin-top: rem(17);

                .mini-news__title {
                    line-height: rem(18);
                }
            }
        }
    }
}
