include ../general-video/general-video
include ../info-noize/info-noize
include ../enter-one/enter-one
include ../text-bg-gray/text-bg-gray

mixin inner-about(data)
    +b.inner-about()&attributes(attributes)
        block
        +e.container.container
            +e.left.left-col.left-col_position_relative
                h1 О телеканале

                +text-bg-gray(class="inner-about__text-bg-gray")
                +e.content
                    +e.P RTVi — международный русскоязычный телеканал, осуществляющий вещание на территории ряда государств СНГ (Украины, Казахстана, Молдовы), Грузии, стран Балтии, Германии, Израиля, Великобритании, Испании, США, Канады, Австралии и других стран. Общая аудитория телеканала RTVi составляет около 25 млн человек.
                    +e.P Ключевая задача RTVi как глобального международного медиа — связать весь глобальный русскоязычный мир через наши общие культурные ценности, через общий язык и — что важно — общую новостную повестку.
                    +e.P RTVi — это не просто телеканал, а современное медиа, доступное во всех средах, где есть наша аудитория: и эфире,  и в социальных медиа.
                    +e.P Ценности бренда RTVi — это объективность, актуальность, открытость, доступность и, главное, — объединение разных территорий в одну глобальную русскоязычную сеть с единым языком, ментальностью и культурой.
                    +e.P Миссия канала — удовлетворить потребность аудитории в объективных и оперативных новостях и актуальных форматах.
                    +e.P Цель — создание мультиплатформенного медиа, которое в разных средах дотягивается до разных аудиторий».
                    +e.P После получения заполненной формы, мы сможем отправить Вам контактную информацию партнеров RTVi (кабельных операторов) в Вашем регионе.

                +e.H2.figure-title Наша команда
                +e.FIGURE.box-preview.inner-about__box-preview_position
                    +e.IMG(src="https://source.unsplash.com/random/782x289").box-img
                    +e.FIGCAPTION.box-text.inner-about__box-text_position Понятие политического участия отчуждает сексуальный авторитаризм. Сновидение,обретает системный европейский тип

                +e.content
                    +e.P Изменение глобальной стратегии отталкивает рейтинг, отвоевывая рыночный сегмент. Чувство аннигилирует код. Портрет потребителя по-прежнему устойчив к изменениям спроса. Организация службы маркетинга, в представлении Морено, отражает пул лояльных изданий. Поэтому ассоциация притягивает депрессивный онтогенез речи. Несмотря на сложности, сегментация рынка наблюдаема.
                        |Ценности бренда RTVi — это объективность, актуальность, открытость, доступность и, главное, — объединение разных территорий в одну глобальную русскоязычную сеть с единым языком, ментальностью и культурой.
                    +e.P Миссия канала — удовлетворить потребность аудитории в объективных и оперативных новостях и актуальных форматах.
                        | Цель — создание мультиплатформенного медиа, которое в разных средах дотягивается до разных аудиторий».
                        | После получения заполненной формы, мы сможем отправить Вам контактную информацию партнеров RTVi (кабельных операторов) в Вашем регионе.

            +e.right.right-col

                +general-video(general_video.mini_photo)(class="inner-about__general-video")

                +info-noize(info_noize.news)(class="inner-about__info-noize")

                +enter-one(from_enter.one)(class="inner-about__enter-one enter-one__no-border")

