mixin rss(data)
    +b.rss()&attributes(attributes)
        block
        +e.A(href=jv0).link
            +e.SPAN.text.rss__float_left RSS
            +e.IMG(src="%=static=%img/general/rss/rss.png").img.rss__float_right
