.rss {
    width: rem(56);

    color: rgba(255, 255, 255, .42);

    &__link {
        color: inherit;
        text-decoration: none;
    }

    &__float_left {
        float: left;
    }

    &__float_right {
        float: right;
    }
}
