mixin popup-editor-preview(data)
    +b.popup-editor-preview()&attributes(attributes)

        +b.editor-preview

            +e.time(datetime='') Сегодня, 14:32

            +e.H1.title Кремль заявил о «серьезной усталости» от обвинений в кибератаках

            +e.image-wrap

                .col-l
                    +e.img
                        img(src='%=static=%img/content/moscow.png', alt='')
                    +e.SPAN.source Источник: Интерфакс

                .col-r
                    +e.H2.subtitle Briefly: Песков сказал, что Москва устала от обвинений в кибератаках<br>Доклад разведки США о вмешательстве России в выборы по-прежнему содержит неподкрепленные обвинения

            +e.cnt

                p «У нас наблюдается серьезная усталость от этих обвинений. Это напоминает в полный рост охоту за ведьмами. Мы понимаем, что наши американские коллеги в разные этапы проходили такие этапы охоты за ведьмами», — сказал он журналистам на брифинге, передает корреспондент РБК. Пресс-секретарь президента заявил, что такие периоды «сменяются более трезвыми специалистами и более трезвыми подходами». Песков также отметил, что представленная версия доклада «не добавила субстанции для комментирования».

                +e.blockquote

                    blockquote.blockquote «Опубликованная часть ничего, кроме разочарования, не вызывает, потому что попытка навязать такое количество эмоций на такой скудный материал вызывает недоумение», — заявил пресс-секретарь президента.

                    p Английский художник Бэнкси 3 февраля открыл отель под названием The Walled Off Hotel в Вифлееме. Он находится на границе Палестинской автономии и Израиля. Об этом 3 марта написала газета Guardian.<br>В отеле — девять обычных комнат и одна класса люкс. Их стены украшены рисунками самого Бэнкси и работами других художников. Окна номеров

                p «Опубликованная часть ничего, кроме разочарования, не вызывает, потому что попытка навязать такое количество эмоций на такой скудный материал вызывает недоумение», — заявил пресс-секретарь президента. На вопрос, читал ли президент России Владимир Путин представленный американскими спецслужбами отчет, Песков ответил, что не может сказать, насколько детально глава государства ознакомился с данными.

                +e.btns
                    a.btn.btn-primary(href=jv0)
                        +icon({ icon: 'arrowLeft', class: 'arrowLeft' })
                        | Передать другому
                    a.btn.btn-success(href=jv0)
                        +icon({ icon: 'arrowRight', class: 'arrowRight' })
                        | Готово

        block
    