extends ../layouts/default

include ../components/inner-about/inner-about

block vars
    -pageSettings.title = 'О компании';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +inner-about





