extends ../layouts/default

include ../components/general-news/general-news
include ../components/pages-list/pages-list

block vars
    -pageSettings.title = 'Главная';

block content
    // Контент здесь
    main
        .container(style="background-color: #ccc;padding-left: 15px;")
            p Список страниц
            +pages-list
        +general-news

