extends ../layouts/default

include ../components/news-top/news-top

block vars
    -pageSettings.title = 'Новости верхняя';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +news-top



