extends ../layouts/default

include ../components/p-news-video/p-news-video

block vars
    -pageSettings.title = 'Новость Видео';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +p-news-video





