extends ../layouts/default

include ../components/inner-about/inner-about
include ../components/p-news-noise/p-news-noise

block vars
    -pageSettings.title = 'Новость Инфошум';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +p-news-noise()





