extends ../layouts/default

include ../components/noize-all/noize-all

block vars
    -pageSettings.title = 'Инфошум разводящая';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +noize-all



