extends ../layouts/default
include ../components/p-programm/p-programm

block vars
    -pageSettings.title = 'Телепрограмма';
    -pageSettings.headerClass = 'header_margin';

block content
    // Контент здесь
    main
        .inner-wrapper
            +p-programm
