.breadcrumb {

    &__item {
        position: relative;

        font-family: $stemReg;
        font-size: rem(12);
        color: $blue;
        text-decoration: none;
        text-transform: uppercase;

        &:after {
            content: '/';

            margin-right: rem(8);
            margin-left: rem(6);

            font-family: $stemReg;
            color: $gray;
        }

        &:last-child:after {
            display: none;
        }
    }

}
